{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Add note' %}

{% block beforeContent %}
 {{ backLink({
    href: 'case',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

        {{ textarea({
          name: "example",
          id: "example",
          label: {
            html: '<span data-ak="N">New note</span>',
            size: "s",
            isPageHeading: true
          }
        }) }}

          {{ button
            ({ 
              html: '<span data-ak="I">Submit</span>',
              href: "case"
            })
          }}
          
          {{ button
            ({ classes: "nhsuk-button--secondary nhsuk-u-margin-left-3", 
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
            }) 
          }}
          
      </div>
      </div>
    </div>
</div>

<style>

.postcode-block .nhsuk-button {
    margin-bottom: 1rem;
  }



    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-one-half {
      width: 100%
    }
  }

</style>



{% endblock %}