{% extends 'layout-fullscreen.html' %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{% set pageName = patient.status | isApplicationOrCertificate | capitalize %}


{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-m">{{ pageName }} {{ patient.certificateReference or '95 311 581 185' }}
      {{ (patient.certificateType or 'medex') | getCertificateTypeTextOrTag( true ) | safe }}
      {{ (patient.status or 'processing') | getStatusTextOrTag( true ) | safe }}{% if patient.checking === true %} {{ 'checking' | getStatusTextOrTag( true ) | safe }}{% endif %}
    </h1>

  </div>

</div>


  {% set patientLookup = data.lookupPatientAddress or {} %}

  {% if patientLookup.buildingNumber is defined %}
    {% set patientBuildingNumber = patientLookup.buildingNumber %}
  {% else %}
    {% set patientBuildingNumber = patient.address.buildingNumber %}
  {% endif %}
  
  {% if patientLookup.streetName is defined %}
    {% set patientAddressLine1 = patientLookup.streetName %}
  {% else %}
    {% set patientAddressLine1 = patient.address.streetName %}
  {% endif %}
  
  {% if patientLookup.addressLineTwo is defined %}
    {% set patientAddressLine2 = patientLookup.addressLineTwo %}
  {% else %}
    {% set patientAddressLine2 = patient.address.locality %}
  {% endif %}
  
  {% if patientLookup.town is defined %}
    {% set patientTown = patientLookup.town %}
  {% else %}
    {% set patientTown = patient.address.postTown %}
  {% endif %}
  
  {% if patientLookup.county is defined %}
    {% set patientCounty = patientLookup.county %}
  {% else %}
    {% set patientCounty = patient.address.county %}
  {% endif %}
  
  {% if patientLookup.postcode is defined %}
    {% set patientPostcode = patientLookup.postcode %}
  {% else %}
    {% set patientPostcode = patient.address.postcode %}
  {% endif %}



  {% set HCPLookup = data.lookupHCPAddress or {} %}

  {% set hcpBuildingNumber = HCPLookup.buildingNumber or '' %}
  {% set hcpStreetName = HCPLookup.streetName or '' %}
  {% set hcpAddressLine1 = (hcpBuildingNumber ~ ' ' ~ hcpStreetName) | trim %}
  
  {% set hcpAddressLine2 = HCPLookup.addressLineTwo or '' %}
  {% set hcpTown = HCPLookup.town or '' %}
  {% set hcpCounty = HCPLookup.county or '' %}
  {% set hcpPostcode = HCPLookup.postcode or '' %}
  


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-half sticky-column">

              {% from '../macros/image.njk' import image %}
              {{ image(patient.certificateType) }}

            </div>

            <!-- TWO THIRDS -->
            <div class="nhsuk-grid-column-one-half">

              <div class="nhsuk-card nhsuk-card--grey">
                <div class="nhsuk-card__content">

                      <h2 class="nhsuk-heading-m">Ask for further information</h2>


                      {% set emailConditionalHTML %}

                      {{ input({
                        id: 'sendRequestEmail',
                        name: 'sendRequestEmail',
                        label: {
                          text: 'Email address'
                        },
                        classes: 'nhsuk-input--width-20',
                        attributes: {
                          'data-focus-image': 'emailAddress',
                          autocomplete: 'email'
                        },
                        value: data.sendRequestEmail
                      }) }}
                    
                    {% endset %}


                    {% set postHTML %}
                      <!-- PATIENT ADDRESS -->
                      <p>
                        We will send your further information request to:<br>
                        <strong>
                          {% if patientBuildingNumber %}
                            {{ patientBuildingNumber }}<br>
                          {% endif %}
                      
                          {% if patientAddressLine1 %}
                            {{ patientAddressLine1 }}<br>
                          {% endif %}
                      
                          {% if patientAddressLine2 and patientAddressLine2 | trim %}
                            {{ patientAddressLine2 }}<br>
                          {% endif %}
                      
                          {% if patientTown %}
                            {{ patientTown }}<br>
                          {% endif %}
                      
                          {% if patientCounty and patientCounty | trim %}
                            {{ patientCounty }}<br>
                          {% endif %}
                      
                          {% if patientPostcode %}
                            {{ patientPostcode }}
                          {% endif %}
                        </strong>
                      </p>

                      <div class="address-button nhsuk-u-margin-top-5">
                        {{ button({
                          html: '<span data-ak="G">Change address fields using address lookup</span>',
                          classes: "nhsuk-button--secondary nhsuk-button--small",
                          href: "/v1/medex/address-lookup?addressTarget=patient&returnTo=%2Fv1%2Fmedex%2Fcannot-process-application--correction-fil%3FfurtherInformationRequest%3DpatientPost%23conditional-furtherInformationRequest-patientPost"
                        }) }}
                      </div>
                  {% endset %}


                    {% set hcpPostConditionalHTML %}

                    {{ input({
                      id: "full-name",
                      name: "fullName",
                      attributes: { 'data-focus-image' : 'healthcarePractitionerName' },
                      label: {
                        text: "Healthcare practitioner's name"
                      }
                    }) }}

                    <hr>

                    <h3 class="nhsuk-heading-xs">Healthcare practitioner's postal address</h3>

                      {% call fieldset({
                        legend: {
                          html: 'Address',
                          classes: 'nhsuk-u-visually-hidden'
                        }
                      }) %}
                      
                        {{ input({
                          label: {
                            text: "Address line 1"
                          },
                          attributes: { 'data-focus-image' : 'healthcarePractitionerAddress' },
                          id: "address-line-1",
                          name: "addressLine1",
                          autocomplete: "address-line1",
                          value: hcpAddressLine1
                        }) }}
                      
                        {{ input({
                          label: {
                            text: "Address line 2 (optional)"
                          },
                          attributes: { 'data-focus-image' : 'healthcarePractitionerAddress' },
                          id: "address-line-2",
                          name: "addressLine2",
                          autocomplete: "address-line2",
                          value: hcpAddressLine2
                        }) }}
                      
                        {{ input({
                          label: {
                            text: "Town or city"
                          },
                          classes: "nhsuk-u-width-two-thirds",
                          attributes: { 'data-focus-image' : 'healthcarePractitionerAddress' },
                          id: "address-town",
                          name: "addressTown",
                          autocomplete: "address-level2",
                          value: hcpTown
                        }) }}

                        {{ input({
                          label: {
                            html: 'County (optional)'
                          },
                          classes: 'nhsuk-u-width-two-thirds',
                          attributes: { 'data-focus-image' : 'healthcarePractitionerAddress' },
                          id: 'address-county',
                          name: 'addressCounty',
                          value: hcpCounty
                        }) }}
                      
                        {{ input({
                          label: {
                            text: "Postcode"
                          },
                          classes: "nhsuk-input--width-10",
                          attributes: { 'data-focus-image' : 'healthcarePractitionerAddress' },
                          id: "address-postcode",
                          name: "addressPostcode",
                          autocomplete: "postal-code",
                          spellcheck: false,
                          value: hcpPostcode
                        }) }}
                      
                      {% endcall %}

                      <div class="address-button nhsuk-u-margin-top-5">
                        {{ button({
                          html: '<span data-ak="H">Populate address fields using address lookup</span>',
                          classes: "nhsuk-button--secondary nhsuk-button--small",
                          href: "/v1/medex/address-lookup?source=medex&addressTarget=hcp&returnTo=%2Fv1%2Fmedex%2Fcannot-process-application--correction-fil%3FfurtherInformationRequest%3Dhcp%23address-line-1"
                        }) }}
                      </div>

                    {% endset %}


                      
                    <form method="post" action="/v1/process-application/cannot-process-application--horizontal-labels-fil" novalidate>
                      
                      {{ checkboxes({
                        idPrefix: "furtherInformation",
                        name: "furtherInformation",
                        values: data.furtherInformation,
                        fieldset: {
                          legend: {
                            text: "In which fields do you need further information?",
                            isPageHeading: false
                          }
                        },
                        hint: {
                          text: "Select all information that is missing or unclear."
                        },
                        items: [
                          {
                            value: "Patient's signature",
                            text: "Patient's signature",
                            attributes: { "data-focus-image": "patientSignature" }
                          },
                          {
                            value: "Healthcare practitioner's signature",
                            text: "Healthcare practitioner's signature",
                            attributes: { "data-focus-image": "healthcarePractitionerSignature" }
                          },
                          {
                            value: "Healthcare practitioner's contact information",
                            text: "Healthcare practitioner's contact information",
                            attributes: { "data-focus-image": "healthcarePractitionerDetails" }
                          },
                          {
                            value: "Date of birth",
                            text: "Date of birth",
                            attributes: { "data-focus-image": "dateOfBirth" }
                          },
                          {
                            value: "Full address including postcode",
                            text: "Full address including postcode",
                            attributes: { "data-focus-image": "address" }
                          },
                          {
                            value: "Email address",
                            text: "Email address",
                            attributes: { "data-focus-image": "emailAddress" }
                          },
                          {
                            value: "NHS number",
                            text: "NHS number",
                            attributes: { "data-focus-image": "nhsNumber" }
                          },
                          {
                            value: "Child's due or birth date",
                            text: "Child's due or birth date",
                            attributes: { "data-focus-image": "childsDueOrBirthDate" }
                          }
                        ]
                      }) }}
                                          
                      <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
                    
                      {{ radios({
                        idPrefix: 'furtherInformationRequest',
                        name: 'furtherInformationRequest',
                        value: data.furtherInformationRequest,
                        fieldset: {
                          legend: {
                            text: 'Who will you ask for further information?'
                          }
                        },
                        items: [
                          {
                            value: 'hcp',
                            text: 'Send to healthcare practitioner',
                            conditional: { html: hcpPostConditionalHTML }
                          },
                          {
                            value: 'patientEmail',
                            text: 'Send to patient by email',
                            conditional: { html: emailConditionalHTML }
                          },
                          {
                            value: 'patientPost',
                            text: 'Send to patient by post',
                            conditional: { 
                              html: postHTML
                            }
                          }
                        ]
                      }) }}

                      {{ textarea({
                        name: 'furtherInformationNotes',
                        id: 'furtherInformationNotes',
                        value: data.furtherInformationNotes,
                        label: {
                          text: 'Notes'
                        }
                      }) }}

                      {{ hint({
                        html: 'Your corrections will be sent to your supervisor for confirmation'
                      }) }}
                    
                    <div class="nhsuk-button-group">
                      {{ button({
                        html: '<span data-ak="I">Send further information request</span>',
                        href: '../dashboard'
                      }) }}
                    </div>
                    
                </form>
                      
                </div>
              </div>

            </div>

          </div>


    </div>
  </div>

{% endblock %}