{% extends 'layout-fullscreen.html' %}

{% if data.patientID %}
  {% set patient = data.patientID | getPatientData %}
{% endif %}

{% set forceCertificateMode = (data.certMode == "yes") %}

{% if forceCertificateMode %}
  {% set rawStatus = "active" %}
{% else %}
  {% set rawStatus = patient.status %}
{% endif %}

{% set statusForDisplay = rawStatus | getStatusTextOrTag(true) | safe %}

{% set pageName = rawStatus | isApplicationOrCertificate | capitalize %}

{% if data.certMode == "yes" %}
  {% set statusForNotes = "active" %}

{% endif %}

{% set patientForNotes = {
  status: statusForNotes,
  certificateType: patient.certificateType,
  channel: patient.channel,
  processorName: patient.processorName,
  processor: patient.processor
} %}

{% block beforeContent %}
  {{ backLink({
      href: 'javascript:history.go(-1)',
      html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">
        {{ pageName }} {{ patient.certificateReference }} - {{ patient.lastName or data['editMEDEX.lastName'] or 'Smith' }}, {{ patient.firstName or data['editMEDEX.firstName'] or 'Jane' }}
        {{ (patient.certificateType or 'medex') | getCertificateTypeTextOrTag(true) | safe }}
        {{ statusForDisplay }}
      </h1>

    </div>
  </div>

  {% set channelLinkHtml %}
    <br />
    <a class="nhsuk-link nhsuk-link--no-visited-state" href="view-application-image"><span data-ak="V">View application</span></a>
  {% endset %}


  {% set firstName = patient.firstName or data['editMEDEX.firstName'] or 'Jane' %}
  {% set lastName  = patient.lastName  or data['editMEDEX.lastName']  or 'Smith' %}

  {% set addressValue1 = data.editMEDEX.addressLineOne
    or (patient.address.buildingNumber + " " + patient.address.streetName) %}
  
  {% if data.editMEDEX.addressLineTwo is defined %}
    {% set addressValue2 = data.editMEDEX.addressLineTwo %}
  {% else %}
    {% set addressValue2 = patient.address.locality %}
  {% endif %}
  
  {% set townValue = data.editMEDEX.town 
    or patient.address.postTown %}
  
  {% if data.editMEDEX.county is defined %}
    {% set countyValue = data.editMEDEX.county %}
  {% else %}
    {% set countyValue = patient.address.county %}
  {% endif %}
  
  {% set postcodeValue = data.editMEDEX.postcode 
    or patient.address.postcode %}
  

  {% if patient.channel === 'Paper' %}

  {% set channelHTML = 'Paper' ~ channelLinkHtml %}
  {% set fulfilment = 'Post' %}

  {% set address %}
  {{ addressValue1 | trim }}<br>
  {% if addressValue2 and addressValue2 | trim %}{{ addressValue2 | trim }}<br>{% endif %}
  {{ townValue | trim }}<br>
  {% if countyValue and countyValue | trim %}{{ countyValue | trim }}{% endif %}
  {% endset %}
  
  {% if address | trim == '' %}
    {% set address = '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS' %}
  {% endif %}

  {% else %}

    {% set channelHTML = 'Digital' %}
    {% set address = '' %}
    {% set fulfilment = 'Email' %}

  {% endif %}

  {% if fulfilment == 'Email' %}
    {% set emailHTML = patient.email or data['editMEDEX.email'] or 'janedoe@example.com' %}
  {% else %}
    {% set emailHTML = '' %}
  {% endif %}


  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third">

      {{ summaryList({
        card: {
          heading: "Certificate details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
            {
              key: { text: 'Reference' },
              value: { text: patient.certificateReference or '56 913 186 386' }
            },
            {
              key: { text: 'Type' },
              value: { html: ( patient.certificateType or 'medex' ) | getCertificateTypeTextOrTag( true ) }
            },
            {
              key: { text: 'Status' },
              value: { html: ( statusForDisplay or 'active' ) | getStatusTextOrTag( true ) }
            },
            {
              key: { text: 'Channel' },
              value: { text: channelHTML | safe }
            },
            {
              key: { text: 'Fulfilment' },
              value: { text: fulfilment }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                html: patient.startDate.display or data['editMEDEX.startDisplay'] or "25 November 2025"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                html: patient.endDate.display or data['editMEDEX.expiryDisplay'] or "24 November 2026"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Application date"
              },
              value: {
                html: patient.startDate.display or "25 November 2025"
              }
            }
          ]

      }) }}
    
    </div>

    <div class="nhsuk-grid-column-one-third">
      {{ summaryList({
        card: {
          heading: "Personal details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
            {
              key: { text: 'First name' },
              value: { text: firstName }
            },
            {
              key: { text: 'Last name' },
              value: { text: lastName }
            },
            {
              key: {
                text: "Address"
              },
              value: { text: address | safe }
            },
            {
              key: {
                text: "Postcode"
              },
              value: {
                text: postcodeValue or "TR1 10TS"
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: patient.dateOfBirth.display or "24 July 1997"
              }
            },
            {
              key: {
                text: "NHS number"
              },
              value: {
                html: patient.nhsNumber or data['editMEDEX.nhsNumber'] or "123 456 7890"
              }
            },
            {
              key: {
                text: "Telephone number"
              },
              value: {
                html: data['editMEDEX.telephoneNumber'] or "07700 123 456"
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                html: emailHTML
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Medical condition"
              },
              value: {                
                html: (
                  patient.medicalCondition or data.medicalCondition
                )
              }
            }
          ]

      }) }}
    </div>

    <div class="nhsuk-grid-column-one-third sticky-column">

      {% if data.certMode == 'yes' %}

      {% from '../macros/notes.njk' import notes %}
      {{ notes(patientForNotes) }}

      {% else %}

      {% from '../macros/notes.njk' import notes %}
      {{ notes(patient) }}

      {% endif %}

    </div>

  </div>



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-button-group">

        {% macro addNoteButton() %}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: "<span data-ak='K'>Add note</span>",
            href: "add-note"
          }) }}
        {% endmacro %}
      
        {% macro cancelButton() %}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: "<span data-ak='M'>Cancel</span>",
            href: "../search"
          }) }}
        {% endmacro %}
            
        {% if patient.status == 'expired' or patient.status == 'deleted' %}
      
            {{ addNoteButton() }}
            {{ cancelButton() }}
      
        {% else %}
      
        {% if patient.status not in ['expired', 'deleted', 'processing'] %}
        
        {{ button({
          html: "<span data-ak='I'>Edit or reissue</span>",
          href: "edit-or-reissue"
        }) }}
        {% endif %}
      
        {{ addNoteButton() }}
        {{ cancelButton() }}
      
        {% endif %}
      
      </div>

  </div>
</div>

    

{% endblock %}