{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Edit details or reissue certificate' %}

{% block beforeContent %}
 {{ backLink({
    href: 'case',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{#{ patient | dump }#}

{% if data.errors %}
  {{ errorSummary({
      titleText: "There is a problem",
      errorList: data.errors
  }) }}
{% endif %}

{% set emailError = null %}
{% if data.errors %}
  {% for err in data.errors %}
    {% if err.href == "#email" %}
      {% set emailError = { text: err.text } %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set addressLineOneError = null %}
{% if data.errors %}
  {% for err in data.errors %}
    {% if err.href == "#address-line-1" %}
      {% set addressLineOneError = { text: err.text } %}
    {% endif %}
  {% endfor %}
{% endif %}


{% set postcodeError = null %}
{% if data.errors %}
  {% for err in data.errors %}
    {% if err.href == "#postcode" %}
      {% set postcodeError = { text: err.text } %}
    {% endif %}
  {% endfor %}
{% endif %}

{% set postcodeValue = patient.address.postcode %}
  {% if postcodeError %}
  {% set postcodeValue = "" %}
  {% else %}
  {% set postcodeValue = data['editMEDEX.postcode'] %}
{% endif %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

{% set channelLinkHtml %}
<br>
<a class="nhsuk-link nhsuk-link--no-visited-state"
   href="comparison">
  View application
</a>
{% endset %}


{% if patient.channel === 'Paper' %}
{% set channelHTML = 'Paper' ~ channelLinkHtml %}
{% set emailHTML = patient.email or data['editMEDEX.email'] or '' %}
{% set fulfilment = 'post' or data['editMEDEX.certificateFulfilment'] %}
{% set isDigital = false %}
{% set fulfilmentKey %} 
Certificate fulfilment
{% endset %}
{% set fulfilmentValue %}
{{  radios({
    idPrefix: "certificate-fulfilment",
    name: "editMEDEX.certificateFulfilment",
    classes: "nhsuk-radios--inline summary-list-radios",
    items: [
      { 
        value: "email", 
        html: '<span data-ak="L">Email</span>',
        checked: fulfilment == "email"
      },
      { 
        value: "post", 
        html: '<span data-ak="N">Post</span>',
        checked: fulfilment == "post"
      }
    ]
  }) }}
{% endset %}


{% else %}
  {% set channelHTML = 'Digital' %}
  {% set fulfilment = "email" %}
  {% set emailHTML = patient.email or data['editMEDEX.email'] or 'janedoe@example.com' %}
  {% set isDigital = true %}
  {% set fulfilmentValue %} {% endset %}
  {% set fulfilmentKey %} {% endset %}
  {% set postcodeValue = patient.address.postcode or data['editMEDEX.postcode'] %}

{% endif %}

{% if isDigital %}
  {% set addressValue1 = '' %}
  {% set addressValue2 = '' %}
  {% set townValue = '' %}
  {% set countyValue = '' %}

{% else %}

{% set addressValue1 = data.editMEDEX.addressLineOne
  or (patient.address.buildingNumber + " " + patient.address.streetName) %}

{% if data.editMEDEX.addressLineTwo is defined %}
  {% set addressValue2 = data.editMEDEX.addressLineTwo %}
{% else %}
  {% set addressValue2 = patient.address.locality %}
{% endif %}

{% set townValue = data.editMEDEX.town 
  or patient.address.postTown %}

{% if data.editMEDEX.county is defined %}
  {% set countyValue = data.editMEDEX.county %}
{% else %}
  {% set countyValue = patient.address.county %}
{% endif %}

{% set postcodeValue = data.editMEDEX.postcode 
  or patient.address.postcode %}

{% endif %}

{% set selected = patient.medicalCondition or [] %}
{% set selectedValue = patient.medicalCondition and patient.medicalCondition[0] %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

        <form action="edit-medex" method="post">

          {{ summaryList({
              classes: "nhsuk-summary-list--no-border",
              rows: [
              {
                key: { 
                  html: '<span data-ak="S">First name</span>'
                },
                value: 
                { 
                  html: input ({
                    id: "first-name",
                    name: "editMEDEX.firstName",
                    value: patient.firstName or data['editMEDEX.firstName'] or 'Jane'
                  })
                }
              },
                {
                  key: {
                  html: '<span data-ak="A">Last name</span>'
                  },
                  value:
                  { 
                    html: input ({
                      id: "last-name",
                      name: "editMEDEX.lastName",
                      value: patient.lastName or data['editMEDEX.lastName'] or 'Smith'
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="1">Address line 1</span>'
                  },
                  value: {
                    html: input ({
                      id: "address-line-1",
                      name: "editMEDEX.addressLineOne",
                      value: addressValue1,
                      errorMessage: addressLineOneError,
                      disabled: isDigital
                    })
                  }
                },                
                {
                  key: { 
                    html: '<span data-ak="2">Address line 2 (optional)</span>'
                },
                  value: {
                    html: input ({
                      id: "address-line-2",
                      name: "editMEDEX.addressLineTwo",
                      value: addressValue2,
                      disabled: isDigital
                    })
                  }
                },                
                {
                  key: { 
                    html: '<span data-ak="U">Town or city</span>' 
                  },
                  value: {
                    html: input ({
                      id: "town",
                      name: "editMEDEX.town",
                      classes: "nhsuk-u-width-two-thirds",
                      value: townValue,
                      disabled: isDigital
                    })
                  }
                },                
                {
                  key: { 
                    html: '<span data-ak="R">County (optional)</span>' 
                  },
                  value: {
                    html: input ({
                      id: "county",
                      name: "editMEDEX.county",
                      classes: "nhsuk-u-width-two-thirds",
                      value: countyValue,
                      disabled: isDigital
                    })
                  }
                },                
                {
                  key: { 
                    html: '<span data-ak="Z">Postcode</span>' 
                  },
                  value: 
                  {
                    html: input({
                      id: "postcode",
                      name: "editMEDEX.postcode",
                      classes: "nhsuk-input--width-5",
                      value: postcodeValue,
                      errorMessage: postcodeError
                    })
                  }
                },
                {
                  key: { 
                    text: "" 
                  },
                  value:
                  { 
                    html:
                      button({
                        html: '<span data-ak="G">Change address fields using address lookup</span>',
                        classes: "nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-3",
                        href: "address-lookup?source=medex&returnTo=/v1/medex/edit-or-reissue"
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="X">Date of birth</span>'
                  },
                  value: { 
                    html: dateInput({
                      id: "date-of-birth",
                      classes: "nhsuk-dates--inline summary-list-dates",
                      items: [
                        {
                          name: "day",
                          classes: "nhsuk-input--width-2",
                          value: patient.dateOfBirth.day or "24"
                        },
                        {
                          name: "month",
                          classes: "nhsuk-input--width-2",
                          value: patient.dateOfBirth.month + 1 or "7"
                        },
                        {
                          name: "year",
                          classes: "nhsuk-input--width-4",
                          value: patient.dateOfBirth.year or "1997"
                        }
                      ]
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="V">NHS number</span>'
                  },
                  value:
                  { 
                    html: input ({
                      id: "nhs-number",
                      name: "editMEDEX.nhsNumber",
                      classes: "nhsuk-input--width-10",
                      value: patient.nhsNumber or data['editMEDEX.nhsNumber'] or "1234567890"
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="Q">Telephone number</span>'
                  },
                  value:
                  { 
                    html: input ({
                      id: "phone-number",
                      name: "editMEDEX.telephoneNumber",
                      classes: "nhsuk-input--width-10",
                      value: "07700 123 456" or data['editMEDEX.telephoneNumber']
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="J">Email address</span>' 
                  },
                  value:
                  { 
                    html: input ({
                      id: "email",
                      name: "editMEDEX.email",
                      value: emailHTML,
                      errorMessage: emailError
                    })
                  }
                },
                {
                  key: { 
                    text: fulfilmentKey | safe 
                  },
                  value: {
                    classes: "fulfilment-value",
                    html: fulfilmentValue | safe
                  }
                },        
                {
                  key: { 
                    html: '<span data-ak="Y">Medical condition</span>'
                  },
                  value: { 
                    html: radios({
                      idPrefix: "medicalCondition",
                      name: "medicalCondition",
                      classes: "nhsuk-radios--small",
                      items: [
                        {
                          value: "permanent-fistula",
                          text: "A permanent fistula (for example, caecostomy, colostomy, laryngostomy or ileostomy) which needs continuous surgical dressing or an appliance",
                          checked: selected.includes("A permanent fistula (for example, caecostomy, colostomy, laryngostomy or ileostomy) which needs continuous surgical dressing or an appliance")
                        },
                        {
                          value: "epilepsy",
                          text: "Epilepsy which needs continuous anticonvulsive therapy",
                          checked: selected.includes("Epilepsy which needs continuous anticonvulsive therapy")
                        },
                        {
                          value: "diabetes-mellitus",
                          text: "Diabetes mellitus (not controlled by diet alone)",
                          checked: selected.includes("Diabetes mellitus (not controlled by diet alone)")
                        },
                        {
                          value: "myxoedema",
                          text: "Myxoedema (hypothyroidism requiring thyroid hormone replacement)",
                          checked: selected.includes("Myxoedema (hypothyroidism requiring thyroid hormone replacement)")
                        },
                        {
                          value: "hypoparathyroidism",
                          text: "Hypoparathyroidism",
                          checked: selected.includes("Hypoparathyroidism")
                        },
                        {
                          value: "diabetes-insipidus",
                          text: "Diabetes insipidus or other forms of hypopituitarism",
                          checked: selected.includes("Diabetes insipidus or other forms of hypopituitarism")
                        },
                        {
                          value: "hypoadrenalism",
                          text: "Forms of hypoadrenalism (for example, Addison’s Disease) for which specific substitution therapy is essential",
                          checked: selected.includes("Forms of hypoadrenalism (for example, Addison’s Disease) for which specific substitution therapy is essential")
                        },
                        {
                          value: "myasthenia-gravis",
                          text: "Myasthenia gravis",
                          checked: selected.includes("Myasthenia gravis")
                        },
                        {
                          value: "physical-disability",
                          text: "A continuing physical disability which means you cannot go out without the help of another person",
                          checked: selected.includes("A continuing physical disability which means you cannot go out without the help of another person")
                        },
                        {
                          value: "cancer",
                          text: "Cancer (treatment or effects of disease/treatment)",
                          checked: selected.includes("Cancer (treatment or effects of disease/treatment)")
                        }
                      ]
                    })                    
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="Y">Medical condition</span>'
                  },
                  value: { 
                    html: select({
                      id: "medicalCondition",
                      name: "medicalCondition",
                      value: selectedValue,                    
                      items: [
                      {
                        value: "A permanent fistula (for example, caecostomy, colostomy, laryngostomy or ileostomy) which needs continuous surgical dressing or an appliance",
                        text: "A permanent fistula (for example, caecostomy, colostomy, laryngostomy or ileostomy) which needs continuous surgical dressing or an appliance"
                      },
                      {
                        value: "Epilepsy which needs continuous anticonvulsive therapy",
                        text: "Epilepsy which needs continuous anticonvulsive therapy"
                      },
                      {
                        value: "Diabetes mellitus (not controlled by diet alone)",
                        text: "Diabetes mellitus (not controlled by diet alone)"
                      },
                      {
                        value: "Myxoedema (hypothyroidism requiring thyroid hormone replacement)",
                        text: "Myxoedema (hypothyroidism requiring thyroid hormone replacement)"
                      },
                      {
                        value: "Hypoparathyroidism",
                        text: "Hypoparathyroidism"
                      },
                      {
                        value: "Diabetes insipidus or other forms of hypopituitarism",
                        text: "Diabetes insipidus or other forms of hypopituitarism"
                      },
                      {
                        value: "Forms of hypoadrenalism (for example, Addison’s Disease) for which specific substitution therapy is essential",
                        text: "Forms of hypoadrenalism (for example, Addison’s Disease) for which specific substitution therapy is essential"
                      },
                      {
                        value: "Myasthenia gravis",
                        text: "Myasthenia gravis"
                      },
                      {
                        value: "A continuing physical disability which means you cannot go out without the help of another person",
                        text: "A continuing physical disability which means you cannot go out without the help of another person"
                      },
                      {
                        value: "Cancer (treatment or effects of disease/treatment)",
                        text: "Cancer (treatment or effects of disease/treatment)"
                      }
                    ]
                    })
                  }
                },
                {
                  key: { 
                    html: '<span data-ak="C">Notes</span>' 
                  },
                  value:
                  { 
                    html: textarea ({
                      id: "notes",
                      name: "editMEDEX.notes",
                      value: data['editMEDEX.notes']
                    })
                  }
                }
              ]
          }) }}

            {{ button
              ({ 
                html: '<span data-ak="I">Reissue</span>',
                type: "submit",
                name: "action",
                value: "reissue"
              })
            }}
            {{ button
              ({ classes: "nhsuk-button--secondary nhsuk-u-margin-left-3", 
              html: '<span data-ak="K">Save changes</span>',
              type: "submit",
                name: "save",
                value: "1"
              }) 
            }}
            {{ button
              ({ classes: "nhsuk-button--secondary nhsuk-u-margin-left-3", 
              html: '<span data-ak="M">Cancel</span>',
              href: "../search"
              }) 
            }}

        </form>

      </div>
      </div>
    </div>
</div>

<style>
.summary-list-radios {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.summary-list-radios .nhsuk-radios__item {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  flex-shrink: 0;
}

.summary-list-radios .nhsuk-radios__label {
  margin-left: 0.5rem;
  white-space: nowrap;
}

.summary-list-dates {
  display: flex;
  align-items: center;
}

  .nhsuk-summary-list__value .nhsuk-radios,
  .nhsuk-summary-list__value .nhsuk-textarea {
    margin-top: 0.5rem;
  }


    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-one-half {
      width: 100%
    }
  }

</style>



{% endblock %}