// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";
@import "nhsapp-frontend/dist/nhsapp";

// Add your custom CSS/Sass styles below.

@media (min-width: 1920px) {
  .nhsuk-width-container {
    max-width: 1440px;
  }
}

.hidden {
  display: none;
}

*[id] {
  scroll-margin-top: 4rem;
}

.patient-table .nhsuk-tag,
.patient-table tbody td:nth-child(2) {
  white-space: nowrap;
}

.patient-table .nhsuk-body-s {
  font-weight: 400;
  margin: 0;
}

.table-head-visually-hidden thead {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.nhsuk-card--grey {
  /*background-color: #d8dde0;*/
  background-color: nhsuk-colour("grey-5");
}

.nhsuk-card--grey .nhsuk-card__heading-container {
  padding: 0;
}

.nhsuk-tag--dark-grey {
  color: nhsuk-colour("grey-5");
  background-color: #354550;
}

.nhsuk-tag--expired-grey,
.nhsuk-tag--deleted-grey,
.nhsuk-tag--rejected-grey {
  color: #354550;
  border-color: #dbe0e3;
  background-color: #f0f4f5;
}

.nhsuk-inset-text--summary {
  margin-top: 0;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  max-width: none;
}

.nhsuk-tag.dashed {
  border-style: dashed;
}

.nhsuk-radios__input[aria-expanded="true"] + .nhsuk-radios__label {
  font-weight: 600;
}

/* ONE FIFTH */

.nhsuk-grid-column-one-fifth {
  box-sizing: border-box;
  width: 100%;
  padding: 0 16px;
}

.id-stats .nhsuk-grid-column-one-fifth {
  text-align: center;
  float: left;
  width: 50%;
} 

.id-stats .nhsuk-grid-column-one-fifth:last-child {
  width: 100%;
}

.id-stats .nhsuk-grid-column-one-fifth:last-child .nhsuk-card{
  background-color: #f0f4f5;
}

@include nhsuk-media-query($from: large-desktop) {
  .nhsuk-grid-column-one-fifth,
  .id-stats .nhsuk-grid-column-one-fifth,
  .id-stats .nhsuk-grid-column-one-fifth:last-child {
    width: 20%;
    width: auto;
    float: left;
  }
}

/* EXPANDABLE IMAGE */

.expandable-image::details-content {
  content-visibility: visible;
}

.expandable-image {
  width: 100%;
  display: block;
  overflow: auto;
  position: relative;
  background-color: nhsuk-colour("white");
  border: 1px solid nhsuk-colour("grey-4");
  padding-bottom: 100%;
}

.sticky-column .expandable-image {
  padding-bottom: 298px;
}

.sticky-column .expandable-image.expandable-image--half {
  padding-bottom: 148px;
}

.expandable-image+.nhsuk-card {
  margin-top: 1.25rem;
}

.expandable-image[open] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border: none;
}

.expandable-image .expandable-image__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  overflow: auto;
  scrollbar-color: grey transparent;
}

.expandable-image .expandable-image__inner img {
  display: block;
  width: auto;
  border: 32px solid nhsuk-colour("white");
}

.expandable-image .expandable-image__inner > div {
  position: relative;
}

.expandable-image .expandable-image__inner span {
  filter: blur( 15px );
  display: block;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.12);
}

.expandable-image[open] .expandable-image__inner {
  bottom: auto;
  height: 100vh;
}

.expandable-image .nhsuk-button {
  z-index: 3;
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: auto;
  background-color: green;
}

.expandable-image .nhsuk-button:active {
  top: calc(1rem + 4px);
}

.expandable-image[open] .nhsuk-button {
  position: fixed;
}

.expandable-image .closed,
.expandable-image[open] .open {
  display: inline;
}

.expandable-image .open,
.expandable-image[open] .closed {
  display: none;
}

body:has(.expandable-image[open]) {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body:has(.expandable-image[open]) *:not(:has(.expandable-image[open])) {
  display: none;
}

body:has(.expandable-image[open]) .expandable-image[open],
body:has(.expandable-image[open]) .expandable-image[open] *:not(.closed) {
  display: block;
}

/* FOCUS IMAGE */

.has-focus-image:hover {
    background-color: #d8dde0;
}

.nhsuk-grid-column-one-half.sticky-column .expandable-image {
  margin-bottom: 1.25rem;
}

@include nhsuk-media-query( $from: large-desktop ){
  .nhsuk-grid-column-one-half.sticky-column .expandable-image {
    margin-bottom: 0;
    padding-bottom: 0;
    height: 100vh;
  }
}


/* TABLE SORTER STYLES */

[aria-sort] a,
[aria-sort] a:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 15px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
  text-decoration: none;
  display: inline-block;
}

[aria-sort] a:focus {
  background-color: $nhsuk-focus-colour;
  color: $nhsuk-focus-text-colour;
  box-shadow: 0 -2px $nhsuk-focus-colour, 0 4px $nhsuk-focus-text-colour;
  outline: none;
}

[aria-sort]:first-child a {
  right: auto;
}

[aria-sort] a:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] a+span {
  display: block;
  margin: 0;
}

[aria-sort] a:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}

[aria-sort="ascending"] a:before,
[aria-sort="descending"] a:before {
  content: none;
}

[aria-sort="ascending"] a:after {
  content: " \25b2";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}

[aria-sort="descending"] a:after {
  content: " \25bc";
  font-size: .8em;
  position: absolute;
  right: -5px;
  top: 2px;
}



/* JUST AFTER LABEL */

.confidence-level {
  vertical-align: text-bottom;
  display: inline;
  white-space: nowrap;
}

.confidence-level .confidence-score {
  border-left: 0;
}

.confidence-level span+span {
  display: none;
}

/* UNDER LABEL VERSION 

.confidence-level {
  vertical-align: text-bottom;
  display: block;
  white-space: nowrap;
  margin-bottom: 0.75rem;
}

.confidence-level .confidence-score {
  border-left: 0;
}

*/



/* ALIGN TO RIGHT VERSION

.nhsuk-details__text .nhsuk-form-group {
  position: relative;
}

.confidence-level {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
*/


/* COMPARISON TABLE */

.nhsuk-table.has-error .nhsuk-table__body .nhsuk-table__header {
  padding-left: calc(0.625rem + 4px);
  position: relative;
}

.nhsuk-table.has-error .nhsuk-table__body .nhsuk-table__header.error {
  color: $nhsuk-error-colour
}

.nhsuk-table__header.error::before {
  content: '';
  position: absolute;
  top: 0.625rem;
  bottom: 0.625rem;
  left: 0;
  width: 4px;
  background-color: $nhsuk-error-colour;
}




// HORIZONTAL LABELS

.horizontal-labels .confidence-level .nhsuk-tag {
  font-size: 0.875rem;
}

.horizontal-labels .nhsuk-fieldset:has(.nhsuk-date-input) .nhsuk-fieldset__legend,
.horizontal-labels .nhsuk-fieldset:has(.nhsuk-radios) .nhsuk-fieldset__legend {
  font-weight: bold;
}

.nhsuk-grid-column-one-third+.nhsuk-grid-column-two-thirds {
  margin-top: 1.25rem;
}

@include nhsuk-media-query($from: tablet) {
  .nhsuk-grid-column-one-third+.nhsuk-grid-column-two-thirds {
    margin-top: 0;
  }
}

@include nhsuk-media-query($from: desktop) {

  .nhsuk-grid-column-one-third,
  .nhsuk-grid-column-two-thirds {
    float: none;
    width: 100%;
  }

  .horizontal-labels .nhsuk-form-group {
    margin-bottom: 1rem;
  }

  .horizontal-labels .nhsuk-fieldset:has(.nhsuk-date-input) .nhsuk-fieldset__legend {
    width: 300px;
    float: left;
    position: relative;
    top: 4rem;
  }

  .horizontal-labels .nhsuk-fieldset:has(.nhsuk-radios) .nhsuk-fieldset__legend {
    width: 250px;
    float: left;
  }

  .horizontal-labels .nhsuk-form-group .nhsuk-label:not(.nhsuk-date-input__label):not(.nhsuk-radios__label) {
    width: 250px;
    float: left;
    font-weight: 600;
    line-height: 2rem;
  }


  .horizontal-labels .nhsuk-input.nhsuk-input--width-20,
  .horizontal-labels .nhsuk-date-input,
  .horizontal-labels .nhsuk-radios {
    width: calc(100% - 250px);
  }

  .horizontal-labels .nhsuk-date-input {
    float: right;
    position: relative;
    top: -0.625rem;
  }

  .horizontal-labels .nhsuk-radios {
    float: right;
  }

  /* STICKY COLUMN */

  .sticky-column {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: hidden;
  }

  .sticky-column .nhsuk-card--grey:only-child {
    height: 100vh;
  }

  .sticky-column .expandable-image--half+.nhsuk-card--grey {
    height: calc(100vh - 1.25rem - 150px);
    margin-bottom: 0;
  }

  .sticky-column .nhsuk-card__content {
    position: relative;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sticky-column .nhsuk-card__content .scroll-container {
    height: calc(100vh - 4rem - 2px);
    padding-right: 0.625rem;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: grey transparent;
    /*background-color: red;*/
  }

  .sticky-column:has(.menu-container):has(:not(.expandable-image)) .scroll-container {
    height: calc(100vh - 4rem - 2px - 1.25rem - 0.5rem - 4px - 0.625rem);
    /*background-color: green;*/
  }

  .sticky-column:has(.expandable-image) .nhsuk-card__content .scroll-container {
    height: calc(100vh - 1.25rem - 300px - 4rem - 2px);
    /*background-color: blue;*/
  }

  .sticky-column:has(.expandable-image.expandable-image--half) .nhsuk-card__content .scroll-container {
    height: calc(100vh - 1.25rem - 150px - 4rem - 2px);
    /*background-color: blue;*/
  }

  .sticky-column:has(.menu-container):has(.expandable-image) .nhsuk-card__content .scroll-container {
    height: calc(100vh - 1.25rem - 300px - 4rem - 2px - 0.5rem - 1.25rem - 4px - 0.625rem);
    /*background-color: yellow;*/
  }

  .sticky-column:has(.menu-container):has(.expandable-image.expandable-image--half) .nhsuk-card__content .scroll-container {
    height: calc(100vh - 1.25rem - 150px - 4rem - 2px - 0.5rem - 1.25rem - 4px - 0.625rem);
    /*background-color: yellow;*/
  }

  .events-log {
    position: relative;
  }

  /*
  .events-log::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(0deg,rgba(240, 244, 245, 0) 0%, rgba(240, 244, 245, 1) 100%);
    z-index: 2;
  }

  .events-log::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(0deg,rgba(240, 244, 245, 1) 0%, rgba(240, 244, 245, 0) 100%);
    z-index: 2;
  }
    */

}

.events-log .last-of-type:before {
  content: none;
}

@include nhsuk-media-query($from: large-desktop) {

  .nhsuk-grid-column-one-third {
    float: left;
    width: calc(100%/3);
  }

  .nhsuk-grid-column-two-thirds {
    margin-top: 0;
    float: left;
    width: calc((100%/3) * 2);
  }

  .events-log:has(.menu-container):has(.scroll-container) .scroll-container .nhsuk-heading-s {
    margin-top: 0.625rem;
  }

  /* STICKY COLUMN */

  .nhsuk-grid-row:has(.sticky-column) .nhsuk-grid-column-one-third:not(.sticky-column) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .nhsuk-grid-row:has(.sticky-column) .nhsuk-grid-column-one-third:not(.sticky-column) .nhsuk-card {
    height: 100%;
  }

  .nhsuk-grid-row:has(.sticky-column) .nhsuk-grid-column-one-third .nhsuk-card,
  .nhsuk-grid-row:has(.sticky-column) .nhsuk-grid-column-two-thirds .nhsuk-card {
    margin-bottom: 0;
  }

  .nhsuk-grid-row:has(.sticky-column) {
    display: flex;
    margin-bottom: 40px;
  }

}


.menu-container .nhsuk-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0 0 0.625rem;
}

.menu-container .nhsuk-list li {
  display: block;
  margin: 0 0 0 0.5rem;
}

.menu-container .nhsuk-list li:first-child {
  margin-left: 0;
}

.menu-container .nhsuk-list li button {
  color: #005eb8;
  display: block;
  margin: 0;
  padding: 0 8px 4px 8px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  cursor: hand;
}

.menu-container .nhsuk-list li button span {
  pointer-events: none;
  display: inline-block;
}

.menu-container .nhsuk-list li button:hover span {
  text-decoration: underline;
  line-height: auto;
}

.menu-container .nhsuk-list li button:focus span {
  color: #212b32;
  background-color: #ffeb3b;
  box-shadow: 0 -2px #ffeb3b, 0 4px #212b32;
  outline: 4px solid transparent;
  text-decoration: none;
  line-height: 1em;
}

.menu-container .nhsuk-list li button[aria-pressed="true"] {
  font-weight: 600;
  border-bottom: 4px solid #005eb8;
}


.sticky-column:has(.menu-container) .nhsapp-timeline {
  margin: 1.25rem 0;
}


/* STATS */

@include nhsuk-media-query($from: desktop) {
  .nhsuk-grid-column-one-quarter {
    width: auto;
  }
}



/* PROCESSOR TABLE */

@include nhsuk-media-query($from: tablet) {
  .quality-check .nhsuk-table__header {
    width: calc(100% / 7);
  }
}

td:has(.nhsuk-icon)>span {
  vertical-align: top;
  white-space: nowrap;
}

td .nhsuk-icon {
  position: relative;
  top: 0.3rem;
}

@include nhsuk-media-query($from: tablet) {

  td:has(.nhsuk-icon)>span {
    position: relative;
    top: -0.625rem;
  }

  td .nhsuk-icon {
    position: relative;
    top: 0.5rem;
  }


}



/* TIMELINE APPLICATION */

#timeline-application .nhsapp-timeline__item:not(:last-child):before {
  border-left: 2px solid #aeb7bd;
}

#timeline-application .nhsapp-timeline__header {
  font-weight: 600;
}

#timeline-application .nhsapp-timeline__item:not(:first-child):not(.nhsapp-timeline__item--past) .nhsapp-timeline__header {
  color: $nhsuk-secondary-text-colour;
}


/* BREAKPOINTS */

/*
body::before {
  padding: 0.625rem;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  color: white;
  content: 'mobile';
  z-index: 999;
}

@include nhsuk-media-query($from: tablet) {

  body::before {
    content: 'tablet';
  }

}

@include nhsuk-media-query($from: desktop) {

  body::before {
    content: 'desktop';
  }

}

@include nhsuk-media-query($from: large-desktop) {

  body::before {
    content: 'large desktop';
  }

}
  */


/* ACCESS KEYS VISUAL HINTS */

// When ON: show (X) after any element with data-ak="X" //
.accesskeys-on [data-ak]::after {
  content: " (" attr(data-ak) ")";
}

// When OFF: show nothing //
.accesskeys-off [data-ak]::after {
  content: "";
}



/* TEMP FIX */

.nhsuk-button--small {
  min-height: 2.25rem;
  padding: 0.375rem 0.75rem;
}
.nhsuk-button--small {
  margin-bottom: 20px;
}
@media (min-width: 40.0625em) {
  .nhsuk-button--small {
    margin-bottom: 28px;
  }
}
@media (min-width: 40.0625em) {
  .nhsuk-button--small {
    font-weight: 600;
  }
  .nhsuk-button--small {
    font-size: 0.875rem;
    line-height: 1.3571428571;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .nhsuk-button--small {
    font-size: 1rem;
    line-height: 1.1875;
  }
}
@media print and (min-width: 40.0625em) {
  .nhsuk-button--small {
    font-size: 12pt;
    line-height: 19px;
  }
}


/* SMALL INPUTS TEMP FIX */

.nhsuk-checkboxes--small .nhsuk-checkboxes__item {
  margin-top: 0;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__input {
  margin-left: -0.625rem;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__label {
  padding-left: 1px;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__label::before {
  top: 0.625rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__label::after {
  top: 1.125rem;
  left: 0.375rem;
  width: 0.75rem;
  height: 0.375rem;
  border-width: 0 0 0.1875rem 0.1875rem;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__hint {
  padding-left: 2.125rem;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__conditional {
  margin-left: 0.625rem;
  padding-left: 1.25rem;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__divider {
  width: 1.5rem;
  margin: 2px 0;
  padding: 0;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__input:not(:disabled):hover + .nhsuk-checkboxes__label::before,
.nhsuk-checkboxes--small .nhsuk-checkboxes__input:not(:disabled) + .nhsuk-checkboxes__label:hover::before {
  outline: 4px dashed transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 10px #aeb7bd;
}
.nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
.nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
  box-shadow: 0 0 0 4px #ffeb3b, 0 0 0 10px #aeb7bd;
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
    outline-color: Highlight;
  }
}
@media (hover: none), (pointer: coarse) {
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:not(:disabled):hover + .nhsuk-checkboxes__label::before,
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:not(:disabled) + .nhsuk-checkboxes__label:hover::before {
    box-shadow: initial;
  }
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
  .nhsuk-checkboxes--small .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
    box-shadow: 0 0 0 4px #ffeb3b;
  }
}

/* REGULAR CHECKBOX TEMP FIX */
.nhsuk-checkboxes .nhsuk-checkboxes__input:not(:disabled):hover + .nhsuk-checkboxes__label::before,
.nhsuk-checkboxes .nhsuk-checkboxes__input:not(:disabled) + .nhsuk-checkboxes__label:hover::before {
  outline: 4px dashed transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 4px #aeb7bd;
}

.nhsuk-checkboxes .nhsuk-checkboxes__input:focus:hover + .nhsuk-checkboxes__label::before,
.nhsuk-checkboxes .nhsuk-checkboxes__input:focus + .nhsuk-checkboxes__label:hover::before {
  box-shadow: 0 0 0 4px #ffeb3b, 0 0 0 4px #aeb7bd;
}


/* SMALL RADIOS TEMP FIX */

.nhsuk-radios--small .nhsuk-radios__item {
  margin-top: 0;
}
.nhsuk-radios--small .nhsuk-radios__input {
  margin-left: -0.625rem;
}
.nhsuk-radios--small .nhsuk-radios__label {
  padding-left: 1px;
}
.nhsuk-radios--small .nhsuk-radios__label::before {
  top: 0.625rem;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
}
.nhsuk-radios--small .nhsuk-radios__label::after {
  top: 1.0625rem;
  left: 0.4375rem;
  border-width: 0.3125rem;
}
.nhsuk-radios--small .nhsuk-radios__hint {
  padding-left: 2.125rem;
}
.nhsuk-radios--small .nhsuk-radios__conditional {
  margin-left: 0.625rem;
  padding-left: 1.25rem;
}
.nhsuk-radios--small .nhsuk-radios__divider {
  width: 1.5rem;
  margin: 2px 0;
  padding: 0;
}
.nhsuk-radios--small .nhsuk-radios__input:not(:disabled):hover + .nhsuk-radios__label::before,
.nhsuk-radios--small .nhsuk-radios__input:not(:disabled) + .nhsuk-radios__label:hover::before {
  outline: 0.3125rem dashed transparent;
  outline-offset: 1px;
  box-shadow: 0 0 0 10px #aeb7bd;
}
.nhsuk-radios--small .nhsuk-radios__input:focus:hover + .nhsuk-radios__label::before,
.nhsuk-radios--small .nhsuk-radios__input:focus + .nhsuk-radios__label:hover::before {
  box-shadow: 0 0 0 0.3125rem #ffeb3b, 0 0 0 10px #aeb7bd;
}
@media screen and (forced-colors: active), (-ms-high-contrast: active) {
  .nhsuk-radios--small .nhsuk-radios__input:focus:hover + .nhsuk-radios__label::before,
  .nhsuk-radios--small .nhsuk-radios__input:focus + .nhsuk-radios__label:hover::before {
    outline-color: Highlight;
  }
}
@media (hover: none), (pointer: coarse) {
  .nhsuk-radios--small .nhsuk-radios__input:not(:disabled):hover + .nhsuk-radios__label::before,
  .nhsuk-radios--small .nhsuk-radios__input:not(:disabled) + .nhsuk-radios__label:hover::before {
    box-shadow: initial;
  }
  .nhsuk-radios--small .nhsuk-radios__input:focus:hover + .nhsuk-radios__label::before,
  .nhsuk-radios--small .nhsuk-radios__input:focus + .nhsuk-radios__label:hover::before {
    box-shadow: 0 0 0 0.3125rem #ffeb3b;
  }
}