{% extends 'layout-fullscreen-normal-content.html' %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{% set pageName = 'Application accepted' %}

{% block content %}
 

{% set firstName = patient.firstName or data['editMEDEX.firstName'] or 'Jane' %}
{% set lastName = patient.lastName or data['editMEDEX.lastName'] or 'Smith' %}
{% set fullName = firstName ~ ' ' ~ lastName %}
{% set certificateReference = patient.certificateReference or '8436 810 379' %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    {{ panel({
      titleText: pageName,
      html: '
        <p>This application will be accepted and a certificate issued.</p>

        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Name:</p>
        <h2 class="nhsuk-u-padding-top-0">' ~ fullName ~ '</h2>

        <p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Certificate number:</p>
        <h2 class="nhsuk-u-padding-top-0">' ~ certificateReference ~ '</h2>
      '
    }) }}




    <div class="nhsuk-button-group">
      {{ button({
        html: '<span data-ak="S">New search</span>',
        href: "../../search"
      }) }}

      {{ button({
        html: '<span data-ak="V">View ' ~ fullName ~ '\'s certificate</span>',
        classes: "nhsuk-button--secondary",
        href: "case?patientID=" ~ patient.id ~ "&certMode=yes"
      }) }}
    </div>

  </div>
</div>

{% endblock %}