{% extends 'layout-fullscreen-normal-content.html' %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{% set pageName = 'Application rejected' %}

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <!-- APPLICATION PROCESSED - REJECTED -->

    <div class="nhsuk-card nhsuk-card--warning">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important:</span> Application rejected
          </span>
        </h3>


        <p class="nhsuk-card__description">This application will be rejected.</p>
      </div>
    </div>


    {% set firstName = patient.firstName or data['editMATEX.firstName'] or 'Jane' %}
    {% set lastName = patient.lastName or data['editMATEX.lastName'] or 'Smith' %}



    {{ summaryList({
    rows: [
    {
    key: { text: 'Name' },
    value: { text: firstName + ' ' + lastName }
    },
    {
    key: { text: 'Reference' },
    value: { text: patient.certificateReference or '8436 810 379' }
    }
    ]
    }) }}


    <!-- NO CHECK -->
    <h2 class="nhsuk-heading-s">What happens next?</h2>
    <p class="nhsuk-body">You do not need to do anything else with this application.</p>


    <div class="nhsuk-button-group">
      {{ button({
      html: '<span data-ak="S">New search</span>',
      href: "../search"
      }) }}

      {{ button({
      html: '<span data-ak="I">Return to dashboard</span>',
      classes: "nhsuk-button--secondary",
      href: "../../dashboard"
      }) }}




    </div>

  </div>
</div>

{% endblock %}