{% extends 'layout-fullscreen.html' %}

{% set pageName = data.applicationReference or 'Application 12 866 355 086' %}

{% block beforeContent %}
{{ backLink({
href: '../../dashboard',
html: '<span data-ak="B">Return to your dashboard</span>'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">
    <h1 class="nhsuk-heading-m">{{ pageName }}
      {{ data.certificateType | getCertificateTypeTextOrTag( true ) | safe }}
      {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>
  </div>
  <div class="nhsuk-grid-column-one-half">
    {% set insetTextHtml %}
    <p>Applications processed today: <strong>{{ processedToday }}</strong></p>
    {% endset %}
    {{ insetText({
    html: insetTextHtml,
    classes: 'nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2 nhsuk-u-margin-0 nhsuk-u-float-right'
    }) }}
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row">

      <!-- ONE HALF - IMAGE -->
      <div class="nhsuk-grid-column-one-half sticky-column">
        {% from '../../macros/image.njk' import image %}
        {{ image(data.certificateType) }}
      </div>

      <!-- ONE HALF - CONTENT -->
      <div class="nhsuk-grid-column-one-half">



        <div class="nhsuk-card nhsuk-card--grey">
          <div class="nhsuk-card__content">

            <h2 class="nhsuk-heading-m">Application will be rejected</h2>

            <!-- REASON FOR REJECTION -->

            <form method="post" action="/v1/process-application/scenarios/reject" novalidate>

              {% if data.certificateType == 'matex' %}
              {{ checkboxes({
              idPrefix: "rejectReason",
              name: "rejectReason",
              value: data.rejectReason or "Healthcare practitioner signature missing",
              fieldset: {
              legend: {
              text: "Why is this application being rejected?"
              }
              },
              items: [
              {
              value: "Healthcare practitioner signature missing",
              text: "Healthcare practitioner signature missing"
              },
              {
              value: "Healthcare practitioner details missing",
              text: "Healthcare practitioner details missing"
              },
              {
              value: "Patient signature missing",
              text: "Patient signature missing"
              },
              {
              value: "Child has already reached their first birthday",
              text: "Child has already reached their first birthday"
              },
              {
              value: "Patient is under 14",
              text: "Patient is under 14"
              },
              {
              value: "Patient is over 60",
              text: "Patient is over 60"
              }
              ]
              }) }}
              {% else %}
              {{ checkboxes({
              idPrefix: "rejectReason",
              name: "rejectReason",
              value: data.rejectReason or "Healthcare practitioner signature missing",
              fieldset: {
              legend: {
              text: "Why is this application being rejected?"
              }
              },
              items: [
              {
              value: "Healthcare practitioner signature missing",
              text: "Healthcare practitioner signature missing"
              },
              {
              value: "Healthcare practitioner details missing",
              text: "Healthcare practitioner details missing"
              },
              {
              value: "Patient signature missing",
              text: "Patient signature missing"
              },

              {
              value: "Patient is under 14",
              text: "Patient is under 14"
              },
              {
              value: "Patient is over 60",
              text: "Patient is over 60"
              },
              {
              value: "No medical condition ticked",
              text: "No medical condition ticked"
              },
              {
              value: "Unlisted medical condition selected",
              text: "Unlisted medical condition selected"
              }
              ]
              }) }}
              {% endif %}




              <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">
     {% set emailConditionalHTML %}

            {{ input({
            id: 'sendRequestEmail',
            name: 'sendRequestEmail',
            label: {
            text: 'Email address'
            },
            classes: 'nhsuk-input--width-20',
            attributes: {
            'data-focus-image': 'emailAddress',
            autocomplete: 'email'
            },
            value: data.sendRequestEmail
            }) }}

            {% endset %}


            {% set postHTML %}
            <!-- PATIENT ADDRESS -->
            <p>
              We will send the rejection letter to:<br>
              <strong>
                {% if patientBuildingNumber %}
                {{ patientBuildingNumber }}<br>
                {% endif %}

                {% if patientAddressLine1 %}
                {{ patientAddressLine1 }}<br>
                {% endif %}

                {% if patientAddressLine2 and patientAddressLine2 | trim %}
                {{ patientAddressLine2 }}<br>
                {% endif %}

                {% if patientTown %}
                {{ patientTown }}<br>
                {% endif %}

                {% if patientCounty and patientCounty | trim %}
                {{ patientCounty }}<br>
                {% endif %}

                {% if patientPostcode %}
                {{ patientPostcode }}
                {% endif %}
              </strong>
            </p>

            <div class="address-button nhsuk-u-margin-top-5">
              {{ button({
              html: '<span data-ak="G">Use address lookup to change the address</span>',
              classes: "nhsuk-button--secondary nhsuk-button--small",
              href:
              "/v1/matex/address-lookup?addressTarget=patient&returnTo=%2Fv1%2Fprocess-application%2Fcannot-process-application--horizontal-labels-fil%3FfurtherInformationRequest%3DpatientPost%23conditional-furtherInformationRequest-patientPost"
              }) }}
            </div>
            {% endset %}
  {{ radios({
              idPrefix: 'furtherInformationRequest',
              name: 'furtherInformationRequest',
              value: data.furtherInformationRequest,
              fieldset: {
              legend: {
              text: 'How will we send the rejection?'
              }
              },
              items: [
               {
              value: 'text',
              text: 'Text message'
              },
             
              {
              value: 'patientEmail',
              text: 'Email',
              conditional: { html: emailConditionalHTML }
              },
              {
              value: 'patientPost',
              text: 'Letter',
              conditional: {
              html: postHTML
              }
              }
              ]
              }) }}

             
           

      


  <div class="nhsuk-button-group">

                {{ button({
                html : '<span data-ak="I">Send rejection</span>',
                href: '/v1/medex/case--edit/confirmation--reject'
                }) }}

                {{ button
                ({ classes: "nhsuk-button--secondary",
                html: '<span data-ak="M">Cancel</span>',
                href: "../search"
                })
                }}

              </div>


            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

{% endblock %}