{% macro checking() %}

    {% from "warning-callout/macro.njk" import warningCallout %}

    {% if ((1 | getRandomNumber) === 0) %}

        <!-- SELECTED FOR QUALITY CHECK -->

        {{ warningCallout({
              heading: 'Selected for checking',
              text: 'This application will be reviewed by a quality checker'
          }) }}

        <h2 class="nhsuk-heading-s">What happens next?</h2>
        <p class="nhsuk-body">A quality checker will review this application. When they have completed the review, they will tell you the outcome.</p>
        <p class="nhsuk-body">If they decide you need to make any changes, you'll see a link to this application on your dashboard.</p>

    {% else %}

        <!-- SELECTED FOR SUPERVISOR CHECK -->

        {{ warningCallout({
              heading: 'Selected for checking',
              text: 'This application will be reviewed by your supervisor'
          }) }}

        <h2 class="nhsuk-heading-s">What happens next?</h2>
        <p class="nhsuk-body">Your supervisor will review this application. When they have completed the review, they will tell you the outcome.</p>
        <p class="nhsuk-body">If they decide you need to make any changes, you'll see a link to this application on your dashboard.</p>

    {% endif %}

{% endmacro %}