{% macro notes( patient, isRetryPayment=false ) %}

    {% from 'nhsapp/components/timeline/macro.njk' import nhsappTimeline %}

    {% set yesterday = -1 | alterTodaysDateByNumberOfDays %}
    {% set today = 0 | alterTodaysDateByNumberOfDays %}
    {% set processorFullName = patient.processorName + ' (' + patient.processor + ')' %}

    {% if patient.certificateType === 'matex' %}

        {% if patient.channel === 'Paper' %}

            <!-- PAPER ROUTE -->

            {% if ( ( 10 | getRandomNumber ) === 0 ) %}
                {% set processingText = 'Application manually entered, ready for processing' %}
            {% else %}
                {% set processingText = 'Application scanned, ready for processing' %}
            {% endif %}

            {% set items = [
                {
                    headingText: 'Processing',
                    isPastItem: true,
                    html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">'+processingText+'</p><span class="nhsuk-u-font-size-14">'+yesterday+', 8:30 am</span>'
                }
            ] %}

            {% if patient.status !== 'processing' %}

                <!-- REJECTED -->
                {% if patient.status === 'rejected' %}

                    {% set reasonForRejection = [
                        'child has already reached their first birthday',
                        'patient is outside England',
                        'patient is under 16',
                        'patient is over 60',
                        'patient already has a valid exemption certificate'
                    ] | random %}

                    {% set rejectedText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Application rejected because '+reasonForRejection+' by '+processorFullName+'</p>' %}

                    {% set items = ( items.push({
                        headingText: 'Rejected',
                        isPastItem: true,
                        html: rejectedText + '<span class="nhsuk-u-font-size-14">'+yesterday+', 9:56 am</span>'
                    }), items ) %}

                {% else %}

                <!-- ON HOLD -->
                {% if patient.status === 'on-hold' or patient.status === 'active' or patient.status === 'expired' or patient.status === 'accepted' or patient.status === 'deleted' %}

                        {% set num = 2 | getRandomNumber %}
                            
                        {% if num === 0 %}
                            <!-- WITH PATIENT -->

                            {% set patientReasons = [
                                "patient's date of birth",
                                "patient's telephone number",
                                "patient's email address",
                                "child's due or birth date",
                                "health professional's signature"
                            ] | randomiseAndConvertToList %}

                            {% set onHoldText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Further information requested from patient by '+processorFullName+':</p>' + patientReasons %}


                        {% elif num === 1 %}
                            <!-- WITH HCP -->

                            {% set hcpReasons = [
                                "patient's name",
                                "patient's address and postcode",
                                "patient's email address",
                                "patient's signature",
                                "child's due or birth date",
                                "health professional's signature",
                                "health professional's name",
                                "Part 3 of the application form"
                            ] | randomiseAndConvertToList %}

                            {% set onHoldText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Further information requested from health care professional by '+processorFullName+':</p>' + hcpReasons %}

                        {% elif num === 2 %}
                            <!-- RESCAN -->
                            {% set onHoldText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Rescan requested by '+processorFullName+'</p>' %}
                            
                        {% endif %}

                        <!-- ACTUALLY PUTTING IT ON HOLD -->
                        {% set items = ( items.push({
                            headingText: 'On hold',
                            isPastItem: true,
                            html: onHoldText + '<span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+yesterday+', 9:56 am</span>'
                        }), items ) %}


                        {% if 2 | getRandomNumber === 0 and num === 1 %}

                            <!-- NAGGY PATIENT -->
                            {% set items = ( items.push({
                                headingText: 'Note',
                                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Patient rang up to ask about their Matex. Advised that more information was needed from their HCP.</p><span class="nhsuk-u-font-size-14">'+yesterday+', 12:55 pm</span>'
                            }), items ) %}


                        {% endif %}


                        {% if 5 | getRandomNumber === 0 and num === 2 %}

                            <!-- ADD AN EXTRA PAPER KEY-IN -->
                            {% set items = ( items.push({
                                headingText: 'Note',
                                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Literally could not see a thing. I need to check the paper.</p><span class="nhsuk-u-font-size-14">'+yesterday+', 12:55 pm</span>'
                            }), items ) %}

                            {% set onHoldText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Paper form requested by '+processorFullName+'</p>' %}
                            {% set items = ( items.push({
                                headingText: 'On hold',
                                isPastItem: true,
                                html: onHoldText + '<span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+yesterday+', 12:56 pm</span>'
                            }), items ) %}

                        {% elif patient.status === 'accepted' or patient.checking === true %}

                            {% if patient.status === 'accepted' %}
                                {% set acceptedText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Application accepted by '+processorFullName+'</p>' %}
                                {% set items = ( items.push({
                                    headingText: 'Accepted',
                                    isPastItem: true,
                                    html: acceptedText + '<span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 9:43 am</span>'
                                }), items ) %}
                            {% endif %}

                            <!-- SELECTED FOR CHECKING -->
                            {% set checkingText = '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Selected for checking</p>' %}
                            {% set items = ( items.push({
                                headingText: 'Checking',
                                isPastItem: true,
                                html: checkingText + '<span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 9:44 am</span>'
                            }), items ) %}


                        {% endif %}



                        
                    {% endif %}



                {% endif %}

                <!-- ACTIVE -->
                {% if patient.status === 'active' or patient.status === 'expired' or patient.status === 'deleted' %}

                    {% set items = (items.push({
                        headingText: 'Active',
                        isPastItem: true,
                        html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate is active</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 10:38 am</span>'
                    }), items ) %}

                    {% if patient.status === 'expired' %}

                        {% set items = (items.push({
                            headingText: 'Expired',
                            isPastItem: true,
                            html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate has expired</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 12:45 pm</span>'
                        }), items ) %}

                    {% elif patient.status === 'deleted' %}

                        {% set items = (items.push({
                            headingText: 'Deleted',
                            isPastItem: true,
                            html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate has been deleted</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 12:45 pm</span>'
                        }), items ) %}

                    {% endif %}

                {% endif %}

            {% endif %}





        {% else %}

            <!-- DIGITAL MATEX -->

            {% set items = [
                {
                    headingText: 'Active',
                    isPastItem: true,
                    html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate is active</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( -56 |  alterTodaysDateByNumberOfDays )+', 7:38 am</span>'
                }
            ] %}

            {% if 2 | getRandomNumber === 0 %}

                <!-- ALTERED ADDRESS -->
                {% set items = ( items.push({
                    headingText: 'Note',
                    html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Patient rang up to change their address</p><span class="nhsuk-u-font-size-14">'+( - 32 | alterTodaysDateByNumberOfDays)+', 12:55 pm</span>'
                }), items ) %}

            {% endif %}

            {% if patient.status === 'expired' %}
                <!-- EXPIRED-->
                {% set items = ( items.push({
                        headingText: 'Expired',
                        isPastItem: true,
                        html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate has expired</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( -2 |  alterTodaysDateByNumberOfDays )+', 7:38 am</span>'
                    }), items ) %}

            {% elif patient.status === 'deleted' %}

                        {% set items = (items.push({
                            headingText: 'Deleted',
                            isPastItem: true,
                            html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate has been deleted</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+today+', 12:45 pm</span>'
                        }), items ) %}

            {% endif %}


        {% endif %}

    
    {% else %}


        <!-- HRT PPC -->
        {% if isRetryPayment and patient.certificateType === 'hrtppc' %}

        {% set items = [
            {
                headingText: 'On hold',
                isPastItem: true,
                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Application received, awaiting payment</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( - 64 | alterTodaysDateByNumberOfDays)+', 8:30 am</span>'
            },
            {
                headingText: 'On hold',
                isPastItem: true,
                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2" style="color:#d5281b;">Payment failed</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( - 64 | alterTodaysDateByNumberOfDays)+', 8:31 am</span>'
            }
        ] %}

        {% else %}

        {% set items = [
            {
                headingText: 'On hold',
                isPastItem: true,
                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Application received, awaiting payment</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( - 64 | alterTodaysDateByNumberOfDays)+', 8:30 am</span>'
            },
            {
                headingText: 'Active',
                isPastItem: true,
                html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate active</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( - 64 | alterTodaysDateByNumberOfDays)+', 8:31 am</span>'
            }
        ] %}

        {% endif %}

        {% if 2 | getRandomNumber === 0 %}

                <!-- ALTERED LAST NAME -->
                {% set items = ( items.push({
                    headingText: 'Note',
                    html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Patient rang up to change their last name</p><span class="nhsuk-u-font-size-14">'+( -7 | alterTodaysDateByNumberOfDays)+', 8:56 pm</span>'
                }), items ) %}

            {% endif %}
            
            {% if patient.status === 'expired' %}
                <!-- EXPIRED-->
                {% set items = ( items.push({
                        headingText: 'Expired',
                        isPastItem: true,
                        html: '<p class="nhsuk-body-s nhsuk-u-margin-bottom-2">Certificate has expired</p><span class="nhsuk-u-font-size-14 nhsuk-u-margin-bottom-0">'+( -2 |  alterTodaysDateByNumberOfDays )+', 7:38 am</span>'
                    }), items ) %}
            {% endif %}

    {% endif %}



    <!-- OUTPUT THE TIMELINE -->

    <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

            <div class="events-log">

                <!--

                This is written in with the JS, but only when necessary...

                <div class="menu-container">
                    <ul class="nhsuk-list">
                        <li><button class="nhsuk-u-font-size-16" aria-pressed="true"><span>All</span></button></li>
                        <li><button class="nhsuk-u-font-size-16" aria-pressed="false"><span>Notes</span></button></li>
                        <li><button class="nhsuk-u-font-size-16" aria-pressed="false"><span>Events</span></button></li>
                    </ul>
                </div>
                
                -->
                
                <div class="scroll-container">

                    {% if patient.status === 'active' or patient.status === 'expired' or patient.status === 'deleted' %}
                        <h2 class="nhsuk-heading-s">Certificate history</h2>
                    {% else %}
                        <h2 class="nhsuk-heading-s">Application history</h2>
                    {% endif %}

                    {{ nhsappTimeline({
                        id: 'timeline-application',
                        items: items | reverse
                    }) }}
                </div>

            </div>

        </div>
    </div>


    <script>

        const EventLog = (function(){

            //
            // INIT FUNCTION
            //
            function _init(){

                console.log( 'EventLog.init();' );

                const events = document.querySelectorAll('.nhsapp-timeline__item:not(.nhsapp-timeline__item--past)');

                if( events.length > 0 ){

                    _drawMenu();

                }

            }

            //
            // DRAW MENU FUNCTION
            //
            function _drawMenu(){

                console.log('_drawMenu();');

                const menu = document.createElement('div');
                menu.classList.add('menu-container');

                let html = '';
                html += '<ul class="nhsuk-list">';
                html += '<li><button class="nhsuk-u-font-size-16" aria-pressed="true"><span>All</span></button></li>';
                html += '<li><button class="nhsuk-u-font-size-16" aria-pressed="false"><span>Notes</span></button></li>';
                html += '<li><button class="nhsuk-u-font-size-16" aria-pressed="false"><span>Events</span></button></li>';
                html += '</ul>';

                menu.innerHTML = html;

                const eventsLog = document.querySelector('.events-log');
                eventsLog.insertAdjacentElement('afterbegin',menu);

                document.querySelectorAll('.events-log button').forEach(function(button){
                    button.addEventListener('click',function(e){
                        _toggleMenu( e.target );
                    });
                });

            }

            //
            // TOGGLE MENU FUNCTION
            //
            function _toggleMenu( button ){

                // Toggle buttons
                document.querySelectorAll('.events-log button').forEach(function(el){
                    el.setAttribute('aria-pressed','false');
                });

                button.setAttribute('aria-pressed','true');
                button.blur();

                // Toggle menu items
                const all = document.querySelectorAll('.events-log .nhsapp-timeline__item');
                const notes = document.querySelectorAll('.events-log .nhsapp-timeline__item:not(.nhsapp-timeline__item--past)');
                const events = document.querySelectorAll('.events-log .nhsapp-timeline__item--past');
              
                switch( button.innerText ){

                    case 'Notes':
                        all.forEach(function(item){
                            item.classList.remove('last-of-type');
                            item.classList.add('hidden');
                            if( !item.classList.contains('nhsapp-timeline__item--past') ){
                                item.classList.remove('hidden');
                            }
                        });
                        notes[notes.length-1].classList.add('last-of-type');
                        break;

                    case 'Events':
                        all.forEach(function(item){
                            item.classList.remove('last-of-type');
                            item.classList.add('hidden');
                            if( item.classList.contains('nhsapp-timeline__item--past') ){
                                item.classList.remove('hidden');
                            }
                            events[events.length-1].classList.add('last-of-type');
                        });
                        break;

                    default: 
                        all.forEach(function(item){
                            item.classList.remove('last-of-type');
                            item.classList.remove('hidden');
                        });
                        break;
                }

                document.querySelector('.events-log .scroll-container').scrollTo(0,0);

            }


            return {
                init: _init
            }

        })();

        document.addEventListener('DOMContentLoaded',function(){
            EventLog.init();
        });

    </script>



{% endmacro %}