{% extends 'layout-fullscreen.html' %}

{% set pageName = data.applicationReference or 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
  {{ backLink({
    href: '../../dashboard',
    html: '<span data-ak="B">Return to your dashboard</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ data.certificateType | getCertificateTypeTextOrTag( true ) | safe }}</h1>
    </div>
    <div class="nhsuk-grid-column-one-half">
      {% set insetTextHtml %}
        <p>Applications processed today: <strong>{{ processedToday }}</strong></p>
      {% endset %}
      {{ insetText({
        html: insetTextHtml,
        classes: 'nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2 nhsuk-u-margin-0 nhsuk-u-float-right'
      }) }}
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="nhsuk-grid-row">

        <!-- ONE HALF - IMAGE -->
        <div class="nhsuk-grid-column-one-half sticky-column">
          {% from '../../macros/image.njk' import image %}
          {{ image(data.certificateType) }}
        </div>

        <!-- ONE HALF - PANEL -->
        <div class="nhsuk-grid-column-one-half">

      

                      <div class="nhsuk-panel">
  <h1 class="nhsuk-panel__title ">
    Application processed
  </h1>

     <p class="nhsuk-body">
      This application will be accepted and a certificate issued.
    </p>
<p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Name:</p><h2 class="nhsuk-u-padding-top-0"> 
{{ data.approvedFirstName }} {{ data.approvedLastName }}
</h2>

<p class="nhsuk-body-s nhsuk-u-margin-bottom-0">Certificate number:</p><h2 class="nhsuk-u-padding-top-0"> 
{{ data.certNumber }}
</h2>
</div>

          <div class="nhsuk-button-group">
            {% if data.scenarioIndex % 2 == 0 %}
              {{ button({ html: '<span data-ak="I">Next</span>', href: '../matex' }) }}
            {% else %}
              {{ button({ html: '<span data-ak="I">Next</span>', href: '../medex' }) }}
            {% endif %}
            {{ button({
              html: '<span data-ak="C">View current application</span>',
              href: '../' + data.certificateType + '?view=1',
              classes: 'nhsuk-button--secondary'
            }) }}
          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}
