{% extends 'layout-fullscreen.html' %}

{% set pageName = data.applicationReference or 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
{{ backLink({
href: '../../dashboard',
html: '<span data-ak="B">Return to your dashboard</span>'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-heading-m">{{ pageName }}
            {{ data.certificateType | getCertificateTypeTextOrTag( true ) | safe }}</h1>
    </div>
    <div class="nhsuk-grid-column-one-half">
        {% set insetTextHtml %}
        <p>Applications processed today: <strong>{{ processedToday }}</strong></p>
        {% endset %}
        {{ insetText({
        html: insetTextHtml,
        classes: 'nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2 nhsuk-u-margin-0 nhsuk-u-float-right'
        }) }}
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">

            <!-- ONE HALF - IMAGE -->
            <div class="nhsuk-grid-column-one-half sticky-column">
                {% from '../../macros/image.njk' import image %}
                {{ image(data.certificateType) }}
            </div>

            <!-- ONE HALF - PANEL -->
            <div class="nhsuk-grid-column-one-half">



                {% if data.confirmationType == 'further-information' %}
                <div class="nhsuk-panel nhsuk-panel--interruption">
                    <h1 class="nhsuk-panel__title nhsuk-panel__title--l">
                        Application processed
                    </h1>
                    <div class="nhsuk-panel__body">
                        <p>This application will be put on hold until further information is received and processed.</p>

                    </div>
                </div>
                {% endif %}

                {% if data.confirmationType == 'reject' %}
                <div class="nhsuk-card nhsuk-card--warning">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      <span role="text">
        <span class="nhsuk-u-visually-hidden">Important:</span> Application processed
      </span>
    </h3>
    <p class="nhsuk-card__description">This application will be rejected.</p>
  </div>
</div>
                {% endif %}




                <div class="nhsuk-button-group">
                    {% if data.scenarioIndex % 2 == 0 %}
                    {{ button({ html: '<span data-ak="I">Next</span>', href: '../matex' }) }}
                    {% else %}
                    {{ button({ html: '<span data-ak="I">Next</span>', href: '../medex' }) }}
                    {% endif %}
                    {{ button({
                    html: '<span data-ak="C">View current application</span>',
                    href: '../' + data.certificateType + '?view=1',
                    classes: 'nhsuk-button--secondary'
                    }) }}
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}