{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Certificate' %}

{% block beforeContent %}
 {{ backLink({
  href: 'javascript:history.go(-1)',
  html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-m">{{ pageName }} {{ patient.certificateReference or 'HRT R33P ITIX' }} - {{ patient.lastName or data['editHRT.lastName'] or 'Smith' }}, {{ patient.firstName or data['editHRT.firstName'] or 'Jane' }} 
        {{ ( patient.certificateType or 'hrtppc' ) | getCertificateTypeTextOrTag( true ) | safe }}
        {{ ( patient.status or 'active' ) | getStatusTextOrTag( true ) | safe }}
      </h1>
    </div>
  </div>

  {% set firstName = patient.firstName or data['editHRT.firstName'] or 'Jane' %}
  {% set lastName  = patient.lastName or data['editHRT.lastName'] or 'Smith' %}

  {% set fulfilment = (patient.certificateFulfilment or data['editHRT.certificateFulfilment'] or "Email") %}

  {% set emailHTML = patient.email or data['editHRT.email'] or 'janedoe@example.com' %}

  {% set addressValue1 = data.editHRT.addressLineOne
    or (patient.address.buildingNumber + " " + patient.address.streetName) %}
  
  {% if data.editHRT.addressLineTwo is defined %}
    {% set addressValue2 = data.editHRT.addressLineTwo %}
  {% else %}
    {% set addressValue2 = patient.address.locality %}
  {% endif %}
  
  {% set townValue = data.editHRT.town 
    or patient.address.postTown %}
  
  {% if data.editHRT.county is defined %}
    {% set countyValue = data.editHRT.county %}
  {% else %}
    {% set countyValue = patient.address.county %}
  {% endif %}
  
  {% set postcodeValue = data.editHRT.postcode 
    or patient.address.postcode %}


    {% set addressHTML %}
    {{ addressValue1 | trim }}<br>
    {% if addressValue2 and addressValue2 | trim %}{{ addressValue2 | trim }}<br>{% endif %}
    {{ townValue | trim }}<br>
    {% if countyValue and countyValue | trim %}{{ countyValue | trim }}<br>{% endif %}
    {{ postcodeValue | trim }}
    {% endset %}
    
    {% if addressHTML | trim == '' %}
      {% set addressHTML = '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS' %}
    {% endif %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third">

      {{ summaryList({
        card: {
          heading: "Certificate details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
            {
              key: { 
                text: "Reference" 
              },
              value: { 
                text: patient.certificateReference or "HRT R33P ITIX" 
              }
            },
            {
              key: { 
                text: "Type" 
              },
              value: { 
                html: ( patient.certificateType or "hrtppc" ) | getCertificateTypeTextOrTag( true ) 
              }
            },
            {
              key: { 
                text: "Status" 
              },
              value: { 
                html: ( patient.status or 'active' ) | getStatusTextOrTag( true ) 
              }
            },
            {
              key: { 
                text: "Channel" 
              },
              value: { 
                text: patient.channel or "Digital" 
              }
            },
            {
              key: { 
                text: "Fulfilment" 
              },
              value: { 
                text: fulfilment | capitalise
              }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                html: patient.startDate.display or "25 November 2025"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                html: patient.endDate.display or "24 November 2026"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Application date"
              },
              value: {
                html: patient.startDate.display or "25 November 2025"
              }
            }
          ]

      }) }}
    
    </div>

    


    <div class="nhsuk-grid-column-one-third">
      {{ summaryList({
        card: {
          heading: "Personal details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
          {
            key: { text: 'First name' },
            value: { text: firstName }
          },
            {
              key: { text: 'Last name' },
              value: { text: lastName}
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: addressHTML or '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS'
              }
              
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: patient.dateOfBirth.display or "28 November 1970"
              }
            },
            {
              classes: "nhsuk-summary-list__row",
              key: {
                text: "NHS number"
              },
              value: {
                html: patient.nhsNumber or data['editHRT.nhsNumber'] or "123 456 7890"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Email address"
              },
              value: {
                html: emailHTML
              }
            }
          ]

      }) }}
    </div>


    <div class="nhsuk-grid-column-one-third sticky-column">

      {% from '../macros/notes.njk' import notes %}
      {{ notes( patient ) }}

    </div>




</div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-button-group">
        {% if patient.status == 'expired' or patient.status == 'deleted' %}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% elif patient.status == 'active' %}

        {{ button({
          html: '<span data-ak="I">Edit or reissue</span>',
          href: "edit-or-reissue?patientID=" + patient.id
        }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% else %}

          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% endif %}

        </div>
    </div>
  </div>


{% endblock %}