{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Certificate' %}

{% block beforeContent %}
 {{ backLink({
  href: 'javascript:history.go(-1)',
  html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-m">{{ pageName }} {{ patient.certificateReference or 'HRT R33P ITIX' }} - {{ data.editHRT.lastName or patient.lastName or 'Smith' }}, {{ data.editHRT.firstName or patient.firstName or 'Jane' }} 
        {{ ( patient.certificateType or 'hrtppc' ) | getCertificateTypeTextOrTag( true ) | safe }}
        {{ ( patient.status or 'active' ) | getStatusTextOrTag( true ) | safe }}
      </h1>
    </div>
  </div>

  {% set firstName = data.editHRT.firstName or patient.firstName or 'Jane' %}
  {% set lastName  = data.editHRT.lastName  or patient.lastName  or 'Smith' %}

  {% set fulfilment = (data.editHRT.certificateFulfilment or patient.fulfilment or "post") %}

  {% set emailHTML = data.editHRT.email or patient.email %}

  {% if data.editHRT.addressLineOne is defined %}
  {% set addressValue1 = data.editHRT.addressLineOne %}
  {% else %}
    {% set addressValue1 = patient.address.buildingNumber + " " + patient.address.streetName %}
  {% endif %}

  {% if data.editHRT.addressLineTwo is defined %}
    {% set addressValue2 = data.editHRT.addressLineTwo %}
  {% else %}
    {% set addressValue2 = patient.address.locality %}
  {% endif %}

  {% if data.editHRT.town is defined %}
    {% set townValue = data.editHRT.town %}
  {% else %}
    {% set townValue = patient.address.postTown %}
  {% endif %}

  {% if data.editHRT.county is defined %}
    {% set countyValue = data.editHRT.county %}
  {% else %}
    {% set countyValue = patient.address.county %}
  {% endif %}

  {% if data.editHRT.postcode is defined %}
  {% set postcodeValue = data.editHRT.postcode %}
  {% else %}
    {% set postcodeValue = patient.address.postcode %}
  {% endif %}

  {% set addressHTML %}

  {{ addressValue1 | trim }}<br>
  {% if addressValue2 and addressValue2 | trim %}{{ addressValue2 | trim }}<br>{% endif %}
  {{ townValue | trim }}<br>
  {% if countyValue and countyValue | trim %}
  {{ countyValue | trim }}<br>
  {% endif %}
  {{ postcodeValue }}

  {% endset %}
  
  {% if addressHTML | trim == '' %}
    {% set addressHTML = '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS' %}
  {% endif %}


  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third">

      {{ summaryList({
        card: {
          heading: "Certificate details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
            {
              key: { 
                text: "Reference" 
              },
              value: { 
                text: patient.certificateReference or "HRT R33P ITIX" 
              }
            },
            {
              key: { 
                text: "Type" 
              },
              value: { 
                html: ( patient.certificateType or "hrtppc" ) | getCertificateTypeTextOrTag( true ) 
              }
            },
            {
              key: { 
                text: "Status" 
              },
              value: { 
                html: ( patient.status or 'active' ) | getStatusTextOrTag( true ) 
              }
            },
            {
              key: { 
                text: "Channel" 
              },
              value: { 
                text: patient.channel or "Digital" 
              }
            },
            {
              key: { 
                text: "Fulfilment" 
              },
              value: { 
                text: fulfilment | capitalize
              }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                html: "25 November 2025"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                html: "24 November 2026"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Application date"
              },
              value: {
                html: "25 November 2025"
              }
            }
          ]

      }) }}
    
    </div>

    


    <div class="nhsuk-grid-column-one-third">
      {{ summaryList({
        card: {
          heading: "Personal details",
          headingSize: "s",
          classes: "summary-list--single-line"
        },
          rows: [
          {
            key: { text: 'First name' },
            value: { text: firstName }
          },
            {
              key: { text: 'Last name' },
              value: { text: lastName}
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: addressHTML or '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS'
              }
              
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: "28 November 1970"
              }
            },
            {
              classes: "nhsuk-summary-list__row",
              key: {
                text: "NHS number"
              },
              value: {
                html: data.editHRT.nhsNumber or patient.nhsNumber or "123 456 7890"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Email address"
              },
              value: {
                html: emailHTML
              }
            }
          ]

      }) }}
    </div>


    <div class="nhsuk-grid-column-one-third sticky-column">

      {% from '../macros/notes.njk' import notes %}
      {{ notes( patient ) }}

    </div>




</div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-button-group">
        {% if patient.status == 'expired' or patient.status == 'deleted' %}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% elif patient.status == 'active' %}

          {{ button({
            html: '<span data-ak="I">Edit or reissue</span>',
            href: "edit-or-reissue"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% else %}

          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="K">Add note</span>',
            href: "add-note"
          }) }}
          {{ button({
            classes: "nhsuk-button--secondary",
            html: '<span data-ak="M">Cancel</span>',
            href: "../search"
          }) }}

        {% endif %}

        </div>
    </div>
  </div>


{% endblock %}