{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Check their answers' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

{% if data.newHRT.firstName is defined and data.newHRT.lastName is defined %}
{% set fullName = (data.newHRT.firstName ~ " " ~ data.newHRT.lastName) | trim %}
{% else %}
  {% set fullName = 'Jane Smith' %}
{% endif %}

{% if data.newHRT.addressLineOne is defined %}
{% set addressValue1 = data.newHRT.addressLineOne %}
{% else %}
  {% set addressValue1 = "101 Test Road" %}
{% endif %}

{% if data.newHRT.addressLineTwo is defined %}
  {% set addressValue2 = data.newHRT.addressLineTwo %}
{% else %}
  {% set addressValue2 = "Goldcrest Way" %}
{% endif %}

{% if data.newHRT.town is defined %}
  {% set townValue = data.newHRT.town %}
{% else %}
  {% set townValue = "Newcastle" %}
{% endif %}

{% if data.newHRT.county is defined %}
  {% set countyValue = data.newHRT.county %}
{% else %}
  {% set countyValue = "Tyne and Wear" %}
{% endif %}

{% if data.newHRT.postcode is defined %}
{% set postcodeValue = data.newHRT.postcode %}
{% else %}
  {% set postcodeValue = "TR11 0TS" %}
{% endif %}

{% set addressHTML %}
  {{ addressValue1 }} <br>
  {% if addressValue2 and addressValue2 | trim %}
  {{ addressValue2 }}<br>
  {% endif %}
  {{ townValue }}<br>
  {% if countyValue and countyValue | trim %}
  {{ countyValue }}<br>
  {% endif %}
  {{ postcodeValue }}
{% endset %}

{% set fulfilment = data.newHRT.certificateFulfilment or "email" %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

                
              <h2 class="nhsuk-heading-m">
                Applicant's details
              </h2>
        
              {{ summaryList({
                rows: [
                  {
                    key: {
                      text: "Name"
                    },
                    value: {
                      text: fullName
                    }
                  },
                  {
                    key: {
                      text: "Date of birth"
                    },
                    value: {
                      html: "29 November 1974"
                    }
                  },
                  {
                    key: {
                      text: "NHS number"
                    },
                    value: {
                      text: data.newHRT.nhsNumber or "123 456 7890"
                    }
                  },
                  {
                    key: {
                      text: "Address"
                    },
                    value: {
                      html: addressHTML
                    }
                  },
                  {
                    key: {
                      text: "Receive HRT PPC and renewal reminder by email or post"
                    },
                    value: {
                      html: fulfilment | capitalize
                    }
                  },
                  {
                    key: {
                      text: "Email address"
                    },
                    value: {
                      html: data.newHRT.emailAddress or "jane.smith@example.com"
                    }
                  },
                  {
                    key: {
                      text: "Phone number"
                    },
                    value: {
                      html: "07123456789"
                    }
                  }
                ]
              }) }}

              {{ button({
                html: '<span data-ak="I">Edit applicant\'s details</span>',
                classes: "nhsuk-button--secondary nhsuk-button--small",
                href: "new-application"
              }) }}
        
              <h2 class="nhsuk-heading-m">
                Certificate details
              </h2>
        
              {{ summaryList({
                rows: [
                  {
                    key: {
                      text: "Length"
                    },
                    value: {
                      text: "12 months"
                    }
                  },
                  {
                    key: { 
                      text: "Start date" 
                    },
                    value: { 
                      html: "24 November 2025"
                    }
                  },
                  {
                    key: { 
                      text: "Expiry date" 
                    },
                    value: { 
                      html: "23 November 2026" 
                    }
                  },
                  {
                    key: { 
                      text: "Total cost" 
                    },
                    value: { 
                      html: data.HRTPPCCost
                    }
                  },
                  {
                    key: { 
                      text: "Payment method" 
                    },
                    value: { 
                      html: "Card payment" 
                    }
                  }
                ]
              }) }}
        
              <h2 class="nhsuk-heading-m">
                Notes
              </h2>
        
              {{ summaryList({
                rows: [
                  {
                    key: {
                      text: "Notes"
                    },
                    value: {
                      text: "	A new HRT prepaid certificate created using telephony sales channel."
                    }
                  }
                ]
                }) }}

                {% call warningCallout({
                  heading: "Reminder"
                }) %}
                <p>This PPC only covers certain Hormone Replacement Therapy (HRT) medication.</p>
                <p>If the customer requires medication for something other than HRT, a Prescription Prepayment Certificate (PPC) may be better for them.</p>
                {% endcall %}                


                <div class="nhsuk-button-group">
                  {{ button
                    ({ 
                      html: '<span data-ak="K">Card payment call</span>',
                      href: "card-payment"
                    })
                  }}
                  {{ button
                    ({ classes: "nhsuk-button--secondary", 
                    html: '<span data-ak="M">Cancel</span>',
                    href: "../search"
                    }) 
                  }}
                </div>

        

<style>
  
  .edit-button .nhsuk-button {
      padding: 8px 16px;
    }


</style>



{% endblock %}