{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Edit personal details' %}

{% block beforeContent %}
 {{ backLink({
    href: 'case',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

          {{ summaryList({
            heading: "Personal details",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-s",
              classes: "nhsuk-summary-list--no-border",
              rows: [
                {
                  key: { 
                    text: "First name"
                  },
                  value: 
                  { 
                    html: input ({
                      id: "first-name",
                      name: "firstName",
                      value: patient.firstName or 'Jane'
                    })
                  }
                },
                {
                  key: { 
                    text: "Last name"
                  },
                  value:
                  { 
                    html: input ({
                      id: "last-name",
                      name: "lastName",
                      value: patient.lastName or 'Smith'
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 1" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-1",
                      name: "addressLineOne",
                      value: data.addressLineOne or '101 Test Lane'
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 2" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-2",
                      name: "addressLineTwo",
                      value: data.addressLineTwo or 'Stella'
                    })
                  }
                },
                {
                  key: { 
                    text: "Town" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "town",
                      name: "town",
                      classes: "nhsuk-u-width-two-thirds",
                      value: data.town or 'Goldcrest Way'
                    })
                  }
                },
                {
                  key: { 
                  text: "Postcode" 
                  },
                  value: 
                  {
                    html: input({
                      id: "postcode",
                      name: "postcode",
                      classes: "nhsuk-input--width-5",
                      value: data.postcode or 'TR11 0TS'
                    })
                  }
                },
                {
                  key: { 
                    text: "" 
                  },
                  value:
                  { 
                    html: button({
                      text: "Change address fields using address lookup",
                      classes: "nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-3",
                      href: "address-lookup?returnTo=/v1/hrtppc/edit-personal-details"
                    })
                  }
                },
                {
                  key: { 
                    text: "Date of birth" 
                  },
                  value: { 
                    html: dateInput({
                      id: "date-of-birth",
                      namePrefix: "dateOfBirth",
                      items: [
                        {
                          name: "day",
                          classes: "nhsuk-input--width-2",
                          value: "28"
                        },
                        {
                          name: "month",
                          classes: "nhsuk-input--width-2",
                          value: "11"
                        },
                        {
                          name: "year",
                          classes: "nhsuk-input--width-4",
                          value: "1970"
                        }
                      ]
                    })
                  }
                },
                {
                  key: { 
                    text: "Email address" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "email",
                      name: "email",
                      value: "jane.smith@example.com"
                    })
                  }
                },
                {
                  key: { 
                    text: "NHS number" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "nhs-number",
                      name: "nhs-number",
                      classes: "nhsuk-u-width-one-third",
                      value: "1234567890"
                    })
                  }
                },
                {
                  key: { 
                    text: "Notes" 
                  },
                  value:
                  { 
                    html: textarea ({
                      id: "notes",
                      name: "notes"
                    })
                  }
                }
              ]
          }) }}

          
          {{ button
            ({ 
              text: 'Submit',
              href: "case"
            })
          }}
          {{ button
            ({ classes: "nhsuk-button--secondary nhsuk-u-margin-left-3", 
              text: 'Cancel',
              href: "../search"
            }) 
          }}

      </div>
    </div>
  </div>
</div>

<style>

  .postcode-block .nhsuk-button {
    margin-bottom: 1rem;
  }


  /* --------------------------------------------------- */
  /* STACKING BREAKPOINT — small screens (≤425px)      */
  /* --------------------------------------------------- */
  @media (max-width: 425px) {

    .summary-list--single-line .nhsuk-summary-list__row {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      padding-bottom: 0.5rem;
    }

    .summary-list--single-line .nhsuk-summary-list__key {
      margin: 0;
    }

  }

    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-one-half {
      width: 66.666%
    }
  }


</style>



{% endblock %}