{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'New HRT PPC application' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

        <h2 class="nhsuk-heading-m">Applicant's details</h2>

        <h3 class="nhsuk-heading-s">Applicant's address</h3>


        {% call fieldset({

        }) %}

          {{ input({
            label: {
              text: "Address line 1"
            },
            id: "new-hrt-address-line-one",
            name: "newHRT.addressLineOne",
            value: data.newHRT.addressLineOne or ''
          }) }}

          {{ input({
            label: {
              text: "Address line 2 (optional)"
            },
            id: "new-hrt-address-line-two",
            name: "newHRT.addressLineTwo",
            value: data.newHRT.addressLineTwo or ''
          }) }}

          {{ input({
            label: {
              text: "Town or city"
            },
            classes: "nhsuk-u-width-one-half",
            id: "new-hrt-town",
            name: "newHRT.town",
            value: data.newHRT.town or ''
          }) }}

          {{ input({
            label: {
              text: "County (optional)"
            },
            classes: "nhsuk-u-width-one-half",
            id: "new-county",
            name: "newHRT.county",
            value: data.newHRT.county or ''
          }) }}

          {{ input({
            label: {
              text: "Postcode"
            },
            classes: "nhsuk-u-width-one-quarter",            
            id: "new-postcode",
            name: "newHRT.postcode",
            value: data.newHRT.postcode or ''
          }) }}

          {{ button({
            text: "Populate address fields using address lookup",
            classes: "nhsuk-button--secondary nhsuk-button--small nhsuk-u-margin-bottom-10",
            href: "address-lookup?source=newHRT&returnTo=/v1/hrtppc/new-application"
          }) }}

          {% call details({
            summaryText: "They don't know which address to use?"
          }) %}
            <h4 class="nhsuk-heading-s">If they have more than one address</h4>
            <p>They should use the address that their GP or dentist holds for them. For example, if they're a student living away from home, this could be their home or term time address.</p>
            
            <h4 class="nhsuk-heading-s">If they don't have a permanent address</h4>
            <p>If they're homeless and living in temporary accommodation (for example, a long term hostel), they should use the address that their GP holds for them.</p>
          {% endcall %}

        {% endcall %}

        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-s">Applicant's name</h3>

        {{ input({
          classes: "nhsuk-u-width-two-thirds",
          id: "first-name",
          name: "firstName",
          label: {
            text: "First name"
          }
        }) }}

        {{ input({
          classes: "nhsuk-u-width-two-thirds",
          id: "last-name",
          name: "lastName",
          label: {
            text: "Last name"
          }
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Date of birth</h3>

        {{ dateInput({
          id: "date-of-birth",
          namePrefix: "dateOfBirth",
          fieldset: {
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4"
            }
          ]
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Email address</h3>

        {{ input({
          classes: "nhsuk-u-width-two-thirds",
          id: "email-address",
          name: "emailAddress",
          label: {
            text: "Email address"
          }
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">NHS number (Optional)</h3>

        {{ input({
          classes: "nhsuk-u-width-one-third",
          id: "nhs-number",
          name: "nhsNumber",
          label: {
            text: "NHS number"
          }
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Certificate start date</h3>

        {{ dateInput({
          id: "start-date",
          namePrefix: "startDate",
          fieldset: {
          },
          hint: {
            text: "The start date of the HRT PPC must be 30 days in the past or the future."
          },
          items: [
            {
              name: "day",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "month",
              classes: "nhsuk-input--width-2"
            },
            {
              name: "year",
              classes: "nhsuk-input--width-4"
            }
          ]
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Certificate fulfilment</h3>

        {{ radios({
          name: "fulfilment",
          fieldset: {
            legend: {
              text: "How do they want to receive their HRT PPC?",
                size: "s",
              isPageHeading: false
            }
          },
          hint: {
            text: "We'll send them a renewal reminder one month before their HRT PPC is due to expire."
          },
          classes: "nhsuk-radios--inline nhsuk-u-margin-top-3",
          items: [
            {
              value: "email",
              text: "Email"
            },
            {
              value: "post",
              text: "Post"
            }
          ]
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Payment</h3>

        {{ warningCallout({
          heading: "Important information",
          headingLevel: 4,
          text: "Advise the customer that payments for a 12 month HRT PPC can only be made in a single credit or debit card payment of " + data.HRTPPCCost + " at this time."
        }) }}


        <hr class="nhsuk-u-margin-top-0">

        <h3 class="nhsuk-heading-m">Notes</h3>

        {{ textarea({
          name: "example",
          id: "example",
          value: "A new HRT prepaid certificate created using telephony sales channel."
        }) }}
        

        <div class="nhsuk-button-group">
          {{ button
            ({ 
              text: 'Submit',
              href: "check-their-answers"
            })
          }}
          {{ button
            ({ classes: "nhsuk-button--secondary", 
              text: 'Cancel',
              href: "../search"
            }) 
          }}
        </div>
      </div>
      </div>
    </div>
</div>

<style>

    .postcode-block {
      display: flex;
      flex-direction: column;
    }

    .postcode-button .nhsuk-button {
      padding: 8px 16px;
    }


</style>



{% endblock %}