{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Reissue certificate' %}

{% block beforeContent %}

{% endblock %}


{% block content %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{#{ patient | dump }#}


{% if patient.channel === 'Digital' %}

{% set panelHtml %}
  We have sent the certificate to <strong>{{ patient.email or 'jane.doe@example.com' }}</strong>.
{% endset %}

{% else %}

{% set panelHtml %}
We have sent the certificate to:<br>
<strong>
  {{ patient.address.buildingNumber + " " + patient.address.streetName }}<br>
  {{ patient.addressLineTwo }}<br>
  {{ patient.town }}<br>
  {{ patient.postcode }}
</strong>
{% endset %}

{% endif %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      {{ panel({
        titleText: "Reissue complete",
        html: panelHtml
      }) }}

      <h2 class="nhsuk-heading-m">HRT PPC details</h2>


      {{ summaryList({
        classes: "nhsuk-summary-list--no-border",
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Jane Smith"
            }
          },
          {
            key: {
              text: "Reference"
            },
            value: {
              text: "HRT AF4A 488E"
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: "25 November 2025"
            }
          },
          {
            key: {
              text: "Expiry date"
            },
            value: {
              text: "24 November 2026"
            }
          }
        ]
      }) }}

      {{ button({
        text: 'Search another certificate',
        href: "../search"
      }) }}
  
    </div>
  </div>

  <style>

    .nhsuk-grid-row .nhsuk-button--secondary {
      margin-left: 1rem;
    }
  </style>
{% endblock %}