{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Reissue certificate' %}

{% block beforeContent %}

{% endblock %}


{% block content %}

{% if data.patientID %}
{% set patient = data.patientID | getPatientData %}
{% endif %}

{#{ patient | dump }#}

{% if data.editHRT.firstName is defined and data.editHRT.lastName is defined %}
{% set fullName = (data.editHRT.firstName ~ " " ~ data.editHRT.lastName) | trim %}
{% else %}
  {% set fullName = ((patient.firstName ~ " " ~ patient.lastName) | trim) | default('Jane Smith', true) %}
{% endif %}

{% set addressValue1 = data.editHRT.addressLineOne or patient.address.buildingNumber + " " + patient.address.streetName %}
{% set addressValue2 = data.editHRT.addressLineTwo or patient.address.locality %}
{% set townValue = data.editHRT.town or patient.address.postTown %}
{% set countyValue = data.editHRT.county or patient.address.county %}
{% set postcodeValue = data.editHRT.postcode or patient.address.postcode %}


{% set fulfilment = data.editHRT.certificateFulfilment or patient.fulfilment or "Email" %}

{% if fulfilment == 'email' %}
{% set titleText %}
The certificate has been reissued by email
{% endset %}

{% set sentAddressHtml %}
  We have sent the Hormone Repacement Therapy Prescription Prepayment Certificate (HRT PPC) to:<br>
  <strong>{{ data.editHRT.email or patient.email or 'jane.doe@example.com' }}</strong>.
  <p>The certificate holder will get their digital certificate in the next few minutes.</p>
{% endset %}

{% else %}
{% set titleText %}
The certificate will be reissued by post
{% endset %}

{% set sentAddressHtml %}
We have sent the Hormone Repacement Therapy Prescription Prepayment Certificate (HRT PPC) to:<br>
<strong>
  {{ addressValue1 }} <br>
  {% if addressValue2 and addressValue2 | trim %}
  {{ addressValue2 }}<br>
  {% endif %}
  {{ townValue }}<br>
  {% if countyValue and countyValue | trim %}
  {{ countyValue }}<br>
  {% endif %}
  {{ postcodeValue }}
</strong>
<p>The certificate holder will get their paper certificate in the post in the next 10 working days.</p>
{% endset %}

{% endif %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


      {{ panel({
        titleText: "Certificate reissued",
        text: titleText
      }) }}


      <p>{{ sentAddressHtml | safe }}</p>


      <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-heading-m">Certificate details</h2>


          {{ summaryList({
            rows: [
              {
                key: { 
                  text: "Type" 
                },
                value: { 
                  html: ( patient.certificateType or "hrtppc" ) | getCertificateTypeTextOrTag( true ) 
                }
              },
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: fullName
                }
              },
              {
                key: {
                  text: "Reference"
                },
                value: {
                  text: patient.certificateReference or 'HRT AF4A 488E'
                }
              },
              {
                key: {
                  text: "Start date"
                },
                value: {
                  text: "25 November 2025"
                }
              },
              {
                key: {
                  text: "Expiry date"
                },
                value: {
                  text: "24 November 2026"
                }
              },
              {
                classes: "nhsuk-summary-list__row--no-border",
                key: {
                  text: "Notes"
                },
                value: {
                  text: ""
                }
              }
            ]
          }) }}
        </div>
      </div>

      {{ button({
        text: 'Search another certificate',
        href: "../search"
      }) }}

      {{ button({
        text: "View " + fullName + " certificate details",
        classes: "nhsuk-button--secondary",
        href: "case"
      }) }}
  
    </div>
  </div>

  <style>

    .nhsuk-grid-row .nhsuk-button--secondary {
      margin-left: 1rem;
    }
  </style>
{% endblock %}