{% extends 'layout-fullscreen.html' %}

{% set pageName = 'MATEX processing' %}
{% set bannerRole = 'backOffice' %}

{% set dashboardRows = '' | getPatientData | getDashboardTableRows( 7 ) %}
{% set checkingRows = '' | getPatientData | getCheckingTableRows %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            {{ insetText({
              html: '386 forms awaiting processing',
              classes: 'nhsuk-inset-text--summary'
            }) }}


            <!-- STATS -->
              <div class="nhsuk-grid-row id-stats">

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: '7',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Applications accepted'
                }) %}
                  <p class="nhsuk-body-s">Accepted</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: '2',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Applications placed on hold'
                }) %}
                  <p class="nhsuk-body-s">On hold</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: '1',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Paper applications requested'
                }) %}
                  <p class="nhsuk-body-s">Paper</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: '10',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Total applications processed'
                }) %}
                  <p class="nhsuk-body-s">Total</p>
                {% endcall %}
              </div>

            </div>



            <div class="nhsuk-button-group">

              {{ button({
                text: 'Process an application',
                href: 'process-application'
              }) }}

              {{ button({
                text: 'Enter application manually',
                href: 'enter-application-manually',
                classes: 'nhsuk-button--secondary'
              }) }}

               {{ button({
                text: 'Search for a certificate',
                href: 'reset-search',
                classes: 'nhsuk-button--secondary'
              }) }}

            </div>
  

            {{ table({
                panel: false,
                caption: "Certificates you need to correct",
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name<br /><span class="nhsuk-body-s">NHS number</span>' },
                        { text: 'Postcode' },
                        { text: 'Certificate type' },
                        { text: 'Status' },
                        { text: 'Reference' },
                        { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                      ],
                rows: checkingRows
              }) }}



              



            {{ table({
                panel: false,
                caption: "Certificates you've processed this session",
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name<br /><span class="nhsuk-body-s">NHS number</span>' },
                        { text: 'Postcode' },
                        { text: 'Status' },
                        { text: 'Reference' },
                        { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                      ],
                rows: dashboardRows
              }) }}


            

          </div>
        </div>


      </div>
  </div>

{% endblock %}