{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Maternity exemption processing' %}

{% set checkingRows = '' | getPatientData | getCheckingTableRows %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>


            {% set insetTextHtml %}
            <p>386 forms awaiting processing</p>
            {% endset %}

            {{ insetText({
              html: insetTextHtml,
              classes: 'nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2 nhsuk-u-margin-top-0'
            }) }}


            <div class="nhsuk-heading-s">Session statistics</div>
              {% from './macros/stats.njk' import stats %}
              {{ stats
                ([
                data.applicationStats.accepted,
                data.applicationStats.rejected,
                data.applicationStats.rescans,
                data.applicationStats.onHold,
                data.applicationStats.total 
                ])
              }}
              <div class="nhsuk-button-group">

                {{ button({
                  html: '<span data-ak="I">Process an application</span>',
                  href: 'process-application/start-processing'
                }) }}
  
                {{ button({
                  html: '<span data-ak="K">Enter application manually</span>',
                  href: 'process-application/new-application',
                  classes: 'nhsuk-button--secondary'
                }) }}
  
                 {{ button({
                  html: '<span data-ak="M">Search for a certificate</span>',
                  href: 'reset-search',
                  classes: 'nhsuk-button--secondary'
                }) }}
  
              </div>
              
              <hr>

              {% set captionHtml %}
              Applications you need to change
              <span class="nhsuk-hint nhsuk-u-margin-top-2">
                These applications have been quality checked. The checker has identified changes you need to&nbsp;make.
              </span>
              {% endset %}


            {{ table({
                panel: false,
                caption: captionHtml | safe,                    
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name<br /><span class="nhsuk-body-s">NHS number</span>' },
                        { text: 'Address' },
                        { text: 'Postcode' },
                        { text: 'Date of birth' },
                        { text: 'Type' },
                        { text: 'Status' },
                        { text: 'Reference' }
                      ],
                rows: checkingRows
              }) }}

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                  {{ pagination('nhsuk-u-margin-0' | getCheckingPaginationLinks) }}
                </div>
              
                <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right nhsuk-u-padding-top-1">
                  <p class="nhsuk-body nhsuk-u-margin-0">
                    <strong>{{ '' | getCheckingResultsSummary }}</strong>
                  </p>                  
                </div>
              </div>


          </div>
        </div>


      </div>
  </div>

{% endblock %}