{% extends 'layout-fullscreen.html' %}

{% set pageName = 'MATEX processing' %}
{% set bannerRole = 'backOffice' %}

{% set dashboardRows = '' | getPatientData | getDashboardTableRows( 7 ) %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            {{ insetText({
              html: '386 forms awaiting processing',
              classes: 'nhsuk-inset-text--summary'
            }) }}


            <div class="nhsuk-button-group">

              {{ button({
                html: '<span data-ak="I">Process an application</span>',
                href: 'process-application'
              }) }}

              {{ button({
                html: '<span data-ak="K">Enter application manually</span>',
                href: 'enter-application-manually',
                classes: 'nhsuk-button--secondary'
              }) }}

               {{ button({
                html: '<span data-ak="S">Search for a certificate</span>',
                href: 'reset-search',
                classes: 'nhsuk-button--secondary'
              }) }}

            </div>
  


            {{ table({
                panel: false,
                caption: "Applications processors working today",
                captionClasses: 'nhsuk-u-margin-bottom-4',
                firstCellIsHeader: true,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name' },
                        { text: 'Cipher' },
                        { text: 'Accepted' },
                        { text: 'On hold' },
                        { text: 'Paper' },
                        { text: 'Total' },
                        { text: 'For you to check' },
                        { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                      ],
                rows: data.processors | getSupervisorDashboardRows
              }) }}


            

          </div>
        </div>


      </div>
  </div>

{% endblock %}