{% extends 'layout-fullscreen.html' %}

{% set filteredRows = '' | getPatientData | getTableRows( true ) %}
{% set checkingRows = '' | getPatientData | getCheckingTableRows %}
{% set pageName = '' | getSearchTitle %}
{% set searchProcessor = data.searchProcessor or 'JASMI' %}
{% set processor = data.processors | getProcessor(searchProcessor) %}

{% block beforeContent %}
  {{ backLink({
    href: 'dashboard--supervisor?searchProcessor&searchChecking',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

{% set buttonText = "<span data-ak='V'>View all applications processed by " ~ processor.name ~ "</span>" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-card">
            <div class="nhsuk-card__content">

            <h1 class="nhsuk-heading-m">{{ processor.name + ' (' + searchProcessor + ')' }}</h1>

            {% set insetHTML = '' %}
            {% if data.changesMade === 'true' %}
              {% set insetHTML = '<strong>Your changes have been applied</strong><br /><br />' %}
            {% endif %}

            {% if processor.level === 'trainee' %}
              {% set insetHTML = insetHTML + 'Applications processor with ' + ( processor.checkingLevel or '100' ) + '% of applications being checked&nbsp;&nbsp;<a class="nhsuk-link" href="processor-edit?searchProcessor='+searchProcessor+'"><span data-ak="C">Edit account</span></a>' %}
            {% elif processor.level === 'supervisor' %}
              {% set insetHTML = insetHTML + 'Supervisor applications processor' %}
            {% elif processor.level === 'standard' %}
              {% set insetHTML = insetHTML + 'Applications processor&nbsp;&nbsp;<a class="nhsuk-link" href="processor-edit?searchProcessor='+searchProcessor+'"><span data-ak="C">Edit account</span></a>' %}
            {% endif %}

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  {{ insetText({
                    classes: 'nhsuk-inset-text--summary',
                    html: insetHTML
                  }) }}
                </div>
              </div>


            {% from './macros/stats.njk' import stats %}
            {{ stats( processor.stats or [0,0,0,0,0] ) }}
            

            {{ button({
              html: buttonText,
              href: 'search-results?searchProcessor='+searchProcessor +'&searchChecking=',
              classes: 'nhsuk-button--small nhsuk-button--secondary'
            }) }}
      
            


          {% if ( filteredRows.length > 0 ) %}

              <h2 class="nhsuk-heading-s">Applications currently being checked</h2>
              <div class="nhsuk-hint">These applications have either been reviewed by a supervisor or the processor has not processed enough yet.</div>

          


          {% endif %}
<br>
<hr>
           

              {% set captionHtml %}
              Applications that need to change
        
              {% endset %}

              

            {{ table({
                panel: false,
                caption: captionHtml | safe,                    
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: [
                        { html: 'Name<br /><span class="nhsuk-body-s">NHS number</span>' },
                        { text: 'Address' },
                        { text: 'Postcode' },
                        { text: 'Date of birth' },
                        { text: 'Type' },
                        { text: 'Status' },
                        { text: 'Application reference' },
                        { text: 'Certificate reference'}
                      ],
                rows: checkingRows
              }) }}

          


            </div>
        </div>

    </div>
</div>

{% endblock %}