{% extends 'layout-fullscreen.html' %}

{% set filteredRows = '' | getPatientData | getTableRows( true ) %}
{% set pageName = '' | getSearchTitle %}
{% set searchProcessor = data.searchProcessor or 'JASMI' %}
{% set processor = data.processors | getProcessor(searchProcessor) %}

{% block beforeContent %}
  {{ backLink({
    href: 'dashboard--supervisor?searchProcessor&searchChecking',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

{% set buttonText = "<span data-ak='V'>View all applications processed by " ~ processor.name ~ "</span>" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-card">
            <div class="nhsuk-card__content">

            <h1 class="nhsuk-heading-m">{{ processor.name + ' (' + searchProcessor + ')' }}</h1>

            {% set insetHTML = '' %}
            {% if data.changesMade === 'true' %}
              {% set insetHTML = '<strong>Your changes have been applied</strong><br /><br />' %}
            {% endif %}

            {% if processor.level === 'trainee' %}
              {% set insetHTML = insetHTML + 'Applications processor with ' + ( processor.checkingLevel or '100' ) + '% of applications being checked&nbsp;&nbsp;<a class="nhsuk-link" href="processor-edit?searchProcessor='+searchProcessor+'"><span data-ak="C">Edit account</span></a>' %}
            {% elif processor.level === 'supervisor' %}
              {% set insetHTML = insetHTML + 'Supervisor applications processor' %}
            {% elif processor.level === 'standard' %}
              {% set insetHTML = insetHTML + 'Applications processor&nbsp;&nbsp;<a class="nhsuk-link" href="processor-edit?searchProcessor='+searchProcessor+'"><span data-ak="C">Edit account</span></a>' %}
            {% endif %}

              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  {{ insetText({
                    classes: 'nhsuk-inset-text--summary',
                    html: insetHTML
                  }) }}
                </div>
              </div>


            <div class="nhsuk-grid-row id-stats">

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: processor.stats[0] or '0',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Applications accepted'
                }) %}
                  <p class="nhsuk-body-s">Accepted</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: processor.stats[1] or '0',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Applications placed on hold'
                }) %}
                  <p class="nhsuk-body-s">On hold</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: processor.stats[2] or '0',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Paper applications requested'
                }) %}
                  <p class="nhsuk-body-s">Paper</p>
                {% endcall %}
              </div>

              <div class="nhsuk-grid-column-one-quarter">
                {% call card({
                  clickable: false,
                  heading: processor.stats[3] or '0',
                  headingClasses: 'nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1',
                  headingVisuallyHiddenText: 'Total applications processed'
                }) %}
                  <p class="nhsuk-body-s">Total</p>
                {% endcall %}
              </div>

            </div>



            

            {{ button({
              html: buttonText,
              href: 'search-results?searchProcessor='+searchProcessor +'&searchChecking=',
              classes: 'nhsuk-button--small nhsuk-button--secondary'
            }) }}
      
            


          {% if ( filteredRows.length > 0 ) %}

              <h2 class="nhsuk-heading-s">Certificates currently being checked</h2>

              {{ table({
                panel: false,
                caption: 'Certificates and applications',
                captionClasses: 'nhsuk-u-visually-hidden',
                firstCellIsHeader: false,
                responsive: true,
                tableClasses: 'patient-table',
                head: true | getTableHeadRows( true ),
                rows: filteredRows
              }) }}

              <div class="nhsuk-grid-row">
    
                <div class="nhsuk-grid-column-one-half">
                    {{ pagination( 'nhsuk-u-margin-0' | getPaginationLinks ) }}
                </div>

              </div>

          {% endif %}

            </div>
        </div>

    </div>
</div>

{% endblock %}