{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Form 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
 {{ backLink({
    href: 'process-form',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        <span class="nhsuk-tag nhsuk-tag--green">MATEX</span>
        <span class="nhsuk-tag nhsuk-tag--grey">Processing</span></h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned form</h2>

              <details class="expandable-image">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-one-half">


      <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Request more information</h2>

              
               <form action="request-more-information" method="post" novalidate>

                {% set hcpHTML %}
                  
                   {{ radios({
                    idPrefix: 'sendLetterToHCP',
                    name: 'sendLetterToHCP',
                    fieldset: {
                      legend: {
                        text: 'Which letter should be sent to the patient?',
                        classes: 'nhsuk-u-visually-hidden'
                      }
                    },
                    items: [
                    
                      {
                        value: 'letter1',
                        text: 'Not enough information to process or missing signature (PE00)'
                      },
                      {
                        value: 'letter2',
                        text: 'The patient is ineligible (PE00)'
                      }
                    ]
                  }) }}

                {% endset %}


                {% set patientHTML %}

                  {{ radios({
                    idPrefix: 'sendLetterToPatient',
                    name: 'sendLetterToPatient',
                    fieldset: {
                      legend: {
                        text: 'Which letter should be sent to the patient?',
                        classes: 'nhsuk-u-visually-hidden'
                      }
                    },
                    items: [
                      {
                        value: 'letter1',
                        text: "Patient's signature is missing (PE00)"
                      },
                      {
                        value: 'letter2',
                        text: "Been over a year since the baby's birth (PE24)"
                      }
                    ]
                  }) }}

                {% endset %}


                {{ radios({
                  idPrefix: 'sendLetterTo',
                  name: 'sendLetterTo',
                  fieldset: {
                    legend: {
                      text: 'Who should receive the letter?'
                    }
                  },
                  items: [
                    {
                      value: 'hcp',
                      text: 'Doctor or midwife',
                      conditional: {
                        html: hcpHTML
                      }
                    },
                    {
                      value: 'patient',
                      text: 'Patient',
                      conditional: {
                        html: patientHTML
                      }
                    },
                    {
                      divider: 'Or'
                    },
                    {
                      value: 'none',
                      text: 'Unable to process the form'
                    }
                  ]
                }) }}



                {{ textarea({
                  name: 'imageNotes',
                  id: 'imageNotes',
                  value: data.imageNotes,
                  label: {
                    text: 'Notes'
                  }
                }) }}


                {{ button({
                  text: 'Submit'
                }) }}

               </form>

              
        </div>
      </div>

            </div>

          </div>


    </div>
  </div>

{% endblock %}