{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Search for a certificate' %}

{% block beforeContent %}
  {% if data.role === 'backOffice' or data.role === 'backOfficeSupervisor' or data.role === 'qualityControl' %}
    {{ backLink({
      href: 'javascript:history.go(-1)',
      text: 'Back'
    }) }}
  {% endif %}
{% endblock %}


{% block content %}

  {% if data.role === 'callCentre' %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          {{ button({
                html: '<span data-ak="Y">Start HRT PPC application</span>',
                classes: 'nhsuk-button nhsuk-button--small nhsuk-button--secondary nhsuk-u-float-right',
                href: "hrtppc/new-application"
              }) }}

        </div>
      </div>

  {% endif %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card nhsuk-card--grey">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            <form action="search" method="post" novalidate>

              <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="Z">Certificate reference</span>'
                    },
                    id: 'searchCertificateReference',
                    name: 'searchCertificateReference',
                    value: data.searchCertificateReference
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="S">First name</span>'
                    },
                    id: 'searchFirstName',
                    name: 'searchFirstName',
                    value: data.searchFirstName
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="A">Last name</span>'
                    },
                    id: 'searchLastName',
                    name: 'searchLastName',
                    value: data.searchLastName
                  }) }}
                </div>

              </div>




              <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="X">Date of birth</span>'
                    },
                    id: 'searchDateOfBirth',
                    name: 'searchDateOfBirth'
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="C">Postcode</span>'
                    },
                    id: 'searchPostcode',
                    name: 'searchPostcode',
                    value: data.searchPostcode
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">

                  {% if data.role === 'callCentre' %}

                    {{ select({
                      label: {
                        html: '<span data-ak="T">Certificate type</span>'
                      },
                      id: 'searchCertificateType',
                      name: 'searchCertificateType',
                      value: data.searchCertificateType,
                      items: [
                        {
                          value: '',
                          text: 'All certificate types'
                        },
                        {
                          value: 'hrtppc',
                          text: 'HRT PPC'
                        },
                        {
                          value: 'matex',
                          text: 'Maternity exemption'
                        }
                      ]
                    }) }}

                    <input type="hidden" name="searchStatus" value="" />

                  {% elif data.role === 'backOffice' %}
    
                    {#{ select({
                      label: {
                        html: '<span data-ak="T">Certificate type</span>'
                      },
                      id: 'searchCertificateType',
                      name: 'searchCertificateType',
                      value: data.searchCertificateType,
                      items: [
                        {
                          value: '',
                          text: 'All certificate types'
                        },
                        {
                          value: 'hrtppc',
                          text: 'HRT PPC'
                        },
                        {
                          value: 'matex',
                          text: 'Maternity exemption'
                        }
                      ]
                    }) }#}

                    <input type="hidden" name="searchCertificateType" value="matex" />

                  {% else %}

                      {{ select({
                      label: {
                        text: 'Application processor'
                      },
                      id: 'searchProcessor',
                      name: 'searchProcessor',
                      value: data.searchProcessor,
                      items: [
                        { value: '', text: 'Any processor' },
                        { value: 'AICOL', text: data.processors.AICOL.name },
                        { value: 'DATHO', text: data.processors.DATHO.name },
                        { value: 'JASMI', text: data.processors.JASMI.name },
                        { value: 'PRPAT', text: data.processors.PRPAT.name },
                        { value: 'ZAKHA', text: data.processors.ZAKHA.name }
                      ]
                    }) }}

                    <input type="hidden" name="searchCertificateType" value="matex" />

                  {% endif %}

                </div>

              </div>


              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  
                  {{ button({
                    html: '<span data-ak="I">Search</span>'
                  }) }}

                  {{ button({
                    html: '<span data-ak="R">Reset</span>',
                    href: 'reset-search',
                    classes: 'nhsuk-button--secondary nhsuk-button--small nhsuk-u-float-right'
                  }) }}

                </div>
              </div>



            </form>

          </div>
          </div>

      </div>
  </div>

{% endblock %}