{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Search for a certificate' %}

{% block beforeContent %}
 {% if data.role === 'backOffice' %}
  {{ backLink({
    href: 'dashboard',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% elif data.role === 'backOfficeSupervisor' %}
  {{ backLink({
    href: 'dashboard--supervisor',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% elif data.role === 'qualityControl' %}
  {{ backLink({
    href: 'dashboard--quality-control',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endif %}
{% endblock %}


{% block content %}



  {% if data.role === 'callCentre' %}

    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">

          {{ button({
                html: '<span data-ak="Y">Start HRT PPC application</span>',
                classes: 'nhsuk-u-float-right',
                small: true,
                variant: 'secondary',
                href: "hrtppc/new-application"
              }) }}

        </div>
      </div>

  {% endif %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">


          <div class="nhsuk-card nhsuk-card--grey">
            <div class="nhsuk-card__content">


            <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

            <form action="search" method="post" novalidate>

              <div class="nhsuk-grid-row">

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="Z">Application or certificate reference</span>'
                    },
                    id: 'searchCertificateReference',
                    name: 'searchCertificateReference',
                    value: data.searchCertificateReference
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="S">First name</span>'
                    },
                    id: 'searchFirstName',
                    name: 'searchFirstName',
                    value: data.searchFirstName
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="A">Last name</span>'
                    },
                    id: 'searchLastName',
                    name: 'searchLastName',
                    value: data.searchLastName
                  }) }}
                </div>

              </div>




              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-third">
                  
                  {% from './macros/date-of-birth.njk' import dateOfBirth %}
                  {{ dateOfBirth( data.searchDateOfBirth, data[version].allowSearchCopyPaste ) }}

                </div>

                <div class="nhsuk-grid-column-one-third">
                  {{ input({
                    label: {
                      html: '<span data-ak="C">Postcode</span>'
                    },
                    id: 'searchPostcode',
                    name: 'searchPostcode',
                    classes: 'nhsuk-input--width-10',
                    value: data.searchPostcode
                  }) }}
                </div>

                <div class="nhsuk-grid-column-one-third">

                  {% if data.role === 'callCentre' %}

                    {{ select({
                      label: {
                        html: '<span data-ak="T">Certificate type</span>'
                      },
                      id: 'searchCertificateType',
                      name: 'searchCertificateType',
                      value: data.searchCertificateType,
                      items: [
                        {
                          value: '',
                          text: 'All certificate types'
                        },
                        {
                          value: 'hrtppc',
                          text: 'HRT PPC'
                        },
                        {
                          value: 'matex',
                          text: 'Maternity exemption'
                        },
                        {
                          value: 'medex',
                          text: 'Medical exemption'
                        }
                      ]
                    }) }}

                    <input type="hidden" name="searchStatus" value="" />

                  {% elif data.role === 'backOffice' %}
{{ select({
  label: {
    html: '<span data-ak="T">Certificate type</span>'
  },
  id: 'searchCertificateType',
  name: 'searchCertificateType',
  value: data.searchCertificateType,
  items: [
    {
      value: '',
      text: 'All certificate types'
    },
    {
      value: 'hrtppc',
      text: 'HRT PPC'
    },
    {
      value: 'matex',
      text: 'Maternity exemption'
    },
    {
      value: 'medex',
      text: 'Medical exemption'
    }
  ]
}) }}

                  {% else %}

                      {{ select({
                      label: {
                        text: 'Application processor'
                      },
                      id: 'searchProcessor',
                      name: 'searchProcessor',
                      value: data.searchProcessor,
                      items: [
                        { value: '', text: 'Any processor' },
                        { value: 'AICOL', text: data.processors.AICOL.name },
                        { value: 'DATHO', text: data.processors.DATHO.name },
                        { value: 'JASMI', text: data.processors.JASMI.name },
                        { value: 'PRPAT', text: data.processors.PRPAT.name },
                        { value: 'ZAKHA', text: data.processors.ZAKHA.name }
                      ]
                    }) }}

             {{ select({
  label: {
    html: '<span data-ak="T">Certificate type</span>'
  },
  id: 'searchCertificateType',
  name: 'searchCertificateType',
  value: data.searchCertificateType,
  items: [
    {
      value: '',
      text: 'All certificate types'
    },
    {
      value: 'hrtppc',
      text: 'HRT PPC'
    },
    {
      value: 'matex',
      text: 'Maternity exemption'
    },
    {
      value: 'medex',
      text: 'Medical exemption'
    }
  ]
}) }}

                  {% endif %}

                </div>

              </div>


              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  
                  {{ button({
                    html: '<span data-ak="I">Search</span>'
                  }) }}

                  {{ button({
                    html: '<span data-ak="R">Reset</span>',
                    href: 'reset-search',
                    classes: 'nhsuk-button--secondary nhsuk-button--small nhsuk-u-float-right'
                  }) }}

                </div>
              </div>



            </form>

          </div>
          </div>

      </div>
  </div>

{% endblock %}