{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Certificate' %}

{% block beforeContent %}
 {{ backLink({
    href: '../search-results',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}


  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  {#{ patient | dump }#}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-m">{{ pageName }} {{ patient.certificateReference or '56 913 186 386' }} - {{ patient.lastName or 'Smith' }}, {{ patient.firstName or 'Jane' }} 
        {{ ( patient.certificateType or 'matex' ) | getCertificateTypeTextOrTag( true ) | safe }}
        {% if data.patientID %}
          {{ patient.status | getStatusTextOrTag( true ) | safe }} {% if patient.checking === true %}{{ 'checking' | getStatusTextOrTag( true ) | safe }}{% endif %}
        {% else %}
          {{ 'active' | getStatusTextOrTag( true ) | safe }}
        {% endif %}
      </h1>
    </div>
  </div>




  {% set channelLinkHtml %}
  <br>
  <a class="nhsuk-link nhsuk-link--no-visited-state"
     href="comparison">
    View application
  </a>
  {% endset %}

  {% if patient.channel === 'Paper' %}
  {% set channelHTML = 'Paper' ~ channelLinkHtml %}

  {% set personalDetailsActions = {
    items: [
      {
        text: "Edit details",
        href: "edit-personal-details-paper",
        classes: "nhsuk-link--no-visited-state"
      }
    ]
  } %}

  {% else %}
    {% set channelHTML = 'Digital' %}
    {% set cardActions = null %}

    {% set personalDetailsActions = {
      items: [
        {
          text: "Edit details",
          href: "edit-personal-details",
          classes: "nhsuk-link--no-visited-state"
        }
      ]
    } %}

  {% endif %}


  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-one-third">

      {{ summaryList({
        card: {
          heading: "Certificate details",
          headingSize: "s",
          classes: "summary-list--single-line",
          actions: {
            items: [
              {
                text: "Edit details",
                href: "edit-certificate",
                classes: "nhsuk-link--no-visited-state"
              }
            ]
          }
        },
          rows: [
            {
              key: { text: 'Reference' },
              value: { text: patient.certificateReference or '56 913 186 386' }
            },
            {
              key: { text: 'Type' },
              value: { html: ( patient.certificateType or 'matex' ) | getCertificateTypeTextOrTag( true ) }
            },
            {
              key: { text: 'Status' },
              value: { html: ( patient.status or 'active' ) | getStatusTextOrTag( true ) }
            },
            {
              key: { text: 'Channel' },
              value: { text: channelHTML | safe }
            },
            {
              key: { text: 'Fulfilment' },
              value: { text: patient.certificateFulfilment or 'email' | getCertificateFulfilmentText }
            },
            {
              key: {
                text: "Start date"
              },
              value: {
                html: "25 November 2025"
              }
            },
            {
              key: {
                text: "Expiry date"
              },
              value: {
                html: "24 November 2026"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Application date"
              },
              value: {
                html: "25 November 2025"
              }
            }
          ]

      }) }}
    
    </div>

    


    <div class="nhsuk-grid-column-one-third">
      {{ summaryList({
        card: {
          heading: "Personal details",
          headingSize: "s",
          classes: "summary-list--single-line",
          actions: personalDetailsActions
        },
          rows: [
            {
              key: { text: 'Last name' },
              value: { text: patient.lastName or 'Smith' }
            },
            {
              key: { text: 'First name' },
              value: { text: patient.firstName or 'Jane' }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: ""
              }
            },
            {
              key: {
                text: "Postcode"
              },
              value: {
                html: "TR1 10TS"
              }
            },
            {
              key: {
                text: "Telephone number"
              },
              value: {
                html: "07700 123 456"
              }
            },
            {
              key: {
                text: "Date of birth"
              },
              value: {
                html: "24 July 1997"
              }
            },
            {
              key: {
                text: "NHS number"
              },
              value: {
                html: "123 456 7890"
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                html: "jane.smith@example.com"
              }
            },
            {
              classes: "nhsuk-summary-list__row--no-border",
              key: {
                text: "Baby's birth date"
              },
              value: {
                html: "25 November 2025"
              }
            }
          ]

      }) }}
    </div>


    <div class="nhsuk-grid-column-one-third">

      <h2 class="nhsuk-u-visually-hidden">Certificate timeline</h2>

        <!-- Import from NHS App frontend -->
        {% from 'nhsapp/components/timeline/macro.njk' import nhsappTimeline %}

        <!-- {{ nhsappTimeline({
          items: [
            {
              headingText: 'Application accepted and awaiting print',
              html: '<span class="nhsuk-body-s">23 November 2025, 12:32</span>',
              active: true
            },
            {
              headingText: 'Application scanned',
              html: '<span class="nhsuk-body-s">23 November 2025, 08:30</span>'
            }
          ]
        }) }} -->

        {% from "tabs/macro.njk" import tabs %}
        {% from "tables/macro.njk" import table %}


        {% set NotesContent %}        
          <div class="sticky-add-note">
            <a
              href="add-note"
              class="nhsuk-link nhsuk-link--no-visited-state nhsuk-u-font-weight-bold">
              Add note
            </a>
          </div>
        
          <div class="scroll-container">
            {{ nhsappTimeline({
              items: [
                {
                  headingText: 'Note added by [NameOfAgent]',
                  html: '
                    <p class="nhsuk-u-margin-bottom-1">"Applicant called to confirm address change."</p>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">16 January 2026 11:37am</p>
                  ',
                  active: true
                },
                {
                  headingText: 'Note added by [NameOfAgent]',
                  html: '
                    <p class="nhsuk-u-margin-bottom-1">"Applicant wanted their first name changed. I reviewed the scanned image and the evidence presented by the user to ensure compliance."</p>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">3 December 2025 10:03am</p>
                  '
                },
                {
                  headingText: 'Note added by [NameOfAgent]',
                  html: '
                    <p class="nhsuk-u-margin-bottom-1">"Applicant asked about application progress."</p>
                    <p class="nhsuk-body-s nhsuk-u-margin-top-1">24 November 2025 2:24pm</p>
                  '
                }
              ]
            }) }}
          </div>
        
      {% endset -%}
      

        {% set EventsContent %}
          <div class="scroll-container">
          {{ nhsappTimeline({
            items: [
            {
              headingText: 'Deleted',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate deleted</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">4 April 2034 9:00am</p>
              ',
              active: true
            },
            {
              headingText: 'Expired',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate expired</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">24 November 2026 9:00am</p>
              '
            },
            {
              headingText: 'Reissued',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate reissued by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">12 June 2026 9:00am</p>
              '
            },
            {
              headingText: 'Address updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Address changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">16 January 2026 11:35am</p>
              '
            },
            {
              headingText: 'Postcode updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Postcode changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">16 January 2026 11:35am</p>
              '
            },
            {
              headingText: 'First name updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">First name changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">26 November 2025 10:00am</p>
              '
            },
            {
              headingText: 'Active',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate produced and posted to patient</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">25 November 2025 9:00am</p>
              '
            },
            {
              headingText: 'Rejected',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application has been rejected because:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>child has already reached their first birthday</li>
                  <li>patient is outside England</li>
                  <li>patient is under 15</li>
                  <li>patient is over 60</li>
                  <li>patient already has a valid exemption certificate</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">2 December 2025 9:00am</p>
              '
            },
            {
              headingText: 'Accepted',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application processed by [NameOfProcessor] for processing overnight</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">2 December 2025 9:00am</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Further information requested from patient:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>health professional\'s name</li>
                  <li>health professional\'s address</li>
                  <li>patient\'s date of birth</li>
                  <li>patient\'s telephone number</li>
                  <li>patient\'s email address</li>
                  <li>patient\'s NHS number</li>
                  <li>patient\'s signature</li>
                  <li>date of patient\'s signature</li>
                  <li>child\'s due or birth date</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Further information requested from GP:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>patient\'s name</li>
                  <li>patient\'s address</li>
                  <li>patient\'s postcode</li>
                  <li>health professional\'s signature</li>
                  <li>health professional\'s name</li>
                  <li>health professional\'s UKCC number</li>
                  <li>GP or hospital doctor\'s stamp (or service doctor\'s name, rank, and establishment)</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Paper copy of application requested</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'Checking',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application processed by [NameOfProcessor] and held for supervisor review</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">23 November 2025 1:20pm</p>
              '
            },
            {
              headingText: 'Processing',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application viewed by [NameOfProcessor], ready for processing</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">23 November 2025 12:32pm</p>
              '
            },
            {
              headingText: 'Processing',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application scanned, ready for processing</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">21 November 2025 8:30am</p>
                '
            }
            ]
          }) }}
        </div>

        {% endset -%} 

        {% set FullLogContent %}
        <div class="scroll-container">
        {{ nhsappTimeline({
          items: [
              {
                headingText: 'Deleted',
                html: '
                  <p class="nhsuk-u-margin-bottom-1">Certificate deleted</p>
                  <p class="nhsuk-body-s nhsuk-u-margin-top-2">4 April 2034 9:00am</p>
                ',
                active: true
              },
              {
                headingText: 'Expired',
                html: '
                  <p class="nhsuk-u-margin-bottom-1">Certificate expired</p>
                  <p class="nhsuk-body-s nhsuk-u-margin-top-2">24 November 2026 9:00am</p>
                '
            },
            {
              headingText: 'Reissued',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate reissued by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">12 June 2026 9:00am</p>
              '
            },
            {
              headingText: 'Note added by [NameOfAgent]',
              html: '
                <p class="nhsuk-u-margin-bottom-1">"Applicant called to confirm address change."</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-1">16 January 2026 11:37am</p>
              '
            },
            {
              headingText: 'Address updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Address changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">16 January 2026 11:35am</p>
              '
            },
            {
              headingText: 'Postcode updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Postcode changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">16 January 2026 11:35am</p>
              '
            },
            {
              headingText: 'Note added by [NameOfAgent]',
              html: '
                <p class="nhsuk-u-margin-bottom-1">"Applicant wanted their first name changed. I reviewed the scanned image and the evidence presented by the user to ensure compliance."</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-1">26 November 2025 10:03am</p>
              '
            },
            {
              headingText: 'First name updated',
              html: '
                <p class="nhsuk-u-margin-bottom-1">First name changed from [PreviousValue] to [NewValue] by [NameOfAgent]</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">26 November 2025 10:00am</p>
              '
            },
            {
              headingText: 'Active',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Certificate produced and posted to patient</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">25 November 2025 9:00am</p>
              '
            },
            {
              headingText: 'Rejected',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application has been rejected because:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>child has already reached their first birthday</li>
                  <li>patient is outside England</li>
                  <li>patient is under 15</li>
                  <li>patient is over 60</li>
                  <li>patient already has a valid exemption certificate</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">2 December 2025 9:00am</p>
              '
            },
            {
              headingText: 'Accepted',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application processed by [NameOfProcessor] for processing overnight</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">2 December 2025 9:00am</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Further information requested from patient:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>health professional\'s name</li>
                  <li>health professional\'s address</li>
                  <li>patient\'s date of birth</li>
                  <li>patient\'s telephone number</li>
                  <li>patient\'s email address</li>
                  <li>patient\'s NHS number</li>
                  <li>patient\'s signature</li>
                  <li>date of patient\'s signature</li>
                  <li>child\'s due or birth date</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Further information requested from GP:</p>
                <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-top-1">
                  <li>patient\'s name</li>
                  <li>patient\'s address</li>
                  <li>patient\'s postcode</li>
                  <li>health professional\'s signature</li>
                  <li>health professional\'s name</li>
                  <li>health professional\'s UKCC number</li>
                  <li>GP or hospital doctor\'s stamp (or service doctor\'s name, rank, and establishment)</li>
                </ul>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'On hold',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Paper copy of application requested</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">30 November 2025 3:00pm</p>
              '
            },
            {
              headingText: 'Checking',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application processed by [NameOfProcessor] and held for supervisor review</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">23 November 2025 1:20pm</p>
              '
            },
            {
              headingText: 'Processing',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application viewed by [NameOfProcessor], ready for processing</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">23 November 2025 12:32pm</p>
              '
            },
            {
              headingText: 'Processing',
              html: '
                <p class="nhsuk-u-margin-bottom-1">Application scanned, ready for processing</p>
                <p class="nhsuk-body-s nhsuk-u-margin-top-2">21 November 2025 8:30am</p>
                '
            }
          ]
        }) }}
      </div>

          {% endset -%} 


        {{ tabs({
          items: [
          {
            label: "Notes",
            id: "notes",
            panel: {
              html: NotesContent
            }
          },
            {
              label: "Events",
              id: "events",
              panel: {
                html: EventsContent
              }
            },
            {
              label: "Full log",
              id: "full-log",
              panel: {
                html: FullLogContent
                }
              }
          ]
        }) }}

      </div>  
    </div>


<div class="nhsuk-grid-row-buttons">

    {{ button({
      text: 'Reissue certificate',
      href: "reissue"
    }) }}

    {{ button({
      classes: "nhsuk-button--secondary-solid",
      text: 'Cancel',
      href: "../search"
    }) }}

</div>


    <style>

      .summary-list--single-line {
        margin-bottom: 0;
      }

      .nhsuk-summary-list .nhsuk-summary-list__key {
        display: flex;
        width: 100%;
      }


      @media (max-width: 425px) {

        .summary-list--single-line .nhsuk-summary-list__row {
          flex-direction: column;
          align-items: flex-start;
          gap: 0.25rem;
          padding-bottom: 0.5rem;
        }

        .summary-list--single-line .nhsuk-summary-list__key {
          margin: 0;
        }

        .summary-list--single-line .nhsuk-summary-list__row--no-border {
          flex-direction: column;
          align-items: stretch;
          gap: 0.5rem;
        }
      }




      @media (min-width: 1024px) and (max-width: 1024px) {


      .nhsuk-tabs__panel {
        height: 1000px;
      }

      .scroll-container {
        min-height: 910px !important;
        overflow-y: auto;
        }
      }
      


      @media (min-width: 1024px) {

        .nhsuk-grid-row {
          display: flex ;
          align-items: stretch;
        }

        .nhsuk-grid-row > .nhsuk-grid-column-one-third {
          display: flex;
          flex-direction: column;
        }

        .nhsuk-grid-column-one-third:nth-child(3) .notes-container {
          display: flex;
          flex-direction: column;
          height: 100%;
        }

        .nhsuk-grid-row .nhsuk-card {
          display: flex;
          flex-direction: column;
          height: 100%;
          margin-bottom: 2rem;
        }

        .nhsuk-grid-row .nhsuk-card__content {
          flex: 1 1 auto;
        }

        .nhsuk-grid-row-buttons {
          display: flex;
          gap: 1rem;
        }

        .sticky-add-note {
          position: sticky;
          border-bottom: 1px solid #dcdcdc;
          padding: 0 0 0.5rem;
          display: flex;
          justify-content: flex-end;
        }

      .scroll-container {
        max-height: calc(101vh - 425px);
        min-height: 0;
        overflow-y: auto;
        padding-top: 1rem;
      }

      }


    </style>

{% endblock %}