{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Application assigned' %}
{% set searchProcessor = data.searchProcessor or 'JASMI' %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

            <div class="nhsuk-grid-column-two-thirds">


                       <!-- APPLICATION ASSIGNED -->
                      {% set panelHTML %}

                        <p>The application has been assigned to {{ data.processors[searchProcessor].name }}</p>

                      {% endset %}

                      {{ panel({
                          titleText: pageName,
                          html: panelHTML
                      }) }}


                      <h2 class="nhsuk-heading-s">What happens next?</h2>
                      <p class="nhsuk-body"> {{ data.processors[searchProcessor].name }} can access the application from their dashboard, and make changes highlighted.</p>

                      <div class="nhsuk-button-group">

                        {{ button({
                          html: '<span data-ak="I">Next application to check</span>',
                          href: patient.id | getNextProcessorCheckingUrl(searchProcessor)
                        }) }}

                        {{ button({
                          text : 'Back to ' + data.processors[data.searchProcessor].name +"'s applications",
                          href: '../processor?searchProcessor=' + data.searchProcessor,
                          classes: 'nhsuk-button--secondary'
                        }) }}

                        {% set destination = '../dashboard--quality-control' %}

                        {% if data.role === 'backOfficeSupervisor' %}
                          {% set destination = '../dashboard--supervisor' %}
                        {% endif %}

                        {{ button({
                          html: '<span data-ak="B">Back to dashboard</span>',
                          href: destination,
                          classes: 'nhsuk-button--secondary'
                        }) }}

                      </div>



                

            </div>

          </div>

    </div>
  </div>

{% endblock %}