{% extends 'layout-fullscreen.html' %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  {% set pageName = patient.status | isApplicationOrCertificate | capitalize %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }} {{ patient.certificateReference or '95 311 581 185' }}
        {{ (patient.certificateType or 'matex') | getCertificateTypeTextOrTag( true ) | safe }}
        {{ (patient.status or 'processing') | getStatusTextOrTag( true ) | safe }}{% if patient.checking === true %} {{ 'checking' | getStatusTextOrTag( true ) | safe }}{% endif %}
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            
            <!-- TWO THIRDS -->
            <div class="nhsuk-grid-column-two-thirds">

               <div class="nhsuk-card nhsuk-card--grey">
                    <div class="nhsuk-card__content">

                        {{ table({
                            panel: false,
                            caption: 'Processing comparison',
                            captionClasses: 'nhsuk-u-font-size-26 nhsuk-u-margin-bottom-4',
                            tableClasses: 'has-error',
                            firstCellIsHeader: true,
                            head: [
                                { html: '<span class="nhsuk-u-visually-hidden">Field</span>' },
                                { text: 'Shown' },
                                { text: 'Proposed value' },
                                { text: 'Accepted value' }
                            ],
                            rows: [
                                [
                                    { text: 'First name' },
                                    { html: 'Yes' },
                                    { text: ( patient.firstName | changeOneLetter ) or 'Sorah' },
                                    { text: patient.firstName or 'Sarah' }
                                ],
                                [
                                    { text: 'Last name', classes: 'error' },
                                    { html: 'Yes' },
                                    { text: '' },
                                    { text: ( patient.lastName | changeOneLetter ) or 'Jahnson' }
                                ],
                                [
                                    { text: 'Date of birth' },
                                    { html: 'No' },
                                    { text: '2 July 1995' },
                                    { text: '2 July 1995' }
                                  ],
                                [
                                    { text: 'NHS number' },
                                    { html: 'No' },
                                    { text: '1252 567 987' },
                                    { text: '1252 567 987' }
                                ],
                                [
                                    { text: 'Address' },
                                    { html: 'No' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' }
                                ],
                                [
                                    { text: 'Phone number' },
                                    { html: 'No' },
                                    { html: '07911 123456' },
                                    { html: '07911 123456' }
                                ],
                                [
                                    { text: 'Email address' },
                                    { html: 'Empty' },
                                    { html: '' },
                                    { html: '' }
                                ],
                                [
                                    { text: "Child's due or birth date" },
                                    { html: 'No' },
                                    { html: '10 January 2026' },
                                    { html: '10 January 2026' }
                                ],
                                [
                                    { text: 'Patient signature' },
                                    { html: 'No' },
                                    { html: 'Yes' },
                                    { html: 'Yes' }
                                ],
                                [
                                    { text: 'Healthcare practitioner signature' },
                                    { html: 'No' },
                                    { html: 'Yes' },
                                    { html: 'Yes' }
                                ]
                            ]
                            }) }}


                            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">Feedback</h2>
                            <p class="nhsuk-body-s">Left by Bob Archer (BOARC) on {{ 0 | alterTodaysDateByNumberOfDays }}</p>

                            {{ insetText({
                              classes: 'nhsuk-u-margin-top-0',
                              html: '<p>The last name is incorrect...</p>'
                            }) }}

                            

                    </div>
                </div>
                

            </div>


            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-third sticky-column">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

              {% from '../macros/notes.njk' import notes %}
              {{ notes( patient ) }}

            </div>

          </div>

    </div>
  </div>

{% endblock %}