{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }} 2025 11 18 18 12 16N3000049
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}

      {% if data.patientID %}
          {{ patient.status | getStatusTextOrTag( true ) | safe }} {% if patient.checking === true %}{{ 'checking' | getStatusTextOrTag( true ) | safe }}{% endif %}
        {% else %}
          {{ 'accepted' | getStatusTextOrTag( true ) | safe }} {{ 'checking' | getStatusTextOrTag( true ) | safe }}
        {% endif %}  
        
      </h1>

    </div>
  </div>

  {% if data.editMATEX.addressLineOne is defined %}
  {% set addressValue1 = data.editMATEX.addressLineOne %}
  {% else %}
    {% set addressValue1 = patient.address.buildingNumber + " " + patient.address.streetName %}
  {% endif %}

  {% if data.editMATEX.addressLineTwo is defined %}
    {% set addressValue2 = data.editMATEX.addressLineTwo %}
  {% else %}
    {% set addressValue2 = patient.address.locality %}
  {% endif %}

  {% if data.editMATEX.town is defined %}
    {% set townValue = data.editMATEX.town %}
  {% else %}
    {% set townValue = patient.address.postTown %}
  {% endif %}

  {% if data.editMATEX.county is defined %}
    {% set countyValue = data.editMATEX.county %}
  {% else %}
    {% set countyValue = patient.address.county %}
  {% endif %}

  {% if data.editMATEX.postcode is defined %}
  {% set postcodeValue = data.editMATEX.postcode %}
  {% else %}
    {% set postcodeValue = patient.address.postcode %}
  {% endif %}

  {% set address %}
  {{ addressValue1 | trim }}<br>
  {% if addressValue2 and addressValue2 | trim %}{{ addressValue2 | trim }}<br>{% endif %}
  {{ townValue | trim }}<br>
  {% if countyValue and countyValue | trim %}{{ countyValue | trim }}{% endif %}
  {% endset %}
  
  {% if address | trim == '' %}
    {% set address = '101 Test Road<br>Goldcrest Way<br>Newcastle<br>TR1 0TS' %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-third">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

              <details class="expandable-image expandable-image--small">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-two-thirds">

               <div class="nhsuk-card nhsuk-card--grey">
                    <div class="nhsuk-card__content">

                        {{ table({
                            panel: false,
                            caption: 'Application processing comparison',
                            captionClasses: 'nhsuk-u-font-size-26 nhsuk-u-margin-bottom-4',
                            firstCellIsHeader: true,
                            head: [
                                { html: '<span class="nhsuk-u-visually-hidden">Field</span>' },
                                { text: 'Proposed value' },
                                { text: 'Accepted value' }
                            ],
                            rows: [
                                [
                                    { text: 'First name' },
                                    { text: ( patient.firstName | changeOneLetter ) or 'Sorah' },
                                    { text: patient.firstName or 'Sarah' }
                                ],
                                [
                                    { text: 'Last name' },
                                    { text: ( patient.lastName | changeOneLetter ) or '' },
                                    { text: patient.lastName or 'Jahnson' }
                                ],
                                [
                                    { text: 'Date of birth' },
                                    { text: '2 July 1995' },
                                    { text: '2 July 1995' }
                                ],
                                [
                                    { text: 'NHS number' },
                                    { text: '1252 567 987' },
                                    { text: '1252 567 987' }
                                ],
                                [
                                    { text: 'Address' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' },
                                    { html: address or '12 Crown Passage, <br>Birmingham, <br>B14 9QX' }
                                ],
                                [
                                    { text: 'Phone number' },
                                    { html: '07911 123456' },
                                    { html: '07911 123456' }
                                ],
                                [
                                    { text: 'Email address' },
                                    { html: '' },
                                    { html: '' }
                                ],
                                [
                                    { text: "Child's due or birth date" },
                                    { html: '10 January 2026' },
                                    { html: '10 January 2026' }
                                ]
                            ]
                            }) }}


                            {% if data.role === 'callCentre' %}

                                  {{ textarea({
                                        name: 'notes',
                                        id: 'notes',
                                        classes: 'nhsuk-u-width-two-thirds',
                                        label: {
                                            text: 'Notes',
                                            isPageHeading: false
                                        }
                                  }) }}

                                  {{ button({
                                    href: 'case',
                                    text: 'Add note'
                                }) }}

                                
                            {% endif %}

                    </div>
                </div>
                

            </div>

          </div>

    </div>
  </div>

{% endblock %}