{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row to-keep">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }} 2025 11 18 18 12 16N3000049
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}
      </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row to-keep">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row">


        <!-- TWO THIRDS -->
         <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-card nhsuk-card--grey">
            <div class="nhsuk-card__content">

              {{ table({
                            panel: false,
                            caption: 'Application processing comparison',
                            captionClasses: 'nhsuk-u-font-size-26 nhsuk-u-margin-bottom-4',
                            firstCellIsHeader: true,
                            head: [
                                { html: '<span class="nhsuk-u-visually-hidden">Field</span>' },
                                { text: 'Accepted value' },
                                { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                            ],
                            rows: [
                                [
                                    { text: 'First name' },
                                    { text: patient.firstName or 'Sarah' },
                                    { html: '<a href="../process-application#imageFirstName">Change<span class="nhsuk-u-visually-hidden"> first name</span></a>' }
                                ],
                                [
                                    { text: 'Last name' },
                                    { text: ( patient.lastName | changeOneLetter ) or 'Jahnson' },
                                    { html: '<a href="../process-application#imageLastName">Change<span class="nhsuk-u-visually-hidden"> last name</span></a>' }
                                ],
                                [
                                    { text: 'Date of birth' },
                                    { text: '2 July 1995' },
                                    { html: '<a href="../process-application#imageDateOfBirth-day">Change<span class="nhsuk-u-visually-hidden"> date of birth</span></a>' }
                                ],
                                [
                                    { text: 'NHS number' },
                                    { text: '1252 567 987' },
                                    { html: '<a href="../process-application#imageNHSNumber">Change<span class="nhsuk-u-visually-hidden"> NHS number</span></a>' }
                                ],
                                [
                                    { text: 'Address' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' },
                                    { html: '<a href="../process-application/postcode">Change<span class="nhsuk-u-visually-hidden"> address</span></a>' }
                                ],
                                [
                                    { text: 'Phone number' },
                                    { html: '07911 123456' },
                                    { html: '<a href="../process-application/other#imagePhoneNumber">Change<span class="nhsuk-u-visually-hidden"> phone number</span></a>' }
                                ],
                                [
                                    { text: 'Email address' },
                                    { html: '' },
                                    { html: '<a href="../process-application/other#imageEmailAddress">Change<span class="nhsuk-u-visually-hidden"> email address</span></a>' }
                                ],
                                [
                                    { text: "Baby's birth date" },
                                    { html: '10 January 2026' },
                                    { html: '<a href="../process-application/other#imageBabyDateOfBirth">Change<span class="nhsuk-u-visually-hidden"> baby\'s birth date</span></a>' }
                                ],
                                [
                                    { text: 'Patient signature' },
                                    { html: 'Yes' },
                                    { html: '<a href="../process-application/other#imagePatientSignature">Change<span class="nhsuk-u-visually-hidden"> whether patient signature is present</span></a>' }
                                ],
                                [
                                    { text: 'Healthcare practitioner signature' },
                                    { html: 'Yes' },
                                    { html: '<a href="../process-application/other#imagePatientSignature">Change<span class="nhsuk-u-visually-hidden"> whether healthcare practitioner signature is present</span></a>' }
                                ]
                            ]
                            }) }}

              {% if data.role === 'callCentre' %}

                {{ textarea({
                                        name: 'notes',
                                        id: 'notes',
                                        classes: 'nhsuk-u-width-two-thirds',
                                        label: {
                                            text: 'Note',
                                            isPageHeading: false
                                        }
                                  }) }}

                {{ button({
                                    href: '#',
                                    text: 'Add note'
                                }) }}

              {% endif %}

            </div>
          </div>

        </div>



         <!-- ONE THIRD -->
        <div class="nhsuk-grid-column-one-third">

          <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

          <details class="expandable-image expandable-image--small">
            <div class="expandable-image__inner">
              <img class="expandable-image__image" src="/images/FW8-MATEX-scan.png" alt=""/>
            </div>
            <summary class="expandable-image__button nhsuk-button">
              <span class="closed">Expand image</span>
              <span class="open">Shrink image</span></summary>
          </details>

          <div class="nhsuk-card nhsuk-card--grey">
            <div class="nhsuk-card__content">

              <div class="scroll-container">
                
                {% from 'nhsapp/components/timeline/macro.njk' import nhsappTimeline %}

                {{ nhsappTimeline({
                    items: [
                      {
                        headingText: 'Application accepted and awaiting print',
                        html: '<span class="nhsuk-body-s">23 November 2025, 12:32</span>',
                        active: true
                      },
                      {
                        headingText: 'Application scanned',
                        html: '<span class="nhsuk-body-s">23 November 2025, 08:30</span>'
                      }
                    ]
                  }) }}

              </div>

            </div>
          </div>

        </div>

       

      </div>
    </div>

  {% endblock %}