{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row to-keep">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }} 2025 11 18 18 12 16N3000049
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }} 
        
        {% if data.patientID %}
          {{ patient.status | getStatusTextOrTag( true ) | safe }} {% if patient.checking === true %}{{ 'checking' | getStatusTextOrTag( true ) | safe }}{% endif %}
        {% else %}
          {{ 'accepted' | getStatusTextOrTag( true ) | safe }} {{ 'checking' | getStatusTextOrTag( true ) | safe }}
        {% endif %}

        </h1>

    </div>
  </div>

  <div class="nhsuk-grid-row to-keep">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-third">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <div class="nhsuk-grid-column-two-thirds">

               <div class="nhsuk-card nhsuk-card--grey">
                    <div class="nhsuk-card__content">

                        {{ table({
                            panel: false,
                            caption: 'Application processing comparison',
                            captionClasses: 'nhsuk-u-font-size-26 nhsuk-u-margin-bottom-4',
                            tableClasses: 'has-error',
                            firstCellIsHeader: true,
                            head: [
                                { html: '<span class="nhsuk-u-visually-hidden">Field</span>' },
                                { text: 'Shown' },
                                { text: 'Proposed value' },
                                { text: 'Accepted value' },
                                { html: '<span class="nhsuk-u-visually-hidden">Action</span>' }
                            ],
                            rows: [
                                [
                                    { text: 'First name' },
                                    { html: 'Yes' },
                                    { text: ( patient.firstName | changeOneLetter ) or 'Sorah' },
                                    { text: patient.firstName or 'Sarah' },
                                    { html: '<a href="../process-application#imageFirstName">Change<span class="nhsuk-u-visually-hidden"> first name</span></a>' }
                                ],
                                [
                                    { text: 'Last name', classes: 'error' },
                                    { html: 'Yes' },
                                    { text: '' },
                                    { text: ( patient.lastName | changeOneLetter ) or 'Jahnson' },
                                    { html: '<a href="../process-application#imageLastName">Change<span class="nhsuk-u-visually-hidden"> last name</span></a>' }
                                ],
                                [
                                    { text: 'Date of birth' },
                                    { html: 'No' },
                                    { text: '2 July 1995' },
                                    { text: '2 July 1995' },
                                    { html: '<a href="../process-application#imageDateOfBirth-day">Change<span class="nhsuk-u-visually-hidden"> date of birth</span></a>' }
                                ],
                                [
                                    { text: 'NHS number' },
                                    { html: 'No' },
                                    { text: '1252 567 987' },
                                    { text: '1252 567 987' },
                                    { html: '<a href="../process-application#imageNHSNumber">Change<span class="nhsuk-u-visually-hidden"> NHS number</span></a>' }
                                ],
                                [
                                    { text: 'Address' },
                                    { html: 'No' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' },
                                    { html: '12 Crown Passage, <br>Birmingham, <br>B14 9QX' },
                                    { html: '<a href="../process-application/postcode">Change<span class="nhsuk-u-visually-hidden"> address</span></a>' }
                                ],
                                [
                                    { text: 'Phone number' },
                                    { html: 'No' },
                                    { html: '07911 123456' },
                                    { html: '07911 123456' },
                                    { html: '<a href="../process-application/other#imagePhoneNumber">Change<span class="nhsuk-u-visually-hidden"> phone number</span></a>' }
                                ],
                                [
                                    { text: 'Email address' },
                                    { html: 'Empty' },
                                    { html: '' },
                                    { html: '' },
                                    { html: '<a href="../process-application/other#imageEmailAddress">Change<span class="nhsuk-u-visually-hidden"> email address</span></a>' }
                                ],
                                [
                                    { text: "Baby's birth date" },
                                    { html: 'No' },
                                    { html: '10 January 2026' },
                                    { html: '10 January 2026' },
                                    { html: '<a href="../process-application/other#imageBabyDateOfBirth">Change<span class="nhsuk-u-visually-hidden"> baby\'s birth date</span></a>' }
                                ],
                                [
                                    { text: 'Patient signature' },
                                    { html: 'No' },
                                    { html: 'Yes' },
                                    { html: 'Yes' },
                                    { html: '<a href="../process-application/other#imagePatientSignature">Change<span class="nhsuk-u-visually-hidden"> whether patient signature is present</span></a>' }
                                ],
                                [
                                    { text: 'Healthcare practitioner signature' },
                                    { html: 'No' },
                                    { html: 'Yes' },
                                    { html: 'Yes' },
                                    { html: '<a href="../process-application/other#imagePatientSignature">Change<span class="nhsuk-u-visually-hidden"> whether healthcare practitioner signature is present</span></a>' }
                                ]
                            ]
                            }) }}


                            <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-3">Feedback</h2>
                            <p class="nhsuk-body-s">Left by Bob Archer (BOARC) on {{ 0 | alterTodaysDateByNumberOfDays }}</p>

                            {{ insetText({
                              classes: 'nhsuk-u-margin-top-0',
                              html: '<p>The last name is incorrect...</p>'
                            }) }}



                            <div class="nhsuk-button-group">

                              {{ button({
                                text : 'Approve application',
                                href: '../process-application/confirmation?certificateStatus=applicationApproved'
                              }) }}

                              {{ button({
                                text : 'Cannot process application',
                                href: '../process-application/cannot-process-application',
                                classes: 'nhsuk-button--secondary'
                              }) }}

                            </div>
              

                    </div>
                </div>
                

            </div>

          </div>

    </div>
  </div>

{% endblock %}