{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Quality check complete' %}
{% set searchProcessor = data.searchProcessor or 'JASMI' %}

{% block content %}

  {% if data.patientID %}
    {% set patient = data.patientID | getPatientData %}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

            <div class="nhsuk-grid-column-two-thirds">


                       <!-- APPLICATION PASSED QUALITY CONTROL -->
                      {% set panelHTML %}

                        <p>The application passed the quality check</p>

                      {% endset %}

                      {{ panel({
                          titleText: pageName,
                          html: panelHTML
                      }) }}


                      <h2 class="nhsuk-heading-s">What happens next?</h2>
                      <p class="nhsuk-body">You do not need to do anything else with this application. It will continue as usual. We’ll tell {{ data.processors[searchProcessor].name }} about this successful quality check.</p>

                      <div class="nhsuk-button-group">

                        {% set destination = '../dashboard--quality-control' %}
                        {% set classes = '' %}

                        {% if data.role === 'backOfficeSupervisor' %}
                          
                          {% set destination = '../dashboard--supervisor' %}
                          {% set classes = 'nhsuk-button--secondary' %}

                          {{ button({
                            text : 'Back to ' + data.processors[data.searchProcessor].name +"'s applications",
                            href: '../processor?searchProcessor=' + data.searchProcessor
                          }) }}

                        {% endif %}

                        {{ button({
                          text : 'Back to dashboard',
                          href: destination,
                          classes: classes
                        }) }}

                      </div>



                

            </div>

          </div>

    </div>
  </div>

{% endblock %}