{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Edit personal details' %}

{% block beforeContent %}
 {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">{{ pageName }}</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-card nhsuk-card--grey">
      <div class="nhsuk-card__content">

          {{ summaryList({
            heading: "Personal details",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-s",
              classes: "nhsuk-summary-list--no-border",
              rows: [
                {
                  key: { 
                    text: "Forename (S)"
                  },
                  value: 
                  { 
                    html: input ({
                      id: "first-name",
                      name: "firstName",
                      value: "Jane"
                    })
                  }
                },
                {
                  key: { 
                    text: "Surname (A)"
                  },
                  value:
                  { 
                    html: input ({
                      id: "last-name",
                      name: "lastName",
                      value: "Smith"
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 1 (1)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-1",
                      name: "addressLineOne",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                    text: "Address line 2 (2)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "address-line-2",
                      name: "addressLineTwo",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                    text: "Town (3)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "town",
                      name: "town",
                      classes: "nhsuk-u-width-two-thirds",
                      disabled: true
                    })
                  }
                },
                {
                  key: { 
                  text: "Postcode (Z)" 
                  },
                  value: 
                  {
                    html: '
                    <div class="postcode-block">
                      ' + input({
                          id: "postcode",
                          name: "postcode",
                          classes: "nhsuk-input--width-5",
                          value: "TR11 0TS"
                        }) + '
                      
                      <div class="postcode-button">
                        ' + button({
                          text: "Edit address using postcode search (S)",
                          classes: "nhsuk-button--secondary-solid",
                          href: "postcode-search"
                        }) + '
                      </div>
                    </div>
                    '
                  }
                },
                {
                  key: { 
                    text: "Date of birth (D)" 
                  },
                  value: { 
                    html: input({
                      suffix: "(ddmmyy)",
                      classes: "nhsuk-input--width-5",
                      value: "241297"
                    })
                  }
                },
                {
                  key: { 
                    text: "Telephone number (C)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "phone-number",
                      name: "phone-number",
                      classes: "nhsuk-input--width-10",
                      value: "07123456789"
                    })
                  }
                },
                {
                  key: { 
                    text: "Email address (G)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "email",
                      name: "email",
                      value: "jane.smith@example.com"
                    })
                  }
                },
                {
                  key: { 
                    text: "Due/Birth Date (X)" 
                  },
                  value: { 
                    html: input({
                      suffix: "(ddmmyy)",
                      classes: "nhsuk-input--width-5",
                      value: "041125"
                    })
                  }
                },
                {
                  key: { 
                    text: "NHS number (V)" 
                  },
                  value:
                  { 
                    html: input ({
                      id: "nhs-number",
                      name: "nhs-number",
                      classes: "nhsuk-input--width-10",
                      value: "1234567890"
                    })
                  }
                },
                {
                  key: { 
                    text: "Notes (B)" 
                  },
                  value:
                  { 
                    html: textarea ({
                      id: "notes",
                      name: "notes"
                    })
                  }
                }
              ]
          }) }}

        <div class="nhsuk-button-group">
          {{ button
            ({ 
              text: 'Submit (I)',
              href: "case"
            })
          }}
          {{ button
            ({ classes: "nhsuk-button--secondary-solid", 
              text: 'Cancel (M)',
              href: "../search"
            }) 
          }}
        </div>
      </div>
      </div>
    </div>
</div>

<style>

    .postcode-block {
      display: flex;
      flex-direction: column;
    }

    .postcode-button .nhsuk-button {
      margin: 0;
      padding: 8px 12px;
    }

  /* --------------------------------------------------- */
  /* STACKING BREAKPOINT — small screens (≤425px)      */
  /* --------------------------------------------------- */
  @media (max-width: 425px) {

    .summary-list--single-line .nhsuk-summary-list__row {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.25rem;
      padding-bottom: 0.5rem;
    }

    .summary-list--single-line .nhsuk-summary-list__key {
      margin: 0;
    }

  }

    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT — 1024px only   */
    /* --------------------------------------------------- */
    @media (min-width: 1024px) and (max-width: 1024px) {
      .nhsuk-grid-column-two-thirds {
      width: 100%
    }
  }

    /* --------------------------------------------------- */
    /* GRID COLUMN BREAKPOINT 2 — 768px only   */
    /* --------------------------------------------------- */
  @media (max-width: 768px) {

    .postcode-inline {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }
  }

</style>



{% endblock %}