{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Reissue certificate' %}

{% block beforeContent %}

{% endblock %}


{% block content %}

  {% if data.patientID %}
  {% set patient = data.patientID | getPatientData %}
  {% endif %}

  {#{ patient | dump }#}

  {% if data.editMATEX.firstName is defined and data.editMATEX.lastName is defined %}
  {% set fullName = (data.editMATEX.firstName ~ " " ~ data.editMATEX.lastName) | trim %}
  {% else %}
    {% set fullName = ((patient.firstName ~ " " ~ patient.lastName) | trim) | default('Jane Smith', true) %}
  {% endif %}


  {% if data.editMATEX.addressLineOne is defined %}
  {% set addressValue1 = data.editMATEX.addressLineOne %}
  {% else %}
    {% set addressValue1 = patient.address.buildingNumber + " " + patient.address.streetName %}
  {% endif %}

  {% if data.editMATEX.addressLineTwo is defined %}
    {% set addressValue2 = data.editMATEX.addressLineTwo %}
  {% else %}
    {% set addressValue2 = patient.address.locality %}
  {% endif %}

  {% if data.editMATEX.town is defined %}
    {% set townValue = data.editMATEX.town %}
  {% else %}
    {% set townValue = patient.address.postTown %}
  {% endif %}

  {% if data.editMATEX.county is defined %}
    {% set countyValue = data.editMATEX.county %}
  {% else %}
    {% set countyValue = patient.address.county %}
  {% endif %}

  {% set fulfilment = data.editMATEX.certificateFulfilment or patient.fulfilment or "Email" %}

  {% if fulfilment == 'email' %}
  {% set sentAddressHtml %}
    We have sent the Maternity Exemption Certificate (MATEX) to <strong>{{ data.editMATEX.email or patient.email or 'jane.doe@example.com' }}</strong>.
  {% endset %}

  {% else %}

  {% set sentAddressHtml %}
  We have sent the Maternity Exemption Certificate (MATEX) to:<br>
  <strong>
    {{ addressValue1 }} <br>
    {{ addressValue2 }}<br>
    {{ townValue }}<br>
    {% if countyValue and countyValue | trim %}
    {{ countyValue }}<br>
    {% endif %}
    {{ postcodeValue }}
  </strong>
  <p>They will get a paper certificate in the post within 10 working days.</p>
  {% endset %}

  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ panel({
        titleText: "Reissue complete",
        text: "The customer will receive their certificate soon"
      }) }}

      <p>{{ sentAddressHtml | safe }}</p>

      <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

          <h2 class="nhsuk-heading-m">Customer's MATEX details</h2>


          {{ summaryList({
            rows: [
              {
                key: {
                  text: "Name"
                },
                value: {
                  text: fullName
                }
              },
              {
                key: { text: "Reference" },
                value: { text: patient.certificateReference or '56 913 186 386' }
              },
              {
                key: {
                  text: "Start date"
                },
                value: {
                  text: "25 November 2025"
                }
              },
              {
                key: {
                  text: "Expiry date"
                },
                value: {
                  text: "24 November 2026"
                }
              },
              {
                classes: "nhsuk-summary-list__row--no-border",
                key: {
                  text: "Notes"
                },
                value: {
                  text: ""
                }
              }
            ]
          }) }}
        </div>
      </div>

      {{ button({
        text: 'Search another certificate',
        href: "../search"
      }) }}

    </div>
  </div>

  <style>

    .nhsuk-grid-row .nhsuk-button--secondary {
      margin-left: 1rem;
    }
  </style>
{% endblock %}