{% extends 'layout.html' %}

{% set pageName = '' %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName }}</h1>


        {% set prototypeV1TabHTML %}

          <!-- PROTOTYPE TAB V1 -->

          <p>An initial prototype for Help with Health Costs (HwHC) telesales. This first iteration will handle Maternity exemption (MATEX) and HRT PPC cases.</p>

          <div class="nhsuk-button-group">

            {{ button({
              text: 'Call centre agents',
              href: '/v1/search?role=callCentre'
            }) }}

            {{ button({
              text: 'Back office staff',
              href: '/v1/back-office-dashboard?role=backOffice'
            }) }}

          </div>

        {% endset %}


    <h2 class="nhsuk-heading-l">Version 1</h2>

    {{ tabs({
      id: 'v1Tabs',
      items: [
        {
          label: 'Prototype',
          id: 'prototypeV1Tab',
          panel: { html: prototypeV1TabHTML }
        },
        {
          label: 'Page list',
          id: 'pageListV1Tab',
          panel: { html: pageListV1TabHTML }
        }
      ]
    }) }}



    </div>
  </div>
{% endblock %}
