{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
 {{ backLink({
    href: 'process-application',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">


      <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Cannot process application</h2>


              {% set unableToProcessHTML %}

                {{ textarea({
                  name: 'cannotProcessApplicationNotes',
                  id: 'cannotProcessApplicationNotes',
                  value: data.cannotProcessApplicationNotes,
                  label: {
                    text: 'Notes (optional)'
                  }
                }) }}

              {% endset %}

              
               <form method="post" novalidate>

                {{ radios({
                  idPrefix: 'cannotProcessApplication',
                  name: 'cannotProcessApplication',
                  value: data.cannotProcessApplication,
                  fieldset: {
                    legend: {
                      text: 'What would you like to do next?'
                    }
                  },
                  items: [
                    {
                      value: 'sendALetter',
                      text: 'Send a letter'
                    },
                    {
                      value: 'requestPaperKeyIn',
                      text: 'Request a paper key-in'
                    },
                    {
                      value: 'unableToProcess',
                      text: 'Reject application',
                      conditional: {
                        html: unableToProcessHTML 
                      }
                    }
                  ]
                }) }}



                


                {{ button({
                  text: 'Submit'
                }) }}

               </form>

              
        </div>
      </div>

            </div>

          </div>


    </div>
  </div>

{% endblock %}