{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
 {{ backLink({
    href: 'review-application--horizontal-labels',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- TWO THIRDS -->
            <div class="nhsuk-grid-column-one-half">

              <div class="nhsuk-card nhsuk-card--grey">
                <div class="nhsuk-card__content">

                      <h2 class="nhsuk-heading-m">Cannot process application</h2>


                      {% set askForFurtherInformationFromPatientHTML %}

                        <!-- ASK FOR FURTHER INFORMATION FROM PATIENT HTML -->

                        {% set values = [
                            "Patient's signature",
                            "Healthcare practitioner's signature",
                            "Healthcare practitioner's contact information",
                            "Date of birth",
                            'Full address including postcode',
                            'Email address',
                            'NHS number',
                            "Child's due or birth date"
                        ] %}

                        {{ checkboxes({
                          idPrefix: 'infoFromPatient',
                          name: 'infoFromPatient',
                          values: data.infoFromPatient,
                          fieldset: {
                            legend: {
                              classes: 'nhsuk-u-visually-hidden',
                              text: 'What information is needed from the patient?',
                              isPageHeading: false
                            }
                          },
                          classes: 'nhsuk-checkboxes--small',
                          items: [
                            { value: values[0], html: values[0] },
                            { value: values[1], html: values[1] },
                            { value: values[2], html: values[2] },
                            { value: values[3], html: values[3] },
                            { value: values[4], html: values[4] },
                            { value: values[5], html: values[5] },
                            { value: values[6], html: values[6] },
                            { value: values[7], html: values[7] }
                          ]
                        }) }}


                      {% endset %}



                      {% set askForFurtherInformationFromHCPHTML %}

                        <!-- ASK FOR FURTHER INFORMATION FROM HCP HTML -->

                        {% set values = [
                          "Patient's signature",
                          "Healthcare practitioner's signature",
                          "Date of birth",
                          'Full address including postcode',
                          'NHS number',
                          "Child's due or birth date"
                        ] %}

                        {{ checkboxes({
                          idPrefix: 'infoFromHCP',
                          name: 'infoFromHCP',
                          values: data.infoFromHCP,
                          fieldset: {
                            legend: {
                              classes: 'nhsuk-u-visually-hidden',
                              text: 'What information is needed from the healthcare practitioner?',
                              isPageHeading: false
                            }
                          },
                          classes: 'nhsuk-checkboxes--small',
                          items: [
                            { value: values[0], html: values[0] },
                            { value: values[1], html: values[1] },
                            { value: values[2], html: values[2] },
                            { value: values[3], html: values[3] },
                            { value: values[4], html: values[4] },
                            { value: values[5], html: values[5] }
                          ]
                        }) }}

                        <!-- <span class="nhsuk-u-secondary-text-colour"> -->


                      {% endset %}


                      {% set rejectApplicationHTML %}

                        <!-- REASON FOR REJECTION -->

                        {% set values = [
                          'Child has already reached their first birthday',
                          'Patient is outside England',
                          'Patient is under 16',
                          'Patient is over 60',
                          'Patient already has a valid exemption certificate',
                          'Application is not on a Matex form'
                        ] %}

                        {{ radios({
                          idPrefix: 'reasonForRejection',
                          name: 'reasonForRejection',
                          value: data.reasonForRejection,
                          fieldset: {
                            legend: {
                              classes: 'nhsuk-u-visually-hidden',
                              text: 'What is the reason for the rejection?'
                            }
                          },
                          classes: 'nhsuk-radios--small',
                          items: [
                            { value: values[0], html: values[0] },
                            { value: values[1], html: values[1] },
                            { value: values[2], html: values[2] },
                            { value: values[3], html: values[3] },
                            { value: values[4], html: values[4] },
                            { value: values[5], html: values[5] }
                          ]
                        }) }}

                      {% endset %}

                      
                      <form method="post" novalidate>

                        {{ radios({
                          idPrefix: 'cannotProcessApplication',
                          name: 'cannotProcessApplication',
                          value: data.cannotProcessApplication,
                          fieldset: {
                            legend: {
                              text: 'What would you like to do next?'
                            }
                          },
                          items: [
                            {
                              value: 'askForFurtherInformationFromPatient',
                              text: 'Ask the patient for further information',
                              conditional: { html: askForFurtherInformationFromPatientHTML }
                            },
                            {
                              value: 'askForFurtherInformationFromHCP',
                              text: 'Ask the healthcare practitioner for further information',
                              conditional: { html: askForFurtherInformationFromHCPHTML }
                            },
                            {
                              value: 'requestARescan',
                              text: 'Request a rescan'
                            },
                            {
                              value: 'rejectApplication',
                              text: 'Reject application',
                              conditional: { html: rejectApplicationHTML }
                            }
                          ]
                        }) }}

                        {{ textarea({
                          name: 'cannotProcessApplicationNotes',
                          id: 'cannotProcessApplicationNotes',
                          value: data.cannotProcessApplicationNotes,
                          label: {
                            text: 'Notes'
                          }
                        }) }}


                        {{ button({
                          text: 'Submit'
                        }) }}

                      </form>

                      
                </div>
              </div>

            </div>

          </div>


    </div>
  </div>

{% endblock %}