{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'Application processed' %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- APPLICATION PROCESSED - ON HOLD -->
      {{ panel({
        titleText: pageName,
        html: '<p>You have placed this application on hold</p>'
      }) }}

      {% set firstName = data.imageFirstName or 'Sarah' %}
      {% set lastName = data.imageLastName or 'Johnson' %}


      {% set reason = 'Rescan requested' %}

      {% if data.cannotProcessApplication === 'askForFurtherInformationFromPatient' %}

        {% set reason %}
          <p>Further information requested from the patient</p>
          <ul>
            {% for info in data.infoFromPatient %}<li>{{ info }}</li>{% endfor %}
          </ul>
        {% endset %}

      {% elif data.cannotProcessApplication === 'askForFurtherInformationFromHCP' %}

        {% set reason %}
          <p>Further information requested from the healthcare practitioner</p>
          <ul>
            {% for info in data.infoFromHCP %}<li>{{ info }}</li>{% endfor %}
          </ul>
        {% endset %}

      {% endif %}


      {{ summaryList({
        rows: [
          {
            key: { text: 'Name' },
            value: { text: firstName | processFullName( lastName ) }
          },
          {
            key: { text: 'Reference' },
            value: { text: '8436 810 379' }
          },
          {
            key: { text: 'Reason' },
            value: { html: reason }
          }
        ]
      }) }}


        <!-- NO CHECK -->
        <h2 class="nhsuk-heading-s">What happens next?</h2>
        <p class="nhsuk-body">You do not need to do anything else with this application.</p>





      <hr class="nhsuk-section-break nhsuk-section-break--m" />

      <div class="nhsuk-button-group">


        {% set dashboardURL = '../dashboard?backTo=' %}

        {% if data.role === 'qualityControl' %}
          {% set dashboardURL = '../dashboard--quality-control?backTo=' %}
        {% elif data.role === 'backOfficeSupervisor' %}
          {% set dashboardURL = '../dashboard--supervisor?backTo=' %}
        {% endif %}

        {% if data.backTo === 'checking' %}

          {{ button({
            text : 'Back to dashboard',
            href: dashboardURL
          }) }}

        {% else %}

          {{ button({
              text : 'Process next application',
              href: 'experimental--horizontal-labels'
            }) }}

          {{ button({
              text : 'Finish processing',
              href: dashboardURL,
              classes: 'nhsuk-button--secondary'
            }) }}

          {% endif %}

      </div>

    </div>
  </div>

{% endblock %}