{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">

            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-half sticky-column">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- TWO THIRDS -->
            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">

                <!-- HEADER LOCK-UP -->
                  <div class="nhsuk-card__content">

                    <div class="nhsuk-card__heading-container">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">Application details</h2>

                      <div class="nhsuk-card__actions">
                        {{ button({
                          id: 'toggleButton',
                          text: 'Show all fields',
                          classes: 'nhsuk-button--small nhsuk-button--secondary',
                          attributes: { 'aria-pressed': 'false' }
                        }) }}
                      </div>

                    </div>


                  <!-- SCRIPTS -->
                  <script>

                    document.addEventListener('DOMContentLoaded', function(){

                      const toggleButton = document.querySelector('#toggleButton');

                      const highlightedFields = document.querySelectorAll('.horizontal-labels .nhsuk-label:not(.nhsuk-date-input__label):has(.confidence-level), .horizontal-labels .nhsuk-fieldset__legend:not(.nhsuk-u-visually-hidden):has(.confidence-level)');
                      const allFields = document.querySelectorAll( '.horizontal-labels .nhsuk-label:not(.nhsuk-date-input__label), .horizontal-labels .nhsuk-fieldset__legend:not(.nhsuk-u-visually-hidden)' );
                      
                      const hrs = document.querySelectorAll('.horizontal-labels hr');
                      const addressButton = document.querySelector('.address-button');

                      const _showHighlightedFields = function(){

                           allFields.forEach( function( field ){
                               field.parentNode.classList.add('hidden');
                             });
 
                             highlightedFields.forEach( function( field ){
                               field.parentNode.classList.remove('hidden');
                             });
 
                             hrs.forEach( function( hr ){
                               hr.classList.add('hidden');
                             } );

                             addressButton.classList.add('hidden');

                            toggleButton.setAttribute('aria-pressed', 'false' );
                            toggleButton.textContent = 'Show all fields';

                      };

                       const _showAllFields = function(){

                            allFields.forEach( function( field ){
                              field.parentNode.classList.remove('hidden');
                            });

                            hrs.forEach( function( hr ){
                              hr.classList.remove('hidden');
                            } );

                            toggleButton.setAttribute('aria-pressed', 'true' );
                            toggleButton.textContent = 'Show highlighted fields';

                            addressButton.classList.remove('hidden');

                      };

                      if( window.location.href.indexOf('showAllFields=true') > -1 ){
                        _showAllFields();
                      } else {
                        _showHighlightedFields();
                      }


                      if( toggleButton ){

                        toggleButton.addEventListener( 'click', function(e){ 

                          if( toggleButton.getAttribute('aria-pressed') === 'false' ){
                            
                            // SHOWING ALL FIELDS
                            _showAllFields();

                          } else {

                            // SHOWING HIGHLIGHTED FIELDS
                            _showHighlightedFields();

                          }

                          e.preventDefault();
                          e.stopPropagation();

                        });

                      }

                    });

                  </script>



              <form class="horizontal-labels" method="post" novalidate>

                <!-- FORM TYPE -->

                {% set versions = [ 'FW81217', 'FW80104', 'FW80110', 'FW80211', 'FW80215', 'FW80406', 'FW80702', 'FW80710', 'FW80803', 'FW81207'] %}

                {{ select({
                  label: {
                    text: 'Form version'
                  },
                  id: 'formVersion',
                  name: 'formVersion',
                  value: 'FW81217',
                  items: [
                    { value: versions[0], text: versions[0] },
                    { value: versions[1], text: versions[1] },
                    { value: versions[2], text: versions[2] },
                    { value: versions[3], text: versions[3] },
                    { value: versions[4], text: versions[4] },
                    { value: versions[5], text: versions[5] },
                    { value: versions[6], text: versions[6] },
                    { value: versions[7], text: versions[7] },
                    { value: versions[8], text: versions[8] },
                    { value: versions[9], text: versions[9] }
                  ]
                }) }}

                <!-- FULL NAME -->
                {% call fieldset({
                  legend: {
                    text: 'Name',
                    classes: 'nhsuk-u-visually-hidden'
                  }
                }) %}

                {{ input({
                    label: {
                      html: 'Last name ' + 53 | getConfidenceTag
                    },
                    id: 'imageLastName',
                    name: 'imageLastName',
                    attributes: { 'data-focus-image' : 'lastName' },
                    classes: 'nhsuk-input--width-20',
                    value: data.imageLastName or 'Jaaahnson'
                  }) }}

                  {{ input({
                    label: {
                      html: 'First name ' + 42 | getConfidenceTag
                    },
                    id: 'imageFirstName',
                    name: 'imageFirstName',
                    attributes: { 'data-focus-image' : 'firstName' },
                    value: data.imageFirstName or 'Sorah',
                    classes: 'nhsuk-input--width-20'
                  }) }}

                  

                {% endcall %}



                {{ dateInput({
                  id: 'imageDateOfBirth',
                  namePrefix: 'imageDateOfBirth',
                  fieldset: {
                    legend: {
                      html: 'Date of birth ' + 87 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.day or '2',
                      attributes: { 'data-focus-image' : 'dateOfBirth' }
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.month or '7',
                      attributes: { 'data-focus-image' : 'dateOfBirth' }
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageDateOfBirth.year or '1995',
                      attributes: { 'data-focus-image' : 'dateOfBirth' }
                    }
                  ]
                }) }}


                {{ input({
                    label: {
                      html: 'NHS number ' + 67 | getConfidenceTag
                    },
                    id: 'imageNHSNumber',
                    name: 'imageNHSNumber',
                    attributes: { 'data-focus-image' : 'nhsNumber' },
                    classes: 'nhsuk-input--width-10',
                    value: data.imageNHSNumber or '1252 567 987'
                  }) }}


                <hr />

                <!-- ADDRESS -->
                {% call fieldset({
                  legend: {
                    html: 'Address',
                    classes: 'nhsuk-u-visually-hidden'
                  }
                }) %}

                    {{ input({
                      label: {
                        html: 'House number or name ' + 67 | getConfidenceTag
                      },
                      id: 'imageBuildingNumberOrName',
                      name: 'imageBuildingNumberOrName',
                      attributes: { 'data-focus-image' : 'houseNumber' },
                      classes: 'nhsuk-input--width-10',
                      value: data.imageBuildingNumberOrName or '12'
                    }) }}

                    {{ input({
                      label: {
                        html: 'Address line 1 ' + 87 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageAddressLine1',
                      name: 'imageAddressLine1',
                      attributes: { 'data-focus-image' : 'street' },
                      value: data.imageAddressLine1 or 'Crown Passage'
                    }) }}

                    {{ input({
                      label: {
                        html: 'Address line 2 ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageAddressLine2',
                      name: 'imageAddressLine2',
                      attributes: { 'data-focus-image' : 'address' },
                      value: data.imageAddress2
                    }) }}

                    {{ input({
                      label: {
                        html: 'Town or city ' + 77 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageTown',
                      name: 'imageTown',
                      attributes: { 'data-focus-image' : 'town' },
                      value: data.imageTown or 'Birmingham'
                    }) }}

                    {{ input({
                      label: {
                        html: 'County ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      classes: 'nhsuk-input--width-10',
                      id: 'imageCounty',
                      name: 'imageCounty',
                      attributes: { 'data-focus-image' : 'address' },
                      value: data.imageCounty
                    }) }}

                    {{ input({
                      label: {
                        html: 'Postcode ' + 89 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePostcode',
                      name: 'imagePostcode',
                      attributes: { 'data-focus-image' : 'postcode' },
                      value: data.imagePostcode or 'B14 9QX'
                    }) }}

                  {% endcall %}

                  <div class="nhsuk-button-group address-button">
                    {{ button({
                      html: '<span data-ak="G">Populate address fields using address lookup</span>',
                      classes: "nhsuk-button--secondary nhsuk-button--small",
                      href: "/v1/hrtppc/address-lookup?source=newHRT&returnTo=%2Fv1%2Fprocess-application%2Fexperimental--horizontal-labels%3FshowAllFields%3Dtrue%23postcode"
                    }) }}
                  </div>

                <hr />


              <!-- CONTACT DETAILS -->
              

                {{ input({
                      label: {
                        html: 'Phone number ' + 87 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'tel', autocomplete: 'off', 'data-focus-image' : 'telephoneNumber' },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePhoneNumber',
                      name: 'imagePhoneNumber',
                      value: data.imagePhoneNumber or '07911 123456'
                  }) }}


                   {{ input({
                      label: {
                        html: 'Email address ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'email', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageEmailAddress',
                      name: 'imageEmailAddress',
                      attributes: { 'data-focus-image' : 'emailAddress' },
                      value: data.imageEmailAddress
                  }) }}





              

                {{ dateInput({
                  id: 'imageBabyDateOfBirth',
                  namePrefix: 'imageBabyDateOfBirth',
                  fieldset: {
                    legend: {
                      html: "Child's due or birth date " + 12 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.day or '',
                      attributes: { 'data-focus-image' : 'childsDueOrBirthDate' }
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.month or '',
                      attributes: { 'data-focus-image' : 'childsDueOrBirthDate' }
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageBabyDateOfBirth.year or '',
                      attributes: { 'data-focus-image' : 'childsDueOrBirthDate' }
                    }
                  ]
                }) }}


                <hr />


                <!-- SIGNATURES -->
                {{ radios({
                  idPrefix: 'imagePatientSignature',
                  name: 'imagePatientSignature',
                  value: data.imagePatientSignature or 'yes',
                  attributes: { 'data-focus-image' : 'patientSignature' },
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the patient signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}


                 {{ radios({
                  idPrefix: 'imageHealthcarePractitionerSignature',
                  name: 'imageHealthcarePractitionerSignature',
                  value: data.imageHealthcarePractitionerSignature or 'yes',
                  attributes: { 'data-focus-image' : 'healthcarePractitionerSignature' },
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the healthcare practitioner signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}

                {{ radios({
                  idPrefix: 'imageHealthcarePractitionerDetails',
                  name: 'imageHealthcarePractitionerDetails',
                  value: data.imageHealthcarePractitionerDetails or 'yes',
                  attributes: { 'data-focus-image' : 'healthcarePractitionerDetails' },
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Are the healthcare practitioner\'s details present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}


                <div class="nhsuk-button-group">

                  {{ button({
                    html : '<span data-ak="I">Continue</span>'
                  }) }}

                </div>

              </form>

                


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}