{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">

            <!-- ONE THIRD -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- TWO THIRDS -->
            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">

                <!-- HEADER LOCK-UP -->
                  <div class="nhsuk-card__content">

                    <div class="nhsuk-card__heading-container">
                      <h2 class="nhsuk-card__heading nhsuk-heading-m">Application details</h2>

                      <div class="nhsuk-card__actions">
                        {{ button({
                          id: 'toggleButton',
                          text: 'Show all fields',
                          classes: 'nhsuk-button--small nhsuk-button--secondary',
                          attributes: { 'aria-pressed': 'false' }
                        }) }}
                      </div>

                    </div>


                  <!-- SCRIPTS -->
                  <script>

                    document.addEventListener('DOMContentLoaded', function(){

                      const toggleButton = document.querySelector('#toggleButton');

                      const highlightedFields = document.querySelectorAll('.horizontal-labels .nhsuk-label:not(.nhsuk-date-input__label):has(.confidence-level), .horizontal-labels .nhsuk-fieldset__legend:not(.nhsuk-u-visually-hidden):has(.confidence-level)');
                      const allFields = document.querySelectorAll( '.horizontal-labels .nhsuk-label:not(.nhsuk-date-input__label), .horizontal-labels .nhsuk-fieldset__legend:not(.nhsuk-u-visually-hidden)' );
                      const hrs = document.querySelectorAll('.horizontal-labels hr');


                      const _showHighlightedFields = function(){

                           allFields.forEach( function( field ){
                               field.parentNode.classList.add('hidden');
                             });
 
                             highlightedFields.forEach( function( field ){
                               field.parentNode.classList.remove('hidden');
                             });
 
                             hrs.forEach( function( hr ){
                               hr.classList.add('hidden');
                             } );

                      };

                       const _showAllFields = function(){

                            allFields.forEach( function( field ){
                              field.parentNode.classList.remove('hidden');
                            });

                            hrs.forEach( function( hr ){
                              hr.classList.remove('hidden');
                            } );

                      };

                      if( window.location.href.indexOf('showAllFields=true') > -1 ){
                        _showAllFields();
                      } else {
                        _showHighlightedFields();
                      }


                      if( toggleButton ){

                        toggleButton.addEventListener( 'click', function(e){ 

                          if( toggleButton.getAttribute('aria-pressed') === 'false' ){
                            
                            // SHOWING ALL FIELDS
                            toggleButton.setAttribute('aria-pressed', 'true' );
                            toggleButton.textContent = 'Show highlighted fields';
                            
                            _showAllFields();

                          } else {

                            // SHOWING HIGHLIGHTED FIELDS
                            toggleButton.setAttribute('aria-pressed', 'false' );
                            toggleButton.textContent = 'Show all fields';

                            _showHighlightedFields();

                          }

                          e.preventDefault();
                          e.stopPropagation();

                        });

                      }

                    });

                  </script>



              <form class="horizontal-labels" method="post" novalidate>

               

                <!-- FULL NAME -->
                {% call fieldset({
                  legend: {
                    text: 'Name',
                    classes: 'nhsuk-u-visually-hidden'
                  }
                }) %}

                {{ input({
                    label: {
                      html: 'Last name ' + 53 | getConfidenceTag
                    },
                    id: 'imageLastName',
                    name: 'imageLastName',
                    classes: 'nhsuk-input--width-20',
                    value: data.imageLastName or 'Jaaahnson'
                  }) }}

                  {{ input({
                    label: {
                      html: 'First name ' + 42 | getConfidenceTag
                    },
                    id: 'imageFirstName',
                    name: 'imageFirstName',
                    value: data.imageFirstName or 'Sorah',
                    classes: 'nhsuk-input--width-20'
                  }) }}

                  

                {% endcall %}



                {{ dateInput({
                  id: 'imageDateOfBirth',
                  namePrefix: 'imageDateOfBirth',
                  fieldset: {
                    legend: {
                      html: 'Date of birth ' + 87 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.day or '2'
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.month or '7'
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageDateOfBirth.year or '1995'
                    }
                  ]
                }) }}


                {{ input({
                    label: {
                      html: 'NHS number ' + 67 | getConfidenceTag
                    },
                    id: 'imageNHSNumber',
                    name: 'imageNHSNumber',
                    classes: 'nhsuk-input--width-10',
                    value: data.imageNHSNumber or '1252 567 987'
                  }) }}


                <hr />

                <!-- ADDRESS -->
                {% call fieldset({
                  legend: {
                    html: 'Address',
                    classes: 'nhsuk-u-visually-hidden'
                  }
                }) %}

                    {{ input({
                      label: {
                        html: 'House number or name ' + 67 | getConfidenceTag
                      },
                      id: 'imageBuildingNumberOrName',
                      name: 'imageBuildingNumberOrName',
                      classes: 'nhsuk-input--width-10',
                      value: data.imageBuildingNumberOrName or '12'
                    }) }}

                    {{ input({
                      label: {
                        html: 'Address line 1 ' + 87 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageAddressLine1',
                      name: 'imageAddressLine1',
                      value: data.imageAddressLine1 or 'Crown Passage'
                    }) }}

                    {{ input({
                      label: {
                        html: 'Address line 2 ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageAddressLine2',
                      name: 'imageAddressLine2',
                      value: data.imageAddress2
                    }) }}

                    {{ input({
                      label: {
                        html: 'Town or city ' + 77 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageTown',
                      name: 'imageTown',
                      value: data.imageTown or 'Birmingham'
                    }) }}

                    {{ input({
                      label: {
                        html: 'County ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      classes: 'nhsuk-input--width-10',
                      id: 'imageCounty',
                      name: 'imageCounty',
                      value: data.imageCounty
                    }) }}

                    {{ input({
                      label: {
                        html: 'Postcode ' + 89 | getConfidenceTag
                      },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePostcode',
                      name: 'imagePostcode',
                      value: data.imagePostcode or 'B14 9QX'
                    }) }}

                  {% endcall %}

                <hr />


              <!-- CONTACT DETAILS -->
              

                {{ input({
                      label: {
                        html: 'Phone number ' + 87 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'tel', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePhoneNumber',
                      name: 'imagePhoneNumber',
                      value: data.imagePhoneNumber or '07911 123456'
                  }) }}


                   {{ input({
                      label: {
                        html: 'Email address ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'email', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageEmailAddress',
                      name: 'imageEmailAddress',
                      value: data.imageEmailAddress
                  }) }}





              

                {{ dateInput({
                  id: 'imageBabyDateOfBirth',
                  namePrefix: 'imageBabyDateOfBirth',
                  fieldset: {
                    legend: {
                      html: "Baby's date of birth " + 12 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.day or ''
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.month or ''
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageBabyDateOfBirth.year or ''
                    }
                  ]
                }) }}


                <hr />


                <!-- SIGNATURES -->
                {{ radios({
                  idPrefix: 'imagePatientSignature',
                  name: 'imagePatientSignature',
                  value: data.imagePatientSignature or 'yes',
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the patient signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}


                 {{ radios({
                  idPrefix: 'imageHealthcarePractitionerSignature',
                  name: 'imageHealthcarePractitionerSignature',
                  value: data.imageHealthcarePractitionerSignature or 'yes',
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the healthcare practitioner signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}




                <div class="nhsuk-button-group">

                  {{ button({
                    text : 'Continue'
                  }) }}

                  {#{ button({
                    text : 'Cannot process application',
                    href: 'cannot-process-application',
                    classes: 'nhsuk-button--secondary'
                  }) }#}

                </div>

              </form>

                


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}