{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    text: 'Back'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">

              <h2 class="nhsuk-heading-m nhsuk-u-visually-hidden">Scanned application</h2>

              <details class="expandable-image">
                <div class="expandable-image__inner">
                  <img class="expandable-image__image" width="2323" height="1670" src="/images/FW8-MATEX-scan.png" alt=""/>
                </div>
                <summary class="expandable-image__button nhsuk-button">
                  <span class="closed">Expand image</span>
                  <span class="open">Shrink image</span></summary>
              </details>

            </div>

            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Confirm patient details</h2>

              <form method="post" novalidate>


                <!-- FULL NAME -->
                {% call fieldset({
                  legend: {
                    text: 'Personal details',
                    classes: 'nhsuk-u-visually-hidden'
                  }
                }) %}

                {{ input({
                    label: {
                      html: 'Last name ' + 13 | getConfidenceTag
                    },
                    id: 'imageLastName',
                    name: 'imageLastName',
                    classes: 'nhsuk-input--width-20',
                    value: data.imageLastName or 'Jaaahnson'
                  }) }}

                  {{ input({
                    label: {
                      html: 'First name ' + 42 | getConfidenceTag
                    },
                    id: 'imageFirstName',
                    name: 'imageFirstName',
                    value: data.imageFirstName or 'Sorah',
                    classes: 'nhsuk-input--width-20'
                  }) }}

                  

             

                {{ dateInput({
                  id: 'imageDateOfBirth',
                  namePrefix: 'imageDateOfBirth',
                  fieldset: {
                    legend: {
                      html: 'Date of birth ' + 87 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.day or '2'
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageDateOfBirth.month or '7'
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageDateOfBirth.year or '1995'
                    }
                  ]
                }) }}




                {{ input({
                    label: {
                      html: 'NHS number ' + 67 | getConfidenceTag
                    },
                    id: 'imageNHSNumber',
                    name: 'imageNHSNumber',
                    classes: 'nhsuk-input--width-10',
                    value: data.imageNHSNumber or '1252 567 987'
                  }) }}

               
                  {% endcall %}


                    <hr class="nhsuk-section-break nhsuk-section-break--m" />


                  <div class="nhsuk-button-group">

                    {{ button({
                      text : 'Continue'
                    }) }}

                  </div>

                </form>

                <style>



                  img[width] {
                    width: calc( attr(width)/2 );
                  }


                  /* JUST AFTER LABEL */

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: inline;
                    white-space: nowrap;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  




                  /* UNDER LABEL VERSION 

                  .confidence-level {
                    vertical-align: text-bottom;
                    display: block;
                    white-space: nowrap;
                    margin-bottom: 0.75rem;
                  }

                  .confidence-level .confidence-score {
                    border-left: 0;
                  }

                  */
                  


                  /* ALIGN TO RIGHT VERSION

                  .nhsuk-details__text .nhsuk-form-group {
                    position: relative;
                  }

                  .confidence-level {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                  }
                  */
                  
            

                </style>


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}