{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
{{ backLink({
    href: '../dashboard',
    html: '<span data-ak="B">Return to your dashboard</span>'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-half">

    <h1 class="nhsuk-heading-m">{{ pageName }}
      {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
      {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

  </div>
  {% set processedToday = data.applicationStats.total %}
  <div class="nhsuk-grid-column-one-half">
    {% set insetTextHtml %}
    <p>Applications processed today: <strong>{{ processedToday }}</strong></p>
    {% endset %}

    {{ insetText({
    html: insetTextHtml,
    classes: 'nhsuk-u-padding-bottom-2 nhsuk-u-padding-top-2 nhsuk-u-margin-0 nhsuk-u-float-right'
    }) }}
  </div>
</div>


<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <div class="nhsuk-grid-row">

      <!-- ONE THIRD -->
      <div class="nhsuk-grid-column-one-half sticky-column">

        {% from '../macros/image.njk' import image %}
        {{ image() }}

      </div>

      <!-- TWO THIRDS -->
      <div class="nhsuk-grid-column-one-half">


     <h2 class="nhsuk-heading-m">Request for this application to be keyed from paper</h2>

        {{ textarea({
        name: "kfpNotes",
        id: "kfp-notes",
        rows: "3",
        label: {
        text: "Notes (optional)"
        }
        }) }}

        <div class="nhsuk-button-group">
            {% if data.scenarioIndex % 2 == 0 %}
              {{ button({ html: '<span data-ak="I">Next</span>', href: './matex' }) }}
            {% else %}
              {{ button({ html: '<span data-ak="I">Next</span>', href: './medex' }) }}
            {% endif %}
            {{ button({
              html: '<span data-ak="K">Finish processing</span>',
              href: '/v1/dashboard',
              classes: 'nhsuk-button--secondary'
            }) }}
          </div>

      </div>

    </div>


  </div>
</div>



{% endblock %}