{% extends 'layout-fullscreen-normal-content.html' %}

{% set pageName = 'New manual application' %}

{% block beforeContent %}
{{ backLink({
href: 'javascript:history.go(-1)',
html: '<span data-ak="B">Back</span>'
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

        <h1 class="nhsuk-heading-m">{{ pageName }}</h1>

    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">



        <div class="nhsuk-grid-row">


            <!-- FULL -->
            <div class="nhsuk-grid-column-full">

                <div>

                  

                       

                            <ul class="nhsuk-grid-row nhsuk-card-group">
                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                    {{ card({
                                    clickable: true,
                                    href: "new-matex-application",
                                    heading: "Maternity exemption certificate",
                                    headingSize: "m"
                                    }) }}
                                </li>
                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                    {{ card({
                                    clickable: true,
                                    href: "new-medex-application",
                                    heading: "Medical exemption certificate",
                                    headingSize: "m"
                                    }) }}
                                </li>
                                <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
                                    {{ card({
                                    clickable: true,
                                    href: "new-ppc-application",
                                    heading: "Prescription prepayment certificate",
                                    headingSize: "m"
                                    }) }}
                                </li>
                            </ul>


                </div>



            </div>

        </div>



    </div>
</div>

{% endblock %}