{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Confirm contact details and due date</h2>

              <form method="post" novalidate>

                  {{ input({
                      label: {
                        html: 'Phone number ' + 87 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'tel', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-10',
                      id: 'imagePhoneNumber',
                      name: 'imagePhoneNumber',
                      value: data.imagePhoneNumber or '07911 123456'
                  }) }}


                   {{ input({
                      label: {
                        html: 'Email address ' + 0 | getConfidenceTag + ' (optional)'
                      },
                      attributes: { type: 'email', autocomplete: 'off' },
                      classes: 'nhsuk-input--width-20',
                      id: 'imageEmailAddress',
                      name: 'imageEmailAddress',
                      value: data.imageEmailAddress
                  }) }}
               


                {{ dateInput({
                  id: 'imageBabyDateOfBirth',
                  namePrefix: 'imageBabyDateOfBirth',
                  fieldset: {
                    legend: {
                      html: "Child's due or birth date " + 92 | getConfidenceTag
                    }
                  },
                  items: [
                    {
                      name: 'day',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.day or '10'
                    },
                    {
                      name: 'month',
                      classes: 'nhsuk-input--width-2',
                      value: data.imageBabyDateOfBirth.month or '8'
                    },
                    {
                      name: 'year',
                      classes: 'nhsuk-input--width-4',
                      value: data.imageBabyDateOfBirth.year or '2026'
                    }
                  ]
                }) }}


                {{ radios({
                  idPrefix: 'imagePatientSignature',
                  name: 'imagePatientSignature',
                  value: data.imagePatientSignature,
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the patient signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}


                 {{ radios({
                  idPrefix: 'imageHealthcarePractitionerSignature',
                  name: 'imageHealthcarePractitionerSignature',
                  value: data.imageHealthcarePractitionerSignature,
                  classes: 'nhsuk-radios--inline',
                  fieldset: {
                    legend: {
                      text: 'Is the healthcare practitioner signature present?',
                      isPageHeading: false
                    }
                  },
                  items: [
                    { value: 'yes', text: 'Yes' },
                    { value: 'no', text: 'No' }
                  ]
                }) }}


                    

                  <hr class="nhsuk-section-break nhsuk-section-break--m" />


                  <div class="nhsuk-button-group">

                    {{ button({
                      text : 'Continue'
                    }) }}


                  </div>

                 

                </form>

               


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}