{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application 2025 11 18 18 12 16N3000049' %}

{% block beforeContent %}
  {{ backLink({
    href: 'javascript:history.go(-1)',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }}
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

     

          <div class="nhsuk-grid-row">

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Confirm patient address</h2>

              <form method="post" novalidate>
              <!--
              
              Can't use until Shai-halud is sorted...

              <form action="postcode-handler" method="get" novalidate>-->


               {% call fieldset({
                    legend: {
                        text: 'Address details',
                        classes: 'nhsuk-u-visually-hidden'
                    }
                }) %}

                    <!-- POSTCODE -->
                    {{ input({
                        label: {
                            html: 'Postcode ' + 89 | getConfidenceTag
                        },
                        classes: 'nhsuk-input--width-10',
                        attributes: { 'autocomplete' : 'off' },
                        id: 'imagePostcode',
                        name: 'imagePostcode',
                        value: data.imagePostcode or 'B14 9QX'
                    }) }}

                    <!-- BUILDING NUMBER OR NAME -->
                    {{ input({
                        label: {
                            html: 'House number or name ' + 67 | getConfidenceTag
                        },
                        classes: 'nhsuk-input nhsuk-input--width-20',
                        hint: {
                            text: 'For example, 15 or Prospect Cottage'
                        },
                        id: 'imageHouseNumberOrName',
                        name: 'imageHouseNumberOrName',
                        value: data.imageBuildingNumberOrName or '12'
                    }) }}


                {% endcall %}



                    <hr class="nhsuk-section-break nhsuk-section-break--m" />


                  <div class="nhsuk-button-group">

                    {{ button({
                      text : 'Continue'
                    }) }}


                  </div>


                  <p class="nhsuk-body"><a href="manual-entry">Enter address manually</a></p>

                </form>


              </div>
              </div>



            </div>

          </div>

     

    </div>
  </div>

{% endblock %}