{% extends 'layout-fullscreen.html' %}

{% set pageName = 'Application' %}
{% set bannerRole = 'backOffice' %}

{% block beforeContent %}
 {{ backLink({
    href: 'experimental--horizontal-labels',
    html: '<span data-ak="B">Back</span>'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-heading-m">{{ pageName }} 2025 11 18 18 12 16N3000049
        {{ 'matex' | getCertificateTypeTextOrTag( true ) | safe }}
        {{ 'processing' | getStatusTextOrTag( true ) | safe }}</h1>

    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

          <div class="nhsuk-grid-row">

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

              {% from '../macros/image.njk' import image %}
              {{ image() }}

            </div>

            <!-- ONE HALF -->
            <div class="nhsuk-grid-column-one-half">

               <div class="nhsuk-card nhsuk-card--grey">
        <div class="nhsuk-card__content">

              <h2 class="nhsuk-heading-m">Review application</h2>

              <h3 class="nhsuk-heading-s">Personal details</h3>

              {% set firstName = data.imageFirstName %}
              {% set lastName = data.imageLastName %}

              {% set houseNumber = data.imageBuildingNumberOrName %}
              {% set addressLine1 = data.imageAddressLine1 %}
              {% set addressLine2 = data.imageAddressLine2 %}
              {% set town = data.imageTown %}
              {% set county = data.imageCounty %}
              {% set postcode = data.imagePostcode %}

              {{ summaryList({
                  rows: [
                    {
                      key: { text: 'Name' },
                      value: { text: firstName | processFullName( lastName ) },
                      actions: {
                        items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageLastName', text: 'Change', visuallyHiddenText: 'name' }
                        ]
                      }
                    },
                    {
                      key: { text: 'Date of birth' },
                      value: { text: data.dateOfBirth | processDate },
                      actions: {
                         items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageDateOfBirth', text: 'Change', visuallyHiddenText: 'date of birth' }
                        ]
                      }
                    },
                    {
                      key: { text: 'NHS number' },
                      value: { text: data.imageNHSNumber },
                      actions: {
                         items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageNHSNumber', text: 'Change', visuallyHiddenText: 'NHS number' }
                        ]
                      }
                    },
                    {
                      key: { text: 'Address' },
                      value: { html: houseNumber | processAddress( addressLine1, addressLine2, town, county, postcode ) },
                      actions: {
                         items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#postcode', text: 'Change', visuallyHiddenText: 'address' }
                        ]
                      }
                    }
                  ]
                }) }}

                <h3 class="nhsuk-heading-s">Contact details</h3>

                {{ summaryList({
                  rows: [
                    {
                      key: { text: 'Phone number' },
                      value: { text: data.imagePhoneNumber },
                      actions: {
                        items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imagePhoneNumber', text: 'Change', visuallyHiddenText: 'phone number' }
                        ]
                      }
                    },
                    {
                      key: { text: 'Email address' },
                      value: { text: data.imageEmailAddress },
                      actions: {
                         items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageEmailAddress', text: 'Change', visuallyHiddenText: 'email address' }
                        ]
                      }
                    }
                  ]
                }) }}


                <h3 class="nhsuk-heading-s">Child's details</h3>

                {{ summaryList({
                  rows: [
                    {
                      key: { text: "Child's due or birth date" },
                      value: { text: '10 August 2026' },
                      actions: {
                        items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageBabyDateOfBirth', text: 'Change', visuallyHiddenText: "Child's due or birth date" }
                        ]
                      }
                    }
                  ]
                }) }}


                <h3 class="nhsuk-heading-s">Signatures</h3>

                {{ summaryList({
                  rows: [
                    {
                      key: { text: 'Patient signature' },
                      value: { text: ( data.imagePatientSignature | capitalize ) },
                      actions: {
                        items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imagePatientSignature', text: 'Change', visuallyHiddenText: 'whether patient signature is present' }
                        ]
                      }
                    },
                    {
                      key: { text: 'Healthcare practitioner signature' },
                      value: { text: ( data.imageHealthcarePractitionerSignature | capitalize ) or 'Yes' },
                      actions: {
                        items: [
                          { href: 'experimental--horizontal-labels?showAllFields=true#imageHealthcarePractitionerSignature', text: 'Change', visuallyHiddenText: 'whether healthcare practitioner signature is present' }
                        ]
                      }
                    }
                  ]
                }) }}



                {{ warningCallout({
                  heading: 'Recommendation',
                  html: '<p class="nhsuk-body">This application is missing the following information:</p>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li>Patient\'s full name</li>
                    <li>Healthcare practitoner\'s signature</li>
                  </ul>
                  <p>Send a letter to the healthcare practitioner requesting this information.</p>
                  <p><a href="---">Follow recommendation</a></p>'
                }) }}




                <div class="nhsuk-button-group">

                  {{ button({
                    html: '<span data-ak="I">Approve application</span>',
                    href: 'confirmation?certificateStatus=applicationApproved'
                  }) }}

                  {{ button({
                    html: '<span data-ak="K">Cannot process application</span>',
                    href: 'cannot-process-application--horizontal-labels',
                    classes: 'nhsuk-button--secondary'
                  }) }}

                </div>

                </div>
                </div>
                

            </div>

          </div>

    </div>
  </div>

{% endblock %}